<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="2XDX" value="2XDX" />标准选号</label>
        <label><input type="radio" name="gametype" url="2xhz" value="2xhz" way="3" />和值选号</label>
</div>
