@*<div class="game-ballsmain">
    <span class="gray"><b>二星和值：</b>竞猜开奖号码最后两位的数字相加之和，选择1个或多个和值号码投注，奖金<b class="red">100</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc1">和值</li>
            <li class="desc1">组合</li>
        </ul>
        <ul class="ball">
            <li class="numbers">
            <li class="numbers"><b count="1">0</b>
            <li class="numbers"><b count="2">1</b>
            <li class="numbers"><b count="3">2</b>
            <li class="numbers"><b count="4">3</b>
            <li class="numbers"><b count="5">4</b>
            <li class="numbers"><b count="6">5</b>
            <li class="numbers"><b count="7">6</b>
            <li class="numbers"><b count="8">7</b>
            <li class="numbers"><b count="9">8</b>
            <li class="numbers"><b count="10">9</b>
            <li class="numbers"><b count="9">10</b>
            <li class="numbers"><b count="8">11</b>
            <li class="numbers"><b count="7">12</b>
            <li class="numbers"><b count="6">13</b>
            <li class="numbers"><b count="5">14</b>
            <li class="numbers"><b count="4">15</b>
            <li class="numbers"><b count="3">16</b>
            <li class="numbers"><b count="2">17</b>
            <li class="numbers"><b count="1">18</b>
            </li>
            <li class="desc"><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>6</i><i>7</i><i>8</i><i>9</i><i>10</i><i>9</i><i>8</i><i>7</i><i>6</i><i>5</i><i>4</i><i>3</i><i>2</i><i>1</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>*@
<h1 class="playprompt">
    <em class="red">二星和值：</em>竞猜开奖号码最后两位的数字相加之和，选择1个或多个和值号码投注，奖金：<em class="fred">100</em>元！ 
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>和值区</strong> &nbsp;至少选择<em class="c_ba1d21">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b></div>
        <div style="width: 610px" class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b count="1">0</b></li>
                <li class="numbers"><b count="2">1</b></li>
                <li class="numbers"><b count="3">2</b></li>
                <li class="numbers"><b count="4">3</b></li>
                <li class="numbers"><b count="5">4</b></li>
                <li class="numbers"><b count="6">5</b></li>
                <li class="numbers"><b count="7">6</b></li>
                <li class="numbers"><b count="8">7</b></li>
                <li class="numbers"><b count="9">8</b></li>
                <li class="numbers"><b count="10">9</b></li>
                <li class="numbers"><b count="9">10</b></li>
                <li class="numbers"><b count="8">11</b></li>
                <li class="numbers"><b count="7">12</b></li>
                <li class="numbers"><b count="6">13</b></li>
                <li class="numbers"><b count="5">14</b></li>
                <li class="numbers"><b count="4">15</b></li>
                <li class="numbers"><b count="3">16</b></li>
                <li class="numbers"><b count="2">17</b></li>
                <li class="numbers"><b count="1">18</b></li>
            </ul>
        </div>
    </div>
</div>