<div class="game-ballsmain">
    <span class="gray"><b>二组分位：</b>竞猜开奖号码的最后两位，分别选择每位的个或以上号码投注，非对子奖金<b class="red">50</b>元，对子奖金<b class="red">100</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">十位</li>
            <li>
                <select>
                    <option value="ZX2XLose">遗漏</option>
                    <option value="ZX2XHot">冷热</option>
                </select>
            </li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b>@GameHelper.BallsFilter()</li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">个位</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b>@GameHelper.BallsFilter()</li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>