<div class="bet_snav">
    <label><input type="radio" name="gametype" url="2XZXFS" value="2XZXFS" />二组复式</label>
    @*<label class="hide"><input type="radio" name="gametype" url="2XZXFW" value="2XZXFW" />二组分位</label>*@
 @*   <label><input type="radio" name="gametype" url="2XBAODAN" value="2XBAODAN" />二组包胆</label>*@
    @*<label class="hide"><input type="radio" name="gametype" url="2XBAODIAN" value="2XBAODIAN" />二组包点</label>*@
</div>
