<div class="game-ballsmain">
    <span class="gray"><b>3组包点：</b>竞猜开奖号码后面三位的数字相加之和，开奖号码为豹子形态奖金<b class="red">1000</b>元;组3形态奖金<b
        class="red">320</b>元;组6形态奖金<b class="red">160</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">包点</li>
            <li class="desc gray">包含注数</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b count="1">0</b><b count="1">1</b><b count="2">2</b><b count="3">3</b><b
                count="4">4</b><b count="5">5</b><b count="7">6</b><b count="8">7</b><b count="10">8</b><b
                    count="12">9</b><b count="13">10</b><b count="14">11</b><b count="15">12</b><b count="15">13</b></li>
            <li class="desc"><i>1</i><i>1</i><i>2</i><i>3</i><i>4</i><i>5</i><i>7</i><i>8</i><i>10</i><i>12</i><i>13</i><i>14</i><i>15</i><i>15</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">包点</li>
            <li class="desc gray">包含注数</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b count="15">14</b><b count="15">15</b><b count="14">16</b><b
                count="13">17</b><b count="12">18</b><b count="10">19</b><b count="8">20</b><b count="7">21</b><b
                    count="5">22</b><b count="4">23</b><b count="3">24</b><b count="2">25</b><b count="1">26</b><b
                        count="1">27</b></li>
            <li class="desc"><i>15</i><i>15</i><i>14</i><i>13</i><i>12</i><i>10</i><i>8</i><i>7</i><i>5</i><i>4</i><i>3</i><i>2</i><i>1</i><i>1</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>