<div class="game-ballsmain">
    <span class="gray"><b>3组包胆：</b>竞猜开奖号码的后三位胆码，所有胆码开出即中奖，2个胆码包含10注；开奖号码为豹子形态奖金<em class="red">1000</em>元;组三形态奖金<em class="red">320</em>元;组六形态奖金<em class="red">160</em>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">胆一</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">胆二</li>
            <li>
                <select>
                    <option value="ZX3XLose">遗漏</option>
                    <option value="ZX3XHot">冷热</option>
                </select>
            </li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>