@*<div class="game-ballsmain">
    <span class="gray"><b>标准3星：</b>竞猜开奖号码的后面三位，分别选择百位、十位和个位的1个或多个号码投注，奖金<b class="red">1000</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">和值</li>
            <li class="desc gray">包含注数</li>
        </ul>
        <ul class="ball">
            <li class="numbers">
            <li class="numbers"><b count="1">0</b>
            <li class="numbers"><b count="3">1</b>
            <li class="numbers"><b count="6">2</b>
            <li class="numbers"><b count="10">3</b>
            <li class="numbers"><b count="15">4</b>
            <li class="numbers"><b count="21">5</b>
            <li class="numbers"><b count="28">6</b>
            <li class="numbers"><b count="36">7</b>
            <li class="numbers"><b count="45">8</b>
            <li class="numbers"><b count="55">9</b>
            <li class="numbers"><b count="63">10</b>
            <li class="numbers"><b count="69">11</b>
            <li class="numbers"><b count="73">12</b>
            <li class="numbers"><b count="75">13</b>
            </li>
            <li class="desc"><i>1</i><i>3</i><i>6</i><i>10</i><i>15</i><i>21</i><i>28</i><i>36</i><i>45</i><i>55</i><i>63</i><i>69</i><i>73</i><i>75</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">和值</li>
            <li class="desc gray">包含注数</li>
        </ul>
        <ul class="ball">
            <li class="numbers">
            <li class="numbers"><b count="75">14</b>
            <li class="numbers"><b count="73">15</b>
            <li class="numbers"><b count="69">16</b>
            <li class="numbers"><b count="63">17</b>
            <li class="numbers"><b count="55">18</b>
            <li class="numbers"><b count="45">19</b>
            <li class="numbers"><b count="36">20</b>
            <li class="numbers"><b count="28">21</b>
            <li class="numbers"><b count="21">22</b>
            <li class="numbers"><b count="15">23</b>
            <li class="numbers"><b count="10">24</b>
            <li class="numbers"><b count="6">25</b>
            <li class="numbers"><b count="3">26</b>
            <li class="numbers"><b count="1">27</b>
            </li>
            <li class="desc"><i>75</i><i>73</i><i>69</i><i>63</i><i>55</i><i>45</i><i>36</i><i>28</i><i>21</i><i>15</i><i>10</i><i>6</i><i>3</i><i>1</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>*@


<h1 class="playprompt">
    <em class="red">三星和值：</em>竞猜开奖号码最后三位的数字相加之和，选择1个或多个和值号码投注，奖金：<em class="fred">1000</em>元！ 
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>和值区</strong> &nbsp;至少选择<em class="c_ba1d21">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b></div>
        <div style="width: 535px" class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b count="1">0</b></li>
                <li class="numbers"><b count="3">1</b></li>
                <li class="numbers"><b count="6">2</b></li>
                <li class="numbers"><b count="10">3</b></li>
                <li class="numbers"><b count="15">4</b></li>
                <li class="numbers"><b count="21">5</b></li>
                <li class="numbers"><b count="28">6</b></li>
                <li class="numbers"><b count="36">7</b></li>
                <li class="numbers"><b count="45">8</b></li>
                <li class="numbers"><b count="55">9</b></li>
                <li class="numbers"><b count="63">10</b></li>
                <li class="numbers"><b count="69">11</b></li>
                <li class="numbers"><b count="73">12</b></li>
                <li class="numbers"><b count="75">13</b></li>
                <li class="numbers"><b count="75">14</b></li>
                <li class="numbers"><b count="73">15</b></li>
                <li class="numbers"><b count="69">16</b></li>
                <li class="numbers"><b count="63">17</b></li>
                <li class="numbers"><b count="55">18</b></li>
                <li class="numbers"><b count="45">19</b></li>
                <li class="numbers"><b count="36">20</b></li>
                <li class="numbers"><b count="28">21</b></li>
                <li class="numbers"><b count="21">22</b></li>
                <li class="numbers"><b count="15">23</b></li>
                <li class="numbers"><b count="10">24</b></li>
                <li class="numbers"><b count="6">25</b></li>
                <li class="numbers"><b count="3">26</b></li>
                <li class="numbers"><b count="1">27</b></li>
            </ul>
        </div>
    </div>
</div>