<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="3XDX" value="3XDX" />标准选号</label><label><input
            type="radio" name="gametype" url="3XDXHZ" value="3XDX" way="3"/>和值选号</label><label><input
                type="radio" name="gametype" url="3XDXSG" value="3XDX" way="4" />手工录入</label>
</div>
