<div class="game-ballsmain">
    <span class="gray"><b>3星和值：</b>竞猜开奖号码后面三位的数字相加之和，选择1个或多个和值号码投注，奖金<b class="red">1000</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">和值</li>
            <li class="desc gray">包含组合</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b count="1">0</b><b count="3">1</b><b count="6">2</b><b count="10">3</b><b
                count="15">4</b><b count="21">5</b><b count="28">6</b><b count="36">7</b><b count="45">8</b><b
                    count="55">9</b><b count="63">10</b><b count="69">11</b><b count="73">12</b><b count="75">13</b></li>
            <li class="desc"><i>1</i><i>3</i><i>6</i><i>10</i><i>15</i><i>21</i><i>28</i><i>36</i><i>45</i><i>55</i><i>63</i><i>69</i><i>73</i><i>75</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">和值</li>
            <li class="desc gray">包含组合</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b count="75">14</b><b count="73">15</b><b count="69">16</b><b
                count="63">17</b><b count="55">18</b><b count="45">19</b><b count="36">20</b><b count="28">21</b><b
                    count="21">22</b><b count="15">23</b><b count="10">24</b><b count="6">25</b><b count="3">26</b><b
                        count="1">27</b></li>
            <li class="desc"><i>75</i><i>73</i><i>69</i><i>63</i><i>55</i><i>45</i><i>36</i><i>28</i><i>21</i><i>15</i><i>10</i><i>6</i><i>3</i><i>1</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>