<div class="game-subgametype yellow">
    <label class="hide">
        <input type="radio" name="gametype" url="3XZXZH" value="3XZXZH" />三星直选组合</label><label class="hide"><input
            type="radio" name="gametype" url="3XBAODAN" value="3XBAODAN" way="2"/>三组包一胆</label><label class="hide"><input
                type="radio" name="gametype" url="3XBAODAN2" value="3XBAODAN" way="2"/>三组包二胆</label><label class="hide"><input
                    type="radio" name="gametype" url="3XBAODIAN" value="3XBAODIAN"/>三组包点</label><label><input
                        type="radio" name="gametype" url="3XHZ" value="3XHZ" way="3" />三星和值</label>
</div>
