<!--<div class="game-ballsmain">
        <span class="gray" style="display: block;"><b>大小单双：</b>竞猜开奖号码最后两位的大小单双，分别选择十位、个位投注，全部猜中则中奖，奖金<b class="red">4</b>元</span>
        <div class="ballrow" style="float: left; clear: left;">
            <ul class="balltitle">
                <li class="desc">十位</li>
                <li>
                    @*<select>
                    <option value="DXDSLose">遗漏</option>
                    <option value="DXDSHot">冷热</option>
                </select>*@
                </li>
            </ul>
            <ul class="ball">
                <li class="numbers"><b val="2">大</b><b val="1">小</b><b val="5">单</b><b val="4">双</b></li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="ballrow" style="float: left; clear: none; margin-left: 50px; display: inline;">
            <ul class="balltitle">
                <li class="desc">个位</li>
            </ul>
            <ul class="ball">
                <li class="numbers"><b val="2">大</b><b val="1">小</b><b val="5">单</b><b val="4">双</b></li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="clear"></div>
    </div>-->
<h1 class="playprompt">
    <em class="red">大小单双：</em>竞猜开奖号码最后两位的大小单双，分别选择十位、个位投注，全部猜中则中奖，奖金:<em class="fred">4</em>元。
    <a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：双 小<br>
        开奖：<strong class="red">8 6 4 2 0</strong><br>
        奖金：4元。<br>
        开奖号码由左至右分别是万、千、百、十、个位。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con">
        <strong>选号区</strong> &nbsp;每位至少选择<em class="c_cb0505">1</em>个或以上号码</div>
    <div class="balls_con">
        <div class="bet_text">
            <b class="c_ba1d21">十位</b> @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b val="2">大</b><span></span></li>
                <li class="numbers"><b val="1">小</b><span></span></li>
                <li class="numbers"><b val="5">单</b><span></span></li>
                <li class="numbers"><b val="4">双</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <div class="balls_con">
        <div class="bet_text">
            <b class="c_ba1d21">个位</b> @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b val="2">大</b><span></span></li>
                <li class="numbers"><b val="1">小</b><span></span></li>
                <li class="numbers"><b val="5">单</b><span></span></li>
                <li class="numbers"><b val="4">双</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
