<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="ZX6" value="ZX6"/>常规选号</label><label><input
                type="radio" name="gametype" url="ZX6HZ" value="ZX6" way="3"/>组六和值</label><label><input
                    type="radio" name="gametype" url="ZX6SG" value="ZX6" way="4" />手工录入</label>
</div>