#TopTipHolder{height:0;overflow:hidden;position:relative}
#TopTip{height:60px;line-height:60px;text-align:center;background:url(2015121020LC0066460.jpg);}
#TopTipClose{width:85px;height:25px;background:url(close.png) no-repeat;position:absolute;right:10px;top:10px}