<div class="tips_bd">
    <ul class="lottery_box"> 
        <a style="left: 40px; top: 0px; line-height: 1; position: absolute; z-index: 189;" title="加奖" target="_blank" lotteryid="jczq" href="" id="link26"><span><img src="@ViewHelpers.img("/games/6.png")" alt="加奖"></span></a>
        <li>
            <a target="_blank" href="/buy/jingcai/spf/" class="lottery_tit jz">
                <span class="jz"></span>
                <h3>竞足</h3>
            </a>
            <p class="sub_lottery sub_lottery_1row">
                <a target="_blank" href="/buy/jingcai/spf/">胜平负</a>
                <a style="margin-right:0px;" target="_blank" href="/buy/jingcai/bf">比分</a>
                <a target="_blank" href="/buy/jingcai/zjq">进球数</a>
                <a target="_blank" href="/buy/jingcai/bqc">半全场</a>
                <a target="_blank" href="/buy/jingcai/hh/">混合过关</a>
            </p>
        </li>
        <li>
            <a target="_blank" href="/buy/jingcaibasket/rfsf/" class="lottery_tit">
                <span class="jl"></span>
                <h3>竞篮</h3>
            </a>
            <p class="sub_lottery">
                <a target="_blank" href="/buy/jingcaibasket/rfsf">让分胜负</a>
                <a target="_blank" href="/buy/jingcaibasket/sf/">胜负</a>    
                <a target="_blank" href="/buy/jingcaibasket/sfc">胜分差</a>
                <a target="_blank" href="/buy/jingcaibasket/dxf">大小分</a>
                <a target="_blank" href="/buy/jingcaibasket/hh">混合过关</a>
            </p>                        
        </li>
        <a style="left: 40px; top: 115px; line-height: 1; position: absolute; z-index: 189;" title="加奖" target="_blank" lotteryid="jczq" href="" id="link26"><span><img src="@ViewHelpers.img("/games/6.png")" alt="加奖"></span></a>
        <li>
            <a target="_blank" href="/buy/danchang/spf/" class="lottery_tit">
                <span class="dc"></span>
                <h3>北京单场</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/danchang/spf">胜平负</a>
                <a href="/buy/danchang/zjq">进球数</a>
                <a href="/buy/danchang/bf">比分</a>
                <a href="/buy/danchang/sxds">上下单双</a>
                <a href="/buy/danchang/bqc">半全场</a>
            </p>                        
        </li>
        <li>
            <a target="_blank" href="/buy/toto/t14c/" class="lottery_tit">
                <span class="zc"></span>
                <h3>传统足球</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/toto/t14c">14场胜负</a>
                <a href="/buy/toto/tr9">胜负任9</a> 
                <a href="/buy/toto/t6bqc">6场半全</a> 
                <a href="/buy/toto/t4cjq">4场进球</a>
            </p>                        
        </li>
        <li>
            <a target="_blank" href="/buy/szc/ssq/" class="lottery_tit">
                <span class="fc"></span>
                <h3>福彩</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/szc/ssq">双色球</a>
                <a href="/buy/szc/fc3d">福彩3D</a>
            </p>                        
        </li>
        <li>
            <a target="_blank" href="/buy/szc/dlt/" class="lottery_tit">
                <span class="tc"></span>
                <h3>体彩</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/szc/dlt">大乐透</a>
                <a href="/buy/szc/pl3">排列三</a>
            </p>                        
        </li>
        <li>                       
            <a target="_blank" href="/buy/szc/cqssc" class="lottery_tit">
                <span class="sysw"></span>
                <h3>高频彩</h3>
            </a>
            <p class="sub_lottery sub_lottery_1row">
                <a href="/buy/szc/cqssc">时时彩</a>
                <a href="/buy/szc/jx11x5">11选5</a>
            </p>                        
        </li>
    </ul>
</div>