<div class="lotterys">
    @*   
             <h4>  <a target="_blank" href="/help/bonusGet" class="red">[兑奖]</a>
                <a target="_blank" href="/help/ForTheColor">[如何购彩]</a><span>购买彩票</span>
                </h4>
                            
            <div class="clear"></div>
                *@
    <div class="tips_bd">
        <ul class="lottery-list-box">
            <li style="padding-top: 16px;" class="mainGame">
                <a class="mainA" target="_blank" href="/jingcai"><i class="icon-i nav40-jczq"></i><span class="color333">竞彩足球</span></a>
                 <a class="status-desc" target="_blank" href="/jingcai"><span>加奖10%</span></a>
            </li>
            <li class="mainGame">
                <a class="mainA" target="_blank" href="/jingcaibasket"><i class="icon-i nav40-jclq"></i><span class="color333">竞彩篮球</span></a>
                 <a class="status-desc" target="_blank" href="/jingcaibasket"><span>加奖12%</span></a>
            </li>
            <li class="mainGame">
                <a class="mainA" target="_blank"href="/szc/ssq"><i class="icon-i nav40-ssq"></i><span class="color333">双色球</span></a>
                <a class="status-desc" target="_blank" href="/szc/ssq"><span>猜双色 赢大奖</span></a>
            </li>
            <li class="mainGame">
                <a class="mainA" target="_blank" href="/szc/dlt"><i class="icon-i nav40-dlt"></i><span class="color333">大乐透</span></a>
                <a class="status-desc" target="_blank" href="/szc/dlt"><span>3元中1600万</span></a>
            </li>
            <li class="mainGame">
                <a class="mainA" target="_blank" href="/szc/cqssc"><i class="icon-i nav40-jxssc"></i><span class="color333">重庆时时彩</span></a>
                <a class="status-desc" target="_blank" href="/szc/cqssc"><span>加奖96%</span></a>
            </li>
            <li class="mainGame">
                <a class="mainA" target="_blank" href="/szc/jx11x5"><i class="icon-i nav40-sd11x5"></i><span class="color333">江西11选5</span></a>
                <a class="status-desc" target="_blank" href="/szc/jx11x5"><span>加奖65%</span></a>
            </li>
      @*      <li class="mainGame">
                <a class="mainA" target="_blank" href="/szc/fc3d"><i class="icon-i nav40-3D"></i><span class="color333">福彩3D</span></a>
                <a class="status-desc" target="_blank" href="/szc/fc3d"><span>天天开奖</span></a>
            </li>*@
                  <li class="mainGame">
                <a class="mainA" target="_blank" href="http://www.wancai.com/szc/gdklsf/"><i class="icon-i nav40-3D"></i><span class="color333">快乐十分</span></a>
                <a class="status-desc" target="_blank" href="http://www.wancai.com/szc/gdklsf/"><span>加奖50%</span></a>
            </li>
            <li data-type="1" class="allGames clearfix">
                <h3>
                    <span>数字</span></h3>
                <ul class="clearfix game-list">
                    <li><a target="_blank" href="/szc/ssq">双色球</a></li>
                    <li><a target="_blank" href="/szc/dlt">大乐透</a></li>
                    <li><a target="_blank" href="/szc/fc3d">福彩3D</a></li>
                    <li><a target="_blank" href="/szc/pl3">排列3</a></li>
                    @*<li style="margin-right: 0"><a href="javascript:void(0)">东方6+1</a></li>
                    <li><a href="javascript:void(0)">排列5</a></li>
                    <li><a href="javascript:void(0)">七星彩</a></li>
                    <li style="margin-right: 0"><a href="javascript:void(0)">七乐彩</a></li>*@
                </ul>
                @*<i id="open-btn-1" class="icon-i" style="display: block;"></i>*@
                <div class="line-fff" style="display: none;">
                </div>
                <div id="moreGames_1" style="display: none;" class="moreGames clearfix">
                    <div class="moreGames-box fl">
                        <div class="otherGames num-games">
                            <h3>
                                数字彩</h3>
                            <ol>
                                <li><a class="colorRed" target="_blank" href="/szc/ssq">双色球</a></li>
                                <li><a target="_blank" href="/szc/dlt">大乐透</a></li>
                                <li><a target="_blank" href="/szc/fc3d">福彩3D</a></li>
                                <li><a href="javascript:void(0)">七乐彩</a></li>
                                <li><a href="javascript:void(0)">排列5</a></li>
                                <li><a href="javascript:void(0)">东方6+1</a></li>
                                <li><a href="javascript:void(0)">七星彩</a></li>
                                <li><a href="/szc/pl3">排列3</a></li>
                                <li><a href="javascript:void(0)">15选5</a></li>
                                <li><a href="javascript:void(0)">好彩1</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </li>
            <li data-type="2" class="allGames clearfix">
                <h3>
                    <span>高频</span></h3>
                <ul class="clearfix game-list">
                    <li style=" width:75px;"><a target="_blank" href="/szc/cqssc" >重庆时时彩</a></li>
                    <li style=" width:75px;"><a target="_blank" href="/szc/jx11x5" >江西11选5</a></li>
                    <li style=" width:75px;"><a target="_blank" href="/szc/jsks" >江苏快三</a></li>
                    <li style=" width:85px;"><a target="_blank" href="/szc/sdklpk3" >山东快乐扑克3</a></li>
                    @*<li><a href="javascript:void(0)">幸运农场</a></li>
                    <li><a href="javascript:void(0)">新11选5</a></li>
                    <li style="margin-right: 0"><a href="javascript:void(0)">时时彩</a></li>
                    <li><a class="colorRed" href="javascript:void(0)">11选5</a></li>
                    <li><a class="colorRed" href="javascript:void(0)">快乐扑克</a></li>
                    <li style="margin-right: 0"><a href="javascript:void(0)">新快3</a></li>*@
                </ul>
                <i id="open-btn-2" class="icon-i" style="display: block;"></i>
                <div class="line-fff" style="display: none;">
                </div>
                <div id="moreGames_2" style="display: none;" class="moreGames clearfix">
                    <div class="moreGames-box fl">
                        <div class="otherGames clearfix gp-games">
                            <h3>
                                高频彩</h3>
                            <ol>
                                <li><a target="_blank" href="/szc/cqssc">重庆时时彩</a></li>
                                <li><a target="_blank" href="/szc/jx11x5">江西11选5</a></li>

                                <li><a target="_blank" href="/szc/sd11x5">山东11选5</a></li>
                                <li><a target="_blank" href="/szc/gd11x5">广东11选5</a></li>
                                <li><a target="_blank" href="/szc/gdklsf">广东快乐十分</a></li>
                                <li><a target="_blank" href="/szc/jsks">江苏快三</a></li>
                                <li><a target="_blank" href="/szc/sdklpk3">山东快乐扑克3</a></li>


                               @* <li><a href="javascript:void(0)">老快乐十分</a></li>
                                <li><a href="javascript:void(0)">PK拾</a></li>
                                <li><a href="javascript:void(0)">新11选5</a></li>
                                <li><a href="javascript:void(0)">沪11选5</a></li>
                                <li><a href="javascript:void(0)">快乐8</a></li>
                                <li><a href="javascript:void(0)">快3</a></li>
                                <li><a href="javascript:void(0)">幸运赛车</a></li>
                                <li><a href="javascript:void(0)">新时时彩</a></li>
                                <li><a href="javascript:void(0)">群英会</a></li>
                                <li><a class="colorRed" href="javascript:void(0)">快乐扑克</a></li>
                                <li><a href="javascript:void(0)">快乐十分</a></li>
                                <li><a href="javascript:void(0)">老11选5</a></li>
                                <li><a href="javascript:void(0)">欢11选5</a></li>
                                <li><a href="javascript:void(0)">老快3</a></li>
                                <li><a href="javascript:void(0)">新快3</a></li>
                                <li><a href="javascript:void(0)">幸运农场</a></li>*@
                            </ol>
                        </div>
                    </div>
                </div>
            </li>
            <li data-type="3" class="allGames clearfix">
                <h3>
                    <span>竞技</span></h3>
                <ul class="clearfix game-list">
                    <li><a class="colorRed" target="_blank" href="/jingcai">竞彩混合</a></li>
                    <li><a class="colorRed" target="_blank" href="/jingcai/exy">二选一</a></li>
                    <li style="margin-right: 0"><a class="colorRed" target="_blank" href="/toto">胜负彩</a></li>
                    <li><a target="_blank" href="/danchang">北京单场</a></li>
                    <li style="width: 54px; margin-right: 4px;"><a target="_blank" href="/danchang/sxds">
                        上下单双</a></li>
                    <li style="margin-right: 0"><a target="_blank" href="/danchang/bf">比分</a></li>
                </ul>
                <i id="open-btn-3" class="icon-i"></i>
                <div class="line-fff">
                </div>
                <div id="moreGames_3" style="display: none" class="moreGames clearfix">
                    <div class="moreGames-box fl">
                        <div class="otherGames jj-games">
                            <h3>
                                竞技彩</h3>
                            <div class="sportsBox">
                                <div class="jczq-box clearfix">
                                    <h4>
                                        竞彩足球 &gt;
                                    </h4>
                                    <ol>
                                        <li><a class="colorRed" target="_blank" href="/jingcai">混合过关</a></li>
                                        <li><a target="_blank" href="/jingcai/zjq">总进球</a></li>
                                        <li><a target="_blank" href="/jingcai/bqc">半全场</a></li>
                                        <li><a target="_blank" href="/jingcai/bf">比分</a></li>
                                        <li><a target="_blank" href="/jingcai/exy">主客二选一</a></li>
                                        <li><a target="_blank" href="/jingcai/rqspf?oddstype=3">单式上传</a></li>
                                    </ol>
                                </div>
                                <div class="jclq-box clearfix">
                                    <h4>
                                        竞彩篮球 &gt;
                                    </h4>
                                    <ol>
                                        <li><a class="colorRed" target="_blank" href="/jingcaibasket">混合过关</a></li>
                                        <li><a target="_blank" href="/jingcaibasket/sf">胜负</a></li>
                                        <li><a target="_blank" href="/jingcaibasket/rfsf">让分胜负</a></li>
                                        <li><a target="_blank" href="/jingcaibasket/sfc">胜分差</a></li>
                                        <li><a target="_blank" href="/jingcaibasket/dxf">大小分</a></li>
                                    </ol>
                                </div>
                                <div class="bjdc-box clearfix">
                                    <h4>
                                        北京单场 &gt;
                                    </h4>
                                    <ol>
                                        <li><a class="colorRed" target="_blank" href="/danchang">胜平负</a></li>
@*                                        <li><a target="_blank" href="/danchang/zjq">进球数</a></li>
                                        <li><a target="_blank" href="/danchang/sxds">上下单双</a></li>
                                        <li><a target="_blank" href="/danchang/bf">比分</a></li>
                                        <li><a target="_blank" href="/danchang/bqc">半全场</a></li>*@
                                    </ol>
                                </div>
                                <div class="sfc-box clearfix">
                                    <h4>
                                        足彩胜负 &gt;
                                    </h4>
                                    <ol>
                                        <li><a target="_blank" href="/toto">14场胜平负</a></li>
                                        <li><a target="_blank" href="/toto/tr9">任选9场</a></li>
                                        <li><a target="_blank" href="/toto/t6bqc">6场半全场</a></li>
                                        <li><a target="_blank" href="/toto/t4cjq">4场进球</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(".lottery_box li.show").hover(function () {
        $(this).addClass("menu_hover");
    }, function () {
        $(this).removeClass("menu_hover");
    });
</script>
