@{
    Layout = "~/Views/lotterytrend/_Layout.cshtml";
    ViewBag.Title = @"彩票走势图-福利彩票走势图|体育彩票走势图|彩票走势图分析-" + SiteString.getHZSiteName(Request) + "";
    ViewBag.Keywords = @"彩票走势图，福利彩票走势图，体育彩票走势图，彩票走势图分析";
    ViewBag.Description = @"" + SiteString.getHZSiteName(Request) + "彩票网走势图频道提供最快、最全的各彩种彩票走势图,其中包括福彩走势图、体彩走势图、高频彩走势图等,并有更多不同形式的走势图供您选择,是您查看走势图的第一选择.";
}
<div class="trend-game-title">
    <h2 class="ico-fc-s"><i></i>福利彩票走势图表</h2>
    <a href="javascript:void 0;" class="shrink show_a"></a>
</div>
<div style="display: block;">
    <div class="trend-game-item orange">
        <div class="zs_box_l">
             <big class="gameName cailogo ssq"></big><big class="gameName">双色球</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="双色球基本走势图" target="_blank" href="/statichtml/lotterytrend/ssq/jbzs30.html" class="l">基本走势图</a><i></i></li>
                <li><a title="双色球大小走势图" target="_blank" href="/statichtml/lotterytrend/ssq/daxiao30.html" class="l">大小走势图</a></li>      
                <li><a title="双色球除3走势图" target="_blank" href="/statichtml/lotterytrend/ssq/chu330.html" class="l">除3走势图</a></li>
                <li><a title="双色球奇偶走势图" target="_blank" href="/statichtml/lotterytrend/ssq/jiou30.html" class="l">奇偶走势图</a><s></s></li>
                <li><a title="双色球首尾跨度走势图" target="_blank" href="/statichtml/lotterytrend/ssq/kuadu_sw30.html" class="l">首尾跨度走势图</a></li>
                <li><a title="双色球和值走势图" target="_blank" href="/statichtml/lotterytrend/ssq/hezhi30.html" class="l">和值走势图</a><s></s></li>
                <li><a title="双色球质合走势图" target="_blank" href="/statichtml/lotterytrend/ssq/zhihe30.html" class="l">质合走势图</a><s></s></li>
                <li><a target="_blank" href="/statichtml/lotterytrend/ssq/jbzs30.html" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
             <big class="gameName cailogo fc3d"></big><big class="gameName">福彩3D</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="福彩3D直选走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/zxzs30.html" class="l">直选走势图</a><i></i></li>
                <li><a title="福彩3D跨度走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/kuadu30.html" class="l">跨度走势图</a></li>
                <li><a title="福彩3D和尾走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/hwzs30.html" class="l">和尾走势图</a></li>
                <li><a title="福彩3D奇偶走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/johm30.html" class="l">奇偶走势图</a></li>
                <li><a title="福彩3D除3余数走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/chu3130.html" class="l">除3余数走势图</a></li>
                <li><a title="福彩3D大小走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/dxhm30.html" class="l">大小号码走势图</a></li>
                <li><a title="福彩3D组选走势图" target="_blank" href="/statichtml/lotterytrend/fc3d/zuxzs30.html" class="l">组选走势图</a></li>
                <li><a href="/statichtml/lotterytrend/fc3d/zxzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo qlc"></big> <big class="gameName">七乐彩</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="七乐彩基本走势图" target="_blank" href="/statichtml/lotterytrend/qlc/jbzs30.html" class="l">基本走势图</a></li>
                <li><a title="七乐彩大小走势图" target="_blank" href="/statichtml/lotterytrend/qlc/dx30.html" class="l">大小走势图</a><i></i></li>
                <li><a title="七乐彩奇偶走势图" target="_blank" href="/statichtml/lotterytrend/qlc/jo30.html" class="l">奇偶走势图</a></li>
                <li><a title="七乐彩质合走势图" target="_blank" href="/statichtml/lotterytrend/qlc/zh30.html" class="l">质合走势图</a></li>
                <li><a title="七乐彩除3余数走势图" target="_blank" href="/statichtml/lotterytrend/qlc/chu330.html" class="l">除3走势图</a></li>
                <li><a href="/statichtml/lotterytrend/qlc/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo k3"></big> <big class="gameName">吉林快3</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="吉林快3和值走势图" target="_blank" href="/statichtml/lotterytrend/jlk3/hz30.html" class="l">和值走势图</a></li>
                <li><a title="吉林快3基本走势图" target="_blank" href="/statichtml/lotterytrend/jlk3/jbzs30.html" class="l">基本走势图</a><i></i></li>
                <li><a title="吉林快3形态走势图" target="_blank" href="/statichtml/lotterytrend/jlk3/xt30.html" class="l">形态走势图</a></li>
                <li><a title="吉林快3组合走势图" target="_blank" href="/statichtml/lotterytrend/jlk3/zh30.html" class="l">组合走势图</a></li>
                <li><a title="吉林快3综合走势图" target="_blank" href="/statichtml/lotterytrend/jlk3/zhzs30.html" class="l">综合走势</a></li>
                <li><a href="/statichtml/lotterytrend/jlk3/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo k3"></big> <big class="gameName">江苏快3</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="江苏快3和值走势图" target="_blank" href="/statichtml/lotterytrend/jsks/hz30.html" class="l">和值走势图</a></li>
                <li><a title="江苏快3基本走势图" target="_blank" href="/statichtml/lotterytrend/jsks/jbzs30.html" class="l">基本走势图</a><i></i></li>
                <li><a title="江苏快3形态走势图" target="_blank" href="/statichtml/lotterytrend/jsks/xt30.html" class="l">形态走势图</a></li>
                <li><a title="江苏快3组合走势图" target="_blank" href="/statichtml/lotterytrend/jsks/zh30.html" class="l">组合走势图</a></li>
                <li><a title="江苏快3综合走势图" target="_blank" href="/statichtml/lotterytrend/jsks/zhzs30.html" class="l">综合走势</a></li>
                <li><a href="/statichtml/lotterytrend/jsks/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
          <big class="gameName cailogo k3"></big><big class="gameName">湖北快3</big> 
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="湖北快3和值走势图" target="_blank" href="/statichtml/lotterytrend/hbk3/hz30.html" class="l">和值走势图</a></li>
                <li><a title="湖北快3基本走势图" target="_blank" href="/statichtml/lotterytrend/hbk3/jbzs30.html" class="l">基本走势图</a><i></i></li>
                <li><a title="湖北快3形态走势图" target="_blank" href="/statichtml/lotterytrend/hbk3/xt30.html" class="l">形态走势图</a></li>
                <li><a title="湖北快3组合走势图" target="_blank" href="/statichtml/lotterytrend/hbk3/zh30.html" class="l">组合走势图</a></li>
                <li><a title="湖北快3综合走势图" target="_blank" href="/statichtml/lotterytrend/hbk3/zhzs30.html" class="l">综合走势</a></li>
                <li><a href="/statichtml/lotterytrend/hbk3/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo sdqyh2"></big> <big class="gameName">群英会</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="山东群英会大小走势图" target="_blank" href="/statichtml/lotterytrend/sdqyh/dx30.html" class="l">大小走势图</a></li>
                <li><a title="山东群英会除3走势图" target="_blank" href="/statichtml/lotterytrend/sdqyh/chu330.html" class="l">
                    除3走势图</a><i></i></li>
                <li><a title="山东群英会奇偶走势图" target="_blank" href="/statichtml/lotterytrend/sdqyh/jo30.html" class="l">奇偶走势图</a></li>
                <li><a title="山东群英会顺选1走势图" target="_blank" href="/statichtml/lotterytrend/sdqyh/sx130.html" class="l">
                    顺选1走势图</a></li>
                <li><a title="山东群英会质合走势图" target="_blank" href="/statichtml/lotterytrend/sdqyh/zh30.html" class="l">质合走势图</a></li>
                <li><a href="/statichtml/lotterytrend/sdqyh/dx30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo hc1"></big><big class="gameName">好 彩 1</big> 
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="好彩1基本走势图" target="_blank" href="/statichtml/lotterytrend/hc1/jbzs30.html" class="l">基本走势图</a></li>
                <li style="width: 128px"><a title="好彩1生肖季节方位走势图" target="_blank" href="/statichtml/lotterytrend/hc1/sxjjfwzs30.html" class="l">
                    生肖季节方位走势图</a></li>
                <li><a href="/statichtml/lotterytrend/hc1/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item orange">
        <div class="zs_box_l">
           <big class="gameName cailogo hd15x5"></big> <big class="gameName">15选5</big> 
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="华东15选5基本走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/jbzs30.html" class="l">
                    基本走势图</a></li>
                <li><a title="华东15选5重号走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/chzs30.html" class="l">
                    重号走势图</a></li>
                <li><a title="华东15选5大小走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/dx30.html" class="l">
                    大小走势图</a></li>
                <li><a title="华东15选5和值走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/hz30.html" class="l">
                    和值走势图</a></li>
                <li><a title="华东15选5奇偶走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/jo30.html" class="l">
                    奇偶走势图</a></li>
                <li><a title="华东15选5邻号走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/lhzs30.html" class="l">
                    邻号走势图</a></li>
                <li><a title="华东15选5质合走势图" target="_blank" href="/statichtml/lotterytrend/hd15x5/zh30.html" class="l">
                    质合走势图</a></li>
                <li><a href="/statichtml/lotterytrend/hd15x5/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
             <big class="gameName cailogo df6j1"></big><big class="gameName">东方6+1</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="东方6+1基本走势图" target="_blank" href="/statichtml/lotterytrend/df6j1/jbzs30.html" class="l">
                    基本走势图</a></li>
                <li><a title="东方6+1大小走势图" target="_blank" href="/statichtml/lotterytrend/df6j1/dxzs30.html" class="l">
                    大小走势图</a></li>
                <li><a title="东方6+1和值走势图" target="_blank" href="/statichtml/lotterytrend/df6j1/hzzs30.html" class="l">
                    和值走势图</a></li>
                <li><a title="东方6+1奇偶走势图" target="_blank" href="/statichtml/lotterytrend/df6j1/jozs30.html" class="l">
                    奇偶走势图</a></li>
                <li><a title="东方6+1跨度走势图" target="_blank" href="/statichtml/lotterytrend/df6j1/kdzs30.html" class="l">
                    跨度走势图</a></li>
                <li><a title="东方6+1质合走势图" target="_blank" href="/statichtml/lotterytrend/df6j1/zhzs30.html" class="l">
                    质合走势图</a></li>
                <li><a href="/statichtml/lotterytrend/df6j1/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="trend-game-title">
    <h2 class="ico-tc-s">
        <i></i>体育彩票走势图表</h2>
    <a href="javascript:void 0;" class="shrink"></a>
</div>
<div style="display: none;">
    <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo dlt"></big> <big class="gameName">大乐透</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="超级大乐透基本走势图" target="_blank" href="/statichtml/lotterytrend/dlt/jbzs30.html" class="l">基本走势图</a></li>
                <li><a title="超级大乐透大小走势图" target="_blank" href="/statichtml/lotterytrend/dlt/dx30.html" class="l">大小走势图</a></li>
                <li><a title="超级大乐透奇偶走势图" target="_blank" href="/statichtml/lotterytrend/dlt/jiou30.html" class="l">奇偶走势图</a></li>
                <li><a title="超级大乐透质合走势图" target="_blank" href="/statichtml/lotterytrend/dlt/zhihe30.html" class="l">质合走势图</a></li>
                <li><a title="超级大乐透和值走势图" target="_blank" href="/statichtml/lotterytrend/dlt/hezhi30.html" class="l">和值走势图</a></li>
                <li><a title="超级大乐透除3走势图" target="_blank" href="/statichtml/lotterytrend/dlt/chu330.html" class="l">除3走势图</a></li>
                <li><a title="超级大乐透跨度走势图" target="_blank" href="/statichtml/lotterytrend/dlt/kuadu_sw30.html" class="l">
                    跨度走势图</a></li>
                <li><a href="/statichtml/lotterytrend/dlt/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
             <big class="gameName cailogo pl3"></big><big class="gameName">排列三</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="排列三基本走势图" target="_blank" href="/statichtml/lotterytrend/pl3/jbzs30.html" class="l">基本走势图</a></li>
                <li><a title="排列三奇偶走势图" target="_blank" href="/statichtml/lotterytrend/pl3/jo30.html" class="l">奇偶走势图</a></li>
                <li><a title="排列三除3走势图" target="_blank" href="/statichtml/lotterytrend/pl3/chu3130.html" class="l">除3走势图</a><s></s></li>
                <li><a title="排列三大小走势图" target="_blank" href="/statichtml/lotterytrend/pl3/dx30.html" class="l">大小走势图</a><s></s></li>
                <li><a title="排列三和值走势图" target="_blank" href="/statichtml/lotterytrend/pl3/hezhi30.html" class="l">和值走势图</a></li>
                <li><a title="排列三跨度走势图" target="_blank" href="/statichtml/lotterytrend/pl3/kdbg30.html" class="l">跨度走势图</a></li>
                <li><a title="排列三质合走势图" target="_blank" href="/statichtml/lotterytrend/pl3/zhihe30.html" class="l">质合走势图</a><s></s></li>
                <li><a href="/statichtml/lotterytrend/pl3/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item orange">
        <div class="zs_box_l">
           <big class="gameName cailogo pl5"></big>  <big class="gameName">排列五</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="排列五基本走势图" target="_blank" href="/statichtml/lotterytrend/pl5/jbzs30.html" class="l">基本走势图</a></li>
                <li><a title="排列五大小走势图" target="_blank" href="/statichtml/lotterytrend/pl5/dx30.html" class="l">大小走势图</a></li>
                <li><a title="排列五奇偶走势图" target="_blank" href="/statichtml/lotterytrend/pl5/jo30.html" class="l">奇偶走势图</a></li>
                <li><a title="排列五质合走势图" target="_blank" href="/statichtml/lotterytrend/pl5/zh30.html" class="l">质合走势图</a></li>
                <li><a title="排列五除3走势图" target="_blank" href="/statichtml/lotterytrend/pl5/chu330.html" class="l">除3走势图</a></li>
                <li><a title="排列五和值走势图" target="_blank" href="/statichtml/lotterytrend/pl5/hz30.html" class="l">和值走势图</a></li>
                <li><a href="/statichtml/lotterytrend/pl5/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo qxc"></big> <big class="gameName">七星彩</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="七星彩基本走势图" target="_blank" href="/statichtml/lotterytrend/qxc/jbzs30.html" class="l">基本走势图</a></li>
                <li><a title="七星彩大小走势图" target="_blank" href="/statichtml/lotterytrend/qxc/dx30.html" class="l">大小走势图</a><s></s></li>
                <li><a title="七星彩奇偶走势图" target="_blank" href="/statichtml/lotterytrend/qxc/jo30.html" class="l">奇偶走势图</a></li>
                <li><a title="七星彩质合走势图" target="_blank" href="/statichtml/lotterytrend/qxc/zh30.html" class="l">质合走势图</a></li>
                <li><a title="七星彩除3余数走势图" target="_blank" href="/statichtml/lotterytrend/qxc/chu330.html" class="l">除3走势图</a></li>
                <li><a href="/statichtml/lotterytrend/qxc/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class="trend-game-title">
    <h2 class="ico-gp-s">
        <i></i>高频彩票走势图表</h2>
    <a href="javascript:void 0;" class="shrink"></a>
</div>
<div style="display: none;">
    <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo sd11x5"></big><big class="gameName">山东11选5</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="老11选5基本走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/jbzs30.html" class="l">
                        基本走势图</a></li>
                <li><a title="老11选5重号走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/chzs30.html" class="l">
                        重号走势图</a></li>
                <li><a title="老11选5多连走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/dlzs30.html" class="l">
                        多连走势图</a></li>
                <li><a title="老11选5012走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/dwzs30.html" class="l">
                        012走势图</a></li>
                <li><a title="老11选5隔号走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/ghzs30.html" class="l">
                        隔号走势图</a></li>
                <li><a title="老11选5和值走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/hzzs30.html" class="l">
                        和值走势图</a></li>
                <li><a title="老11选5跨度走势图" target="_blank" href="/statichtml/lotterytrend/sd11x5/kdzs30.html" class="l">
                        跨度走势图</a></li>
                <li><a href="/statichtml/lotterytrend/sd11x5/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo gd11x5"></big><big class="gameName">广东11选5</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="新11选5基本走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/jbzs30.html" class="l">
                        基本走势图</a></li>
                <li><a title="新11选5重号走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/chzs30.html" class="l">
                        重号走势图</a></li>
                <li><a title="新11选5多连走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/dlzs30.html" class="l">
                        多连走势图</a></li>
                <li><a title="新11选5012走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/dwzs30.html" class="l">
                        012走势图</a></li>
                <li><a title="新11选5隔号走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/ghzs30.html" class="l">
                        隔号走势图</a></li>
                <li><a title="新11选5和值走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/hzzs30.html" class="l">
                        和值走势图</a></li>
                <li><a title="新11选5跨度走势图" target="_blank" href="/statichtml/lotterytrend/gd11x5/kdzs30.html" class="l">
                        跨度走势图</a></li>
                <li><a href="/statichtml/lotterytrend/gd11x5/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
     <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo jx11x5"></big> <big class="gameName">江西11选5</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="11选5基本走势图" target="_blank" href="/statichtml/lotterytrend/jx11x5/rxjbzs30.html" class="l">
                        基本走势图</a></li>
                <li><a title="11选5前2和值走势图" target="_blank" href="/statichtml/lotterytrend/jx11x5/q2hz30.html" class="l">
                        前2和值走势图</a></li>
                <li><a title="11选5前2组选走势图" target="_blank" href="/statichtml/lotterytrend/jx11x5/q2zux30.html" class="l">
                        前2组选走势图</a></li>
                <li><a title="11选5任选大小走势图" target="_blank" href="/statichtml/lotterytrend/jx11x5/rxdx30.html" class="l">
                        任选大小走势图</a></li>
                <li><a title="11选5任选奇偶走势图" target="_blank" href="/statichtml/lotterytrend/jx11x5/rxjo30.html" class="l">
                        任选奇偶走势图</a></li>
                <li><a title="11选5任选质合余数" target="_blank" href="/statichtml/lotterytrend/jx11x5/rxzh30.html" class="l">
                        任选质合余数</a></li>
                <li><a title="11选5任选和值走势图" target="_blank" href="/statichtml/lotterytrend/jx11x5/rxhz30.html" class="l">
                        任选和值走势图</a></li>
                <li><a href="/statichtml/lotterytrend/jx11x5/rxjbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo cq11x5"></big> <big class="gameName">重庆11选5</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="11选5基本走势图" target="_blank" href="/statichtml/lotterytrend/cq11x5/jbzs30.html" class="l">
                        基本走势图</a></li>
                <li><a title="11选5重号走势图" target="_blank" href="/statichtml/lotterytrend/cq11x5/chzs30.html" class="l">
                        重号走势图</a></li>
                <li><a title="11选5多连走势图" target="_blank" href="/statichtml/lotterytrend/cq11x5/dlzs30.html" class="l">
                        多连走势图</a></li>
                <li><a title="11选5定位走势图" target="_blank" href="/statichtml/lotterytrend/cq11x5/dwzs30.html" class="l">
                        定位走势图</a></li>
                <li><a title="11选5二连走势图" target="_blank" href="/statichtml/lotterytrend/cq11x5/elzs30.html" class="l">
                        二连走势图</a></li>
                <li><a title="11选5隔号余数" target="_blank" href="/statichtml/lotterytrend/cq11x5/ghzs30.html" class="l">隔号余数</a></li>
                <li><a title="11选5和值走势图" target="_blank" href="/statichtml/lotterytrend/cq11x5/hzzs30.html" class="l">
                        和值走势图</a></li>
                <li><a href="/statichtml/lotterytrend/cq11x5/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
       <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo ln11x5"></big><big class="gameName">辽宁11选5</big> 
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="11选5基本走势图" target="_blank" href="/statichtml/lotterytrend/ln11x5/jbzs30.html" class="l">
                        基本走势图</a></li>
                <li><a title="11选5前2和值走势图" target="_blank" href="/statichtml/lotterytrend/ln11x5/q2hz30.html" class="l">
                        前2和值走势图</a></li>
                <li><a title="11选5前2组选走势图" target="_blank" href="/statichtml/lotterytrend/ln11x5/q2zux30.html" class="l">
                        前2组选走势图</a></li>
                <li><a title="11选5任选大小走势图" target="_blank" href="/statichtml/lotterytrend/ln11x5/rxdx30.html" class="l">
                        任选大小走势图</a></li>
                <li><a title="11选5任选奇偶走势图" target="_blank" href="/statichtml/lotterytrend/ln11x5/rxjo30.html" class="l">
                        任选奇偶走势图</a></li>
                <li><a title="11选5任选质合余数" target="_blank" href="/statichtml/lotterytrend/ln11x5/rxzh30.html" class="l">
                        任选质合余数</a></li>
                <li><a title="11选5任选和值走势图" target="_blank" href="/statichtml/lotterytrend/ln11x5/rxhz30.html" class="l">
                        任选和值走势图</a></li>
                <li><a href="/statichtml/lotterytrend/ln11x5/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
   <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo cqssc"></big><big class="gameName">重庆时时彩</big> 
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="老时时彩三星直选走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/s3zxzs30.html" class="l">
                        三星直选走势图</a></li>
                <li><a title="老时时彩大小单双走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/dxds30.html" class="l">
                        大小单双走势图</a></li>
                <li><a title="老时时彩一星走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/s1zs30.html" class="l">一星走势图</a></li>
                <li><a title="老时时二星和值走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/s2hzzs30.html" class="l">
                        二星和值走势图</a></li>
                <li><a title="老时时彩二星组选走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/s2zuxzs30.html" class="l">
                        二星组选走势图</a></li>
                <li><a title="老时时彩三星除3走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/s3c3ys30.html" class="l">
                        三星除3走势图</a></li>
                <li><a title="老时时彩三星大小走势图" target="_blank" href="/statichtml/lotterytrend/cqssc/s3dxzs30.html" class="l">
                        三星大小走势图</a></li>
                <li><a href="/statichtml/lotterytrend/cqssc/s3zxzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo jxssc"></big><big class="gameName">江西时时彩</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="新时时彩三星基本走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/s3zxzs30.html" class="l">
                        三星基本走势图</a></li>
                <li><a title="新时时彩大小单双走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/dxds30.html" class="l">
                        大小单双走势图</a></li>
                <li><a title="新时时一星走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/s1zs" class="l">一星走势图</a></li>
                <li><a title="新时时彩二星和值走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/s2hzzs30.html" class="l">
                        二星和值走势图</a></li>
                <li><a title="新时时彩二星组选走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/s2zuxzs30.html" class="l">
                        二星组选走势图</a></li>
                <li><a title="新时时彩三星除3走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/s3c3ys30.html" class="l">
                        三星除3走势图</a></li>
                <li><a title="新时时彩三星大小走势图" target="_blank" href="/statichtml/lotterytrend/jxssc/s3dxzs30.html" class="l">
                        三星大小走势图</a></li>
                <li><a href="/statichtml/lotterytrend/jxssc/s3zxzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
   <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo gdklsf"></big><big class="gameName">广东快乐十分</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="广东快乐十分基本走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/jbzs30.html" class="l">
                        基本走势图</a></li>
                <li><a title="广东快乐十分定位1走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/dw130.html" class="l">
                        定位1走势图</a></li>
                <li><a title="广东快乐十分定位2走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/dw230.html" class="l">
                        定位2走势图</a></li>
                <li><a title="广东快乐十分定位3走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/dw330.html" class="l">
                        定位3走势图</a></li>
                <li><a title="广东快乐十分大小走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/dx30.html" class="l">
                        大小走势图</a></li>
                <li><a title="广东快乐十分奇偶走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/jo30.html" class="l">
                        奇偶走势图</a></li>
                <li><a title="广东快乐十分质合走势图" target="_blank" href="/statichtml/lotterytrend/gdklsf/zh30.html" class="l">
                        质合走势图</a></li>
                <li><a href="/statichtml/lotterytrend/gdklsf/dw130.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
       <div class="trend-game-item orange">
        <div class="zs_box_l">
            <big class="gameName cailogo hnklsf"></big><big class="gameName">湖南快乐十分</big>
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="湖南快乐十分基本走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/jbzs30.html" class="l">
                        三星基本走势图</a></li>
                <li><a title="湖南快乐十分二连走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/elzs30.html" class="l">
                        二连走势图</a></li>
                <li><a title="湖南快乐十分大小走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/dxzs30.html" class="l">
                        大小走势图</a></li>
                <li><a title="湖南快乐十分隔号走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/ghzs30.html" class="l">
                        隔号走势图</a></li>
                <li><a title="湖南快乐十分前1走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/q1zs30.html" class="l">
                        前1走势图</a></li>
                <li><a title="湖南快乐十分区间走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/qjzs30.html" class="l">
                        区间走势图</a></li>
                <li><a title="湖南快乐十分彩三星大小走势图" target="_blank" href="/statichtml/lotterytrend/hnklsf/s3dxzs30.html"
                       class="l">三星大小走势图</a></li>
                <li><a href="/statichtml/lotterytrend/hnklsf/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="trend-game-item bblue">
        <div class="zs_box_l">
            <big class="gameName cailogo cqklsf"></big><big class="gameName">重庆快乐十分</big> 
        </div>
        <div class="zs_box_r">
            <ul>
                <li><a title="重庆快乐十分三星基本走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/jbzs30.html" class="l">
                        三星基本走势图</a></li>
                <li><a title="重庆快乐十分大小走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/dxzs30.html" class="l">
                        大小走势图</a></li>
                <li><a title="重庆快乐十分二连走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/elzs30.html" class="l">
                        二连走势图</a></li>
                <li><a title="重庆快乐十分隔号走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/ghzs30.html" class="l">
                        隔号走势图</a></li>
                <li><a title="重庆快乐十分奇偶走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/jozs30.html" class="l">
                        奇偶走势图</a></li>
                <li><a title="重庆快乐十分前1走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/q1zs30.html" class="l">
                        前1走势图</a></li>
                <li><a title="重庆快乐十分区间走势图" target="_blank" href="/statichtml/lotterytrend/cqklsf/qjzs30.html" class="l">
                        区间走势图</a></li>
                <li><a href="/statichtml/lotterytrend/cqklsf/jbzs30.html" target="_blank" class="more">查看更多>></a></li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<div class=" clearfix"> </div>
<script type="text/javascript">
    $(function() {
        $(".shrink").click(function() {
            var _div = $(this).parents("div").next("div:first");
            if ($(this).hasClass("show_a")) {
                _div.hide();
                $(this).removeClass("show_a");
            } else {
                _div.show();
                $(this).addClass("show_a");
            }
        });
    });
</script>
