@using app.lottery.site.Models
@using External.Core.Agnet;
@{
    ViewBag.Title = "我的提成, 用户中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
    ViewBag.keywords = "我的提成, 用户中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
    var userRebate = ViewBag.InItNewUserRebate as OCAgentRebateInfoCollection;
    CurrentUserInfo currentUser = ViewBag.CurrentUser;
}
@section css{
    @UserHelper.css("mycenter.css")
    @UserHelper.css("commissio.css")
}
<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">首页</a> > </li>
        <li>我的提成</li>
    </ul>
</div>
<div class="center mt10">
    @{Html.RenderAction("menu", "Member");}
    <div class="new_buy_right">
        @{Html.RenderAction("toptip", "Member");}
        <div class="mycommenu">
            <a href="javascript:void(0);" checklg="/commissio/myTc" class="up">我的提成</a>
            @if (currentUser.LoginInfo.OCAgentType == GameBiz.Core.OCAgentCategory.SportLotterySubAgent)
            {
                <a href="javascript:void(0);" checklg="/commissio/subordinateuser">推广用户</a> 
            }
            else
            {
                <a href="javascript:void(0);" checklg="/commissio/generalizeUser">推广用户</a> 
            }
            <a href="javascript:void(0);" checklg="/commissio/CommissionRecord">返点结算</a> <a href="javascript:void(0);"
                checklg="/commissio/StatisticsQuery">统计查询</a> <a href="javascript:void(0);" checklg="/commissio/SchemeManage">
                    方案管理</a>
        </div>
        <div class="scheme">
            <div class="scheme-show xzscheme" style="margin-left: 10px;">
                <a href="javascript:void(0)" checklg="/commissio/myTc">我的返点</a>
            </div>
            <div class="scheme-show">
                <a href="javascript:void(0)" checklg="/commissio/detaileddescription">细则说明</a>
            </div>
        </div>
        @{
            var jczq_brqspf = userRebate.FirstOrDefault(p => p.GameCode == "JCZQ" && p.GameType == "BRQSPF");
            var jczq_spf = userRebate.FirstOrDefault(p => p.GameCode == "JCZQ" && p.GameType == "SPF");
            var jczq_bf = userRebate.FirstOrDefault(p => p.GameCode == "JCZQ" && p.GameType == "BF");
            var jczq_zjq = userRebate.FirstOrDefault(p => p.GameCode == "JCZQ" && p.GameType == "ZJQ");
            var jczq_bqc = userRebate.FirstOrDefault(p => p.GameCode == "JCZQ" && p.GameType == "BQC");
            var jczq_hh = userRebate.FirstOrDefault(p => p.GameCode == "JCZQ" && p.GameType == "HH");
        }
        @{
            var bjdc_spf = userRebate.FirstOrDefault(p => p.GameCode == "BJDC" && p.GameType == "SPF");
            var bjdc_zjq = userRebate.FirstOrDefault(p => p.GameCode == "BJDC" && p.GameType == "ZJQ");
            var bjdc_sxds = userRebate.FirstOrDefault(p => p.GameCode == "BJDC" && p.GameType == "SXDS");
            var bjdc_bf = userRebate.FirstOrDefault(p => p.GameCode == "BJDC" && p.GameType == "BF");
            var bjdc_bqc = userRebate.FirstOrDefault(p => p.GameCode == "BJDC" && p.GameType == "BQC");
        }
        @{
            var cclq_sf = userRebate.FirstOrDefault(p => p.GameCode == "JCLQ" && p.GameType == "SF");
            var cclq_rfsf = userRebate.FirstOrDefault(p => p.GameCode == "JCLQ" && p.GameType == "RFSF");
            var cclq_sfc = userRebate.FirstOrDefault(p => p.GameCode == "JCLQ" && p.GameType == "SFC");
            var cclq_dxf = userRebate.FirstOrDefault(p => p.GameCode == "JCLQ" && p.GameType == "DXF");
            var cclq_hh = userRebate.FirstOrDefault(p => p.GameCode == "JCLQ" && p.GameType == "HH");                
        }
        @{
            var ctzq_t14c = userRebate.FirstOrDefault(p => p.GameCode == "CTZQ" && p.GameType == "T14C");
            var ctzq_tr9 = userRebate.FirstOrDefault(p => p.GameCode == "CTZQ" && p.GameType == "TR9");
            var ctzq_t6bqc = userRebate.FirstOrDefault(p => p.GameCode == "CTZQ" && p.GameType == "T6BQC");
            var ctzq_t4cjq = userRebate.FirstOrDefault(p => p.GameCode == "CTZQ" && p.GameType == "T4CJQ"); 
                               
        }
        @{
            var tycp_dlt = userRebate.FirstOrDefault(p => p.GameCode == "DLT" && p.GameType == "");
            var tycp_pl3 = userRebate.FirstOrDefault(p => p.GameCode == "PL3" && p.GameType == "");
        }
        @{
            var fc3d = userRebate.FirstOrDefault(p => p.GameCode == "FC3D" && p.GameType == "");
            var ssq = userRebate.FirstOrDefault(p => p.GameCode == "SSQ" && p.GameType == "");
        }
        @{               
            var gpc_cqssc = userRebate.FirstOrDefault(p => p.GameCode == "CQSSC" && p.GameType == "");
            var gpc_jxssc = userRebate.FirstOrDefault(p => p.GameCode == "XSSC" && p.GameType == "");
            var gpc_sd11x5 = userRebate.FirstOrDefault(p => p.GameCode == "SD11X5" && p.GameType == "");
            var gpc_gd11x5 = userRebate.FirstOrDefault(p => p.GameCode == "X11X5" && p.GameType == "");
            var gpc_jx11x5 = userRebate.FirstOrDefault(p => p.GameCode == "JX11X5" && p.GameType == "");
        }
        @if (userRebate.Count > 0)
        {
            <table border="0" cellpadding="0" cellspacing="0" class="setUserRebate-table">
                <tr class="s-t-tr1">
                    <td width="210">
                        竞彩足球
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        让球胜平负：@jczq_spf.Rebate.ToString("N2")
                        &nbsp;胜平负：@jczq_brqspf.Rebate.ToString("N2")
                        &nbsp;比分：@jczq_bf.Rebate.ToString("N2")
                        &nbsp;进球数：@jczq_zjq.Rebate.ToString("N2")
                        &nbsp;半全场：@jczq_bqc.Rebate.ToString("N2")
                        &nbsp;混合过关：@jczq_hh.Rebate.ToString("N2")
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        北京单场
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        胜平负：@bjdc_spf.Rebate.ToString("N2")
                        &nbsp;进球数：@bjdc_zjq.Rebate.ToString("N2")
                        &nbsp;上下单双：@bjdc_sxds.Rebate.ToString("N2")
                        &nbsp;比分：@bjdc_bf.Rebate.ToString("N2")
                        &nbsp;半全场：@bjdc_bqc.Rebate.ToString("N2")
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        竞彩篮球
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        胜负：@cclq_sf.Rebate.ToString("N2")
                        &nbsp;让分胜负：@cclq_rfsf.Rebate.ToString("N2")
                        &nbsp;胜负差：@cclq_sfc.Rebate.ToString("N2")
                        &nbsp;大小分：@cclq_dxf.Rebate.ToString("N2")
                        &nbsp;混合过关：@cclq_hh.Rebate.ToString("N2")
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        传统足球
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        14场胜负：@ctzq_t14c.Rebate.ToString("N2")
                        &nbsp;胜负任9：@ctzq_tr9.Rebate.ToString("N2") &nbsp;6场半全：@ctzq_t6bqc.Rebate.ToString("N2")
                        &nbsp;4场进球：@ctzq_t4cjq.Rebate.ToString("N2")
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        体育彩票
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        大乐透：@tycp_dlt.Rebate.ToString("N2")
                        &nbsp;排列三：@tycp_pl3.Rebate.ToString("N2")
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        福彩
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        双色球：@fc3d.Rebate.ToString("N2")
                        &nbsp;福彩3D：@ssq.Rebate.ToString("N2")
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        高频彩
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        重庆时时彩：@gpc_cqssc.Rebate.ToString("N2") &nbsp;江西11选5：@gpc_jx11x5.Rebate.ToString("N2")
                    </td>
                </tr>
            </table>
        }
        else
        {
            <table border="0" cellpadding="0" cellspacing="0" class="setUserRebate-table">
                <tr class="s-t-tr1">
                    <td width="210">
                        竞彩足球
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        让球胜平负：0.00 &nbsp;胜平负：0.00 &nbsp;比分：0.00 &nbsp;进球数：0.00 &nbsp;半全场：0.00 &nbsp;混合过关：0.00
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        北京单场
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        胜平负：0.00 &nbsp;进球数：0.00 &nbsp;上下单双：0.00 &nbsp;比分：0.00 &nbsp;半全场：0.00
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        竞彩篮球
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        胜负：0.00 &nbsp;让分胜负：0.00 &nbsp;胜负差：0.00 &nbsp;大小分：0.00 &nbsp;混合过关：0.00
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        传统足球
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        14场胜负：0.00 &nbsp;胜负任9：0.00 &nbsp;6场半全：0.00 &nbsp;4场进球：0.00
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        体育彩票
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        大乐透：0.00 &nbsp;排列三：0.00
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        福彩
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        双色球：0.00 &nbsp;福彩3D：0.00
                    </td>
                </tr>
                <tr class="s-t-tr1">
                    <td width="210">
                        高频彩
                    </td>
                    <td class="unfoldorfold">
                        <a href="javascript:void(0)" class="toggleshow" onclick="toggle.bflick(this)">+展开</a>
                    </td>
                </tr>
                <tr style="border: 1px solid #d3d3d3; height: 39px; display: none;" class="show">
                    <td width="210" colspan="2">
                        重庆时时彩：0.00  &nbsp;江西11选5：0.00
                    </td>
                </tr>
            </table>
        }
    </div>
    <script type="text/javascript">
        $(function () {
            $(".scheme-table tr:even:gt(0)").css("backgroundColor", "#f7f7f7");
        })
        var toggle = {
            bflick: function (obj) {
                var tr = $(obj).parents("tr").next(".show:first");
                if (tr.is(":visible")) {
                    tr.hide();
                    $(obj).text("+展开");

                } else {
                    tr.show();
                    $(obj).text("-折叠");
                }
            }
        }       
    </script>
</div>
<div class="clearfix">
</div>
