<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="2BTH" value="2BTH" />标准投注</label><label><input
            type="radio" name="gametype" url="2BTHDT" value="2BTHDT" way="2"/>胆拖投注</label>
</div>


