<div class="game-ballsmain">
    <span class="gray"><b>三不同号：</b>至少选择<b class="red">3</b>个号码投注，选号与开奖号码一致即中奖<b class="red">40</b>元。1/36的中奖机会！</span>  
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">号码</li>     
            <li class="desc gray hide">遗漏</li>  
        </ul>
        <ul class="ball jsk3-ball">
            <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
            <li class="desc hide"><i>0</i><i>1</i><i>1</i><i>1</i><i>2</i><i>0</i></li>
        </ul>        
        <div class="clear">
        </div>
    </div>  
</div>