<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="3BTH" value="3BTH" />标准投注</label><label><input
            type="radio" name="gametype" url="3BTHDT" value="3BTHDT" way="2"/>胆拖投注</label>
</div>
