<div class="game-ballsmain">
    <span class="gray"><b>任二：</b>从01-20中选择数字竞猜开奖号码的任意两位,投注号码与开奖号码任意两位相同即中奖，奖金<b class="red">8</b>元</span>
    @GameHelper.ImportNumberArea("01,02 或 01.02 或 01+02 或 0102")
</div>