<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="RX3" value="RX3" />标准选号</label><label><input
            type="radio" name="gametype" url="RX3DT" value="RX3" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX3SG" value="RX3" way="4" />手工录入</label>
</div>
