<div class="game-ballsmain">
    <span class="gray"><b>任三：</b>从01-20中选择数字竞猜开奖号码的任意三位,投注号码与开奖号码任意三位相同即中奖，奖金<b class="red">24</b>元</span>
    <div class="ballrow danma">
        <ul class="balltitle balltitle1">
            <li class="desc1">胆码</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b>20</b></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow tuoma">
        <ul class="balltitle balltitle1">
            <li class="desc1">拖码</li>
            <li hottype="Lose" class="desc1 gray">遗漏 </li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b>20</b></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>