<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="RX4" value="RX4" />标准选号</label><label><input
            type="radio" name="gametype" url="RX4DT" value="RX4" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX4SG" value="RX4" way="4" />手工录入</label>
</div>
