<div class="game-ballsmain">
    <span class="gray"><b>任四：</b>从01-20中选择数字竞猜开奖号码的任意四位,投注号码与开奖号码任意四位相同即中奖，奖金<b class="red">80</b>元</span>
    @GameHelper.ImportNumberArea("01,02,03,04 或 01.02.03.04 或 01+02+03+04 或 01020304")
</div>