<div class="game-ballsmain">
    <span class="gray"><b>选一红投：</b>从19和20两个红色号码中任意选择1个红色号码竞猜开奖号码的第一位,开奖号码第一位是红球即中奖，奖金<b class="red">5</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">选一红投</li>
            <li hottype="Lose" class="desc gray">遗漏 </li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>19</b><b>20</b></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>