<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="X2LZHI" value="X2LZHI"/>标准选号</label><label><input
            type="radio" name="gametype" url="X2LZHISG" value="X2LZHI" way="4" />手工录入</label>
</div>
