<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="X2LZU" value="X2LZU" />标准选号</label><label><input
            type="radio" name="gametype" url="X2LZUDT" value="X2LZU" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="X2LZUSG" value="X2LZU" way="4" />手工录入</label>
</div>
