<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="X3QZHI" value="X3QZHI"/>标准选号</label><label><input
            type="radio" name="gametype" url="X3QZHISG" value="X3QZHI" way="4" />手工录入</label>
</div>
