<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="X3QZU" value="X3QZU" />标准选号</label><label><input
            type="radio" name="gametype" url="X3QZUDT" value="X3QZU" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="X3QZUSG" value="X3QZU" way="4" />手工录入</label>
</div>