<div class="game-ballsmain">
    <span class="gray"><b>12生肖乐说明：</b>大乐透设附加玩法12选2（生肖乐），即竟猜后区2个号码，2个号码全中即中奖，单注奖金<b class="red">60</b>元</span>
    <div class="ballrow" id="dlt_12x2">
        <ul class="balltitle">
            <li class="desc">选择号码</li>
            <li hottype="Lose" class="desc gray">遗漏</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b><b>12</b>@GameHelper.BallsFilter()</li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>