<log4net>
  <root>
    <level value="ALL" />

    <appender-ref ref="ErrorRollingLogFileAppender"  />

    <appender-ref ref="InfoRollingLogFileAppender"  />


    <appender-ref ref="DebugRollingLogFileAppender"  />


    <appender-ref ref="WarnRollingLogFileAppender"  />


    <appender-ref ref="FatalRollingLogFileAppender"  />

  </root>
  <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="ERROR">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="Log_Log\\Error\\" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="_yyyyMMddHH.txt" />
    <param name="StaticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="MaximumFileSize" value="5MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Error" />
      <param name="LevelMax" value="Error" />
    </filter>
  </appender>
  <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="Info">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="Log_Log\\Info\\" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="_yyyyMMddHH.txt" />
    <param name="StaticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="MaximumFileSize" value="5MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Info" />
      <param name="LevelMax" value="Info" />
    </filter>
  </appender>

  <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="Debug">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="Log_Log\\Debug\\" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="_yyyyMMddHH.TXT" />
    <param name="StaticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="MaximumFileSize" value="5MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Debug" />
      <param name="LevelMax" value="Debug" />
    </filter>
  </appender>

  <appender name="WarnRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="Warn">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="Log_Log\\Warn\\" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="_yyyyMMddHH.TXT" />
    <param name="StaticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="MaximumFileSize" value="5MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Warn" />
      <param name="LevelMax" value="Warn" />
    </filter>
  </appender>

  <appender name="FatalRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" LEVEL="Fatal">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="File" value="Log_Log\\Fatal\\" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="DatePattern" value="_yyyyMMddHH.TXT" />
    <param name="StaticLogFileName" value="false" />
    <param name="MaxSizeRollBackups" value="-1" />
    <param name="MaximumFileSize" value="5MB" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Fatal" />
      <param name="LevelMax" value="Fatal" />
    </filter>
  </appender>
</log4net>
