<!--<div class="game-ballsmain">
        <span class="gray"><b>单式：</b>所选号码与开奖号码相同（且顺序一致），奖金<b class="red">1000</b>元</span>
        <div class="ballrow danma">
            <ul class="balltitle">
                <li class="desc">胆码</li>
            </ul>
            <ul class="ball">
                <li class="numbers"><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b></li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="ballrow tuoma">
            <ul class="balltitle">
                <li class="desc">拖码</li>
                <li>
                    @*<select>
                    <option value="ZXLose">遗漏</option>
                    <option value="ZXHot">冷热</option>
                </select>*@
                </li>
            </ul>
            <ul class="ball">
                <li class="numbers"><b>0</b><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b></li>
            </ul>
        </div>
    </div>-->

<h1 class="playprompt">
    <em class="red">单式：</em>所选号码与开奖号码相同（且顺序一致），奖金：
    <em class="fred">1000</em>元！
</h1>

<div class="bet_balls clear">
    <div class="dan_con"><strong>选号区</strong> &nbsp;每位至少选择<em class="c_ba1d21">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b> 
            @*    <div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em>
            </div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix ball">
                <li class="numbers"><b>0</b><span></span></li>
                <li class="numbers"><b>1</b><span></span></li>
                <li class="numbers"><b>2</b><span></span></li>
                <li class="numbers"><b>3</b><span></span></li>
                <li class="numbers"><b>4</b><span></span></li>
                <li class="numbers"><b>5</b><span></span></li>
                <li class="numbers"><b>6</b><span></span></li>
                <li class="numbers"><b>7</b><span></span></li>
                <li class="numbers"><b>8</b><span></span></li>
                <li class="numbers"><b>9</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b> 
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix ball">
                <li class="numbers"><b>0</b><span></span></li>
                <li class="numbers"><b>1</b><span></span></li>
                <li class="numbers"><b>2</b><span></span></li>
                <li class="numbers"><b>3</b><span></span></li>
                <li class="numbers"><b>4</b><span></span></li>
                <li class="numbers"><b>5</b><span></span></li>
                <li class="numbers"><b>6</b><span></span></li>
                <li class="numbers"><b>7</b><span></span></li>
                <li class="numbers"><b>8</b><span></span></li>
                <li class="numbers"><b>9</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>