@*<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="FS" value="FS" />标准选号</label><label>
            <input type="radio" name="gametype" url="DT" value="FS" way="2" />胆拖选号</label><label><input
                type="radio" name="gametype" url="HZ" value="HZ" way="3" />和值</label><label><input
                    type="radio" name="gametype" url="FSSG" value="FS" way="4" />手工录入</label>
</div>*@
<div class="bet_snav">
    <label><input type="radio" name="gametype" url="FS" value="FS"  data-t="FS"/>标准选号</label>
    <label><input type="radio" name="gametype" url="DT" value="FS" way="2" data-t="DT" />胆拖选号</label>
    <label><input type="radio" name="gametype" url="HZ" value="HZ" way="3" data-t="HZ" />和值</label>
    <label><input type="radio" name="gametype" url="FSSG" value="FS" way="4" data-t="FS" />手工录入</label>
</div>