@*<div class="game-ballsmain">
    <span class="gray"><b>和值：</b>通过个、十、百位的数字和值进行组合投注，奖金<b class="red">1000</b>元</span>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">和值</li>
            <li class="desc gray">包含组合</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b count="1">0</b><b count="3">1</b><b count="6">2</b><b count="10">3</b><b
                count="15">4</b><b count="21">5</b><b count="28">6</b><b count="36">7</b><b count="45">8</b><b
                    count="55">9</b><b count="63">10</b><b count="69">11</b><b count="73">12</b><b count="75">13</b><b
                        count="75">14</b><b count="73">15</b><b count="69">16</b><b count="63">17</b><b count="55">18</b><b
                            count="45">19</b></li>
            <li class="desc"><i>1</i><i>3</i><i>6</i><i>10</i><i>15</i><i>21</i><i>28</i><i>36</i><i>45</i><i>55</i><i>63</i><i>69</i><i>73</i><i>75</i><i>75</i><i>73</i><i>69</i><i>63</i><i>55</i><i>45</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="ballrow">
        <ul class="balltitle">
            <li class="desc">和值</li>
            <li class="desc gray">包含组合</li>
        </ul>
        <ul class="ball">
            <li class="numbers"><b count="36">20</b><b count="28">21</b><b count="21">22</b><b
                count="15">23</b><b count="10">24</b><b count="6">25</b><b count="3">26</b><b count="1">27</b></li>
            <li class="desc"><i>36</i><i>28</i><i>21</i><i>15</i><i>10</i><i>6</i><i>3</i><i>1</i></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>
*@

<h1 class="playprompt">
    <em class="red">玩法提示：</em>至少选择1个和值进行投注，所选和值与开奖号码和值一致即中奖，奖金：<em class="fred">1000</em>元！ <a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：6 <br>
                                                                                                                                                                                    开奖：<strong class="red"><b class="slnum">1</b> <b class="slnum">2</b> <b class="slnum">3</b></strong><br>奖金：1000元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>和值区</strong> &nbsp;至少选择<em class="c_ba1d21">1</em>个号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">选择号码</b></div>
        <div style="width: 610px" class="red_balls ball">
            <ul class="clearfix">
                <li class="numbers"><b>0</b></li>
                <li class="numbers"><b>1</b></li>
                <li class="numbers"><b>2</b></li>
                <li class="numbers"><b>3</b></li>
                <li class="numbers"><b>4</b></li>
                <li class="numbers"><b>5</b></li>
                <li class="numbers"><b>6</b></li>
                <li class="numbers"><b>7</b></li>
                <li class="numbers"><b>8</b></li>
                <li class="numbers"><b>9</b></li>
                <li class="numbers"><b>10</b></li>
                <li class="numbers"><b>11</b></li>
                <li class="numbers"><b>12</b></li>
                <li class="numbers"><b>13</b></li>
                <li class="numbers"><b>14</b></li>
                <li class="numbers"><b>15</b></li>
                <li class="numbers"><b>16</b></li>
                <li class="numbers"><b>17</b></li>
                <li class="numbers"><b>18</b></li>
                <li class="numbers"><b>19</b></li>
                <li class="numbers"><b>20</b></li>
                <li class="numbers"><b>21</b></li>
                <li class="numbers"><b>22</b></li>
                <li class="numbers"><b>23</b></li>
                <li class="numbers"><b>24</b></li>
                <li class="numbers"><b>25</b></li>
                <li class="numbers"><b>26</b></li>
                <li class="numbers"><b>27</b></li>
            </ul>
        </div>
    </div>
</div>