@*<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="ZX3DS" value="ZX3DS"/>组三单式</label><label>
                                                                                       <input type="radio" name="gametype" url="ZX3FS" value="ZX3FS" />组三复式</label><label><input
                                                                                                                                                                              type="radio" name="gametype" url="ZX3HZ" value="ZX3DS" way="3"/>组三和值</label><label><input
                                                                                                                                                                                                                                                                     type="radio" name="gametype" url="ZX3SG" value="ZX3DS" way="4" />手工录入</label>
</div>*@


<div class="bet_snav">
    <label><input type="radio" name="gametype" url="ZX3DS" value="ZX3DS"/>组三单式</label>
    <label><input type="radio" name="gametype" url="ZX3FS" value="ZX3FS" />组三复式</label>
   @* <label><input type="radio" name="gametype" url="ZX3HZ" value="ZX3DS" way="3"/>组三和值</label>*@
    <label><input type="radio" name="gametype" url="ZX3SG" value="ZX3DS" way="4" />手工录入</label>
</div>