@using GameBiz.Core;
@{
    var award = ViewBag.Award as LotteryData.Core.GameWinNumber_Info;
    var issues = ViewBag.CurIssuse as Issuse_QueryInfo;
}
@GameHelper.LotteryHeaderView(issues, award, award == null || award.Id == 0 ? "GDKLSF" : award.GameCode)
@GameHelper.LotteryDescView(award == null || award.Id == 0 ? "GDKLSF" : award.GameCode)
<div class="lot-con-l">
    <h2 class="sctitle">
        <span class="der2"></span><b>快乐十分奖级设置</b></h2>
    <div class="td_div2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sg">
            <tbody>
                <tr>
                    <td>
                        首位数投
                    </td>
                    <td>
                        投注号码与开奖出现的第一个位置的号码相符
                    </td>
                    <td>
                        24元
                    </td>
                </tr>
                <tr>
                    <td>
                        首位红投
                    </td>
                    <td class="td1">
                        投注号码与开奖中按开奖顺序出现的第一个位置为红色号码相符
                    </td>
                    <td>
                        8元
                    </td>
                </tr>
                <tr>
                    <td>
                        快乐二
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中任意2个位置的号码相符
                    </td>
                    <td>
                        8元
                    </td>
                </tr>
                <tr>
                    <td>
                        二连组
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限）
                    </td>
                    <td>
                        31元
                    </td>
                </tr>
                <tr>
                    <td>
                        二连直
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码按位相符
                    </td>
                    <td>
                        62元
                    </td>
                </tr>
                <tr>
                    <td>
                        快乐三
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中任意3个位置的号码相符
                    </td>
                    <td>
                        24元
                    </td>
                </tr>
                <tr>
                    <td>
                        前三组
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限）
                    </td>
                    <td>
                        1300元
                    </td>
                </tr>
                <tr>
                    <td>
                        前三直
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中按开奖顺序出现的前3个位置的号码按位相符
                    </td>
                    <td>
                        8000元
                    </td>
                </tr>
                <tr>
                    <td>
                        快乐四
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中任意4个位置的号码相符
                    </td>
                    <td>
                        80元
                    </td>
                </tr>
                <tr>
                    <td>
                        快乐五
                    </td>
                    <td class="td1">
                        投注号码与开奖号码中任意5个位置的号码相符
                    </td>
                    <td>
                        320元
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="lot-con-r">
    <h2 class="sctitle">
        <span class="der3"></span><b>快乐十分资讯</b></h2>
    @{Html.RenderAction("LotteryConsulting", "buy", new { id = "GDKLSF" });}
</div>
<div class="clearfix"></div>