@using GameBiz.Core;
@{
    var award = ViewBag.Award as LotteryData.Core.GameWinNumber_Info;
    var issues = ViewBag.CurIssuse as Issuse_QueryInfo;
}
@GameHelper.LotteryHeaderView(issues, award, award == null || award.Id == 0 ? "JSKS" : award.GameCode)
@GameHelper.LotteryDescView(award == null||award.Id==0? "JSKS" : award.GameCode)
<div class="lot-con-l">
    <h2 class="sctitle">
        <span class="der2"></span><b>快乐十分奖级设置</b></h2>
    <div class="td_div2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sg">
            
        </table>
    </div>
</div>
<div class="lot-con-r">
    <h2 class="sctitle">
        <span class="der3"></span><b>江苏快3资讯</b></h2>
    @{Html.RenderAction("LotteryConsulting", "buy", new { id = "JSKS" });}
</div>
<div class="clearfix"></div>
