<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IsTest" value="False" />
    <add key="SiteMark" value="iqucai" />
    <!--日志记录接口-->
    <add key="LogWriter" value="Common.Log.ErrorLogWriter,Common" />
    <add key="LogFolder" value="app.lottery.site" />
    <!--静态文件引用-->
    <add key="ResourceSiteUrl" value="http://10.0.3.6:788/test" />
    <add key="ResSiteUrl" value="http://10.0.3.6:788" />
    <add key="DataSiteUrl" value="http://10.0.3.6:888" />
    <add key="DataJsonSiteUrl" value="http://10.0.3.6:888" />
    <!--推广地址-->
    <add key="TGDomain_1" value="http://www.wancai.com/" />
    <add key="TGDomain_2" value="http://m.wancai.com/" />
    <!--网站是否开启0表示开启1表示停售-->
    <add key="IsOpen" value="0" />
    <!--网站域名地址-->
    <add key="SelfDomain" value="http://www.wancai.com/" />
    <!--上传服务地址-->
    <add key="UpLoadPostPath" value="/UpLoad/upload_json.aspx" />
    <!--站点名称-->
    <add key="WebSiteEName" value="wancai" />
    <add key="TouchCaibb" value="http://m.wancai.com/" />
    <!--神单_关注信息生成间隔时间:豪秒-->
    <add key="ConcernedTime" value="600000" />
    <!--神单_今日神单间隔时间:豪秒-->
    <add key="RedanTodayTime" value="600000" />
    <!--博客json数据有效时间：分钟-->
    <add key="BlogValidMinute" value="30" />
    <!--是否生成订单缓存-->
    <add key="IsBuildCache" value="true" />
    <!--是否做CC处理-->
    <add key="CheckCC" value="false" />
    <!--支付宝教程-->
    <add key="alipayWay" value="iqucaipay@iqucai.com" />
    <!--Redis连接字符串-->
    <add key="RedisConnect" value="10.0.3.6,password=wancai_redis123" />
    <add key="RedisHost" value="10.0.3.6" />
    <add key="RedisPost" value="6379" />
    <add key="RedisPassword" value="wancai_redis123" />
    <!--缓存Redis连接字符串-->
    <add key="CacheRedisHost" value="10.0.3.6" />
    <add key="CacheRedisPost" value="6379" />
    <add key="CacheRedisPassword" value="wancai_redis123" />
    <add key="host" value="玩彩网" />
    <!--投注订单是否加入Redis队列-->
    <add key="BetOrderToRedisList" value="true" />
    <!--投注队列最大个数-->
    <add key="Max_BetListCount" value="5" />
    <!--WCF地址配置信息-->
    <add key="WcfClientUrl.Activity" value="http://10.0.3.6:7881/Wcf_Activity.svc" />
    <add key="WcfClientUrl.External" value="http://10.0.3.6:7881/Wcf_External.svc" />
    <add key="WcfClientUrl.GameBiz.Core" value="http://10.0.3.6:7881/Wcf_GameBiz_Core.svc" />
    <add key="WcfClientUrl.GameBiz.Fund" value="http://10.0.3.6:7881/Wcf_GameBiz_Fund.svc" />
    <add key="WcfClientUrl.GameBiz.Query" value="http://10.0.3.6:7881/Wcf_GameBiz_Query.svc" />
    <add key="WcfClientUrl.GameBiz.Issuse" value="http://10.0.3.6:7881/Wcf_GameBiz_Issuse.svc" />
    <add key="WcfClientUrl.GameBiz.Experter" value="http://10.0.3.6:7881/Wcf_GameBiz_Experter.svc" />
    <add key="WcfClientUrl.IntegralBiz" value="http://10.0.3.6:7881/Wcf_Integral.svc" />
    <add key="WcfClientUrl.LotteryData" value="http://10.0.3.6:7883/Wcf_LotteryData_LostHot.svc" />
    <add key="WcfClientUrl.Chart" value="http://10.0.3.6:7883/Wcf_LotteryData_Chart.svc" />
    <add key="WcfClientUrl.InfoBiz.Core" value="http://10.0.3.6:7883/Wcf_Info_Core.svc" />
    <!--UCenter配置开始-->
    <!--客户端版本-->
    <add key="UC_CLIENT_VERSION" value="1.5.2" />
    <!--发行时间-->
    <add key="UC_CLIENT_RELEASE" value="20101001" />
    <!--API 开关（value类型：True False 默认值：True）-->
    <!--是否允许删除用户-->
    <add key="API_DELETEUSER" value="True" />
    <!--是否允许重命名用户-->
    <add key="API_RENAMEUSER" value="True" />
    <!--是否允许得到标签-->
    <add key="API_GETTAG" value="True" />
    <!--是否允许同步登录-->
    <add key="API_SYNLOGIN" value="True" />
    <!--是否允许同步登出-->
    <add key="API_SYNLOGOUT" value="True" />
    <!--是否允许更改密码-->
    <add key="API_UPDATEPW" value="True" />
    <!--是否允许更新关键字-->
    <add key="API_UPDATEBADWORDS" value="True" />
    <!--是否允许更新域名解析缓存-->
    <add key="API_UPDATEHOSTS" value="True" />
    <!--是否允许更新应用列表-->
    <add key="API_UPDATEAPPS" value="True" />
    <!--是否允许更新客户端缓存-->
    <add key="API_UPDATECLIENT" value="True" />
    <!--是否允许更新用户返点-->
    <add key="API_UPDATECREDIT" value="True" />
    <!--是否允许向UCenter提供返点设置-->
    <add key="API_GETCREDITSETTINGS" value="True" />
    <!--是否允许获取用户的某项返点-->
    <add key="API_GETCREDIT" value="True" />
    <!--是否允许更新应用返点设置-->
    <add key="API_UPDATECREDITSETTINGS" value="True" />
    <!--API 开关结束-->
    <!--返回值设置-->
    <!--返回成功（默认：1）-->
    <add key="API_RETURN_SUCCEED" value="1" />
    <!--返回失败（默认：-1）-->
    <add key="API_RETURN_FAILED" value="-1" />
    <!--返回禁用（默认：-2）-->
    <add key="API_RETURN_FORBIDDEN" value="-2" />
    <!--返回值设置结束-->
    <!--[必填]通信密钥-->
    <add key="UC_KEY" value="7b4aLhU00W5iWhc7iQ/DoRs9HB6dJhoXi2BQcPQ" />
    <!--[必填]UCenter地址-->
    <add key="UC_API" value="http://bbs.iqucai.com/uc_server" />
    <!--[必填]默认编码-->
    <add key="UC_CHARSET" value="gbk" />
    <!--[非必填]UCenter IP-->
    <add key="UC_IP" value="" />
    <!--[必填]应用ID-->
    <add key="UC_APPID" value="4" />
    <add key="BBS_URL" value="http://bbs.iqucai.com" />
    <!--UCenter配置结束-->
    <!--摩宝快捷支付域名-->
    <add key="mobao_posturl" value="http://newpay.kspay.net:8080/ks_onlpay/gateways/trans" />
    <!--摩宝商户号码-->
    <add key="mobao_merId" value="936440348160056" />
    <!--摩宝商户密钥-->
    <add key="mobao_merPubKey" value="6E8F443A385B736C" />
    <!--金海哲商户号码-->
    <add key="jhz_merchantNo" value="500009626796" />
    <!--中铁商户号-->
    <add key="ZT_merchant_no" value="TOF00016" />
    <!--中铁扫码请求地址-->
    <add key="ZT_codepayUrl" value="http://api.crpay.com/payapi/gateway" />
    <!--中铁网银请求地址-->
    <add key="ZT_bankpayUrl" value="http://api.crpay.com/payapi/bankpay" />
    <!--中铁密钥-->
    <add key="ZT_privateKey" value="c9ab0bfba6734cdba9b1c2038e16035b" />
    <!--多的宝支付域名-->
    <add key="DEBPay_Url" value="http://pay.szdrbkj.com" />
    <!--速汇宝支付域名-->
    <add key="SFBPay_Url" value="http://pay.szdrbkj.com" />
    <!--天下付-->
    <add key="tfb_spid" value="1800113378" />
    <add key="tfb_Key" value="s,Kw70ESV7" />
    <add key="tfb_PostUrl_weixin" value="http://upay.tfb8.com/cgi-bin/v2.0/api_wx_pay_apply.cgi" />
    <add key="tfb_PostUrl_alipay" value="http://upay.tfb8.com/cgi-bin/v2.0/api_ali_pay_apply.cgi" />
    <add key="tfb_PostUrl" value="http://api.tfb8.com/cgi-bin/v2.0/api_cardpay_apply.cgi" />
    <!--速汇宝jiang-->
    <add key="sfb_merchantcode" value="6000071508" />
    <add key="sfb_privatekey" value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAKpe39fz1oXjoeqe7IhvP+ec+rL3Rb/ViGx/j1Thkr3dL8iqOOjolfCK4WUobQBBB83GtFSsaH0T5htdkvqd2VObKwFmg0xGRuJHrdgy9PDOfi+DUAy7bmU8ynRD0sJ91QMk4r8XEVnub6mf9x/zJPGP/EnD2RKeEiCx3GNrBljNAgMBAAECgYBswoYpSQsgi9F4gp3C9yoXhHnyN7J6JSmjAceRSzMvK31un2QXIytc1HvQ5P64k8sUjQ3fo/RMLKDPxWunu47ZKuAZITeb3keHcH5Yz68Q6mTkIMWq0p8xuX2qPptDWCFQB/v0KjqrOJf1upDE62WTJYP0gcBRKax6JhDGcoR5IQJBANQM2wXv5cdmEIy+LkJixoq3f6/nVpWjzw65HXOGIgGSCXPzD7gVWtdrmYdSJKQDRtOXz7QOkyoD924rLs40HUUCQQDNrouzGRfz9/s5EXHjvw5x7Tu1OB30Vm2FbqYubkHUEjfh+VJP+CnHzGJecmF9MTSxqlAJzTWHqan/mcEiH7HpAkAh5jA5gcF9IA7zQRAKItpUoMMz7srDv11BoExaBI55K8yBEdFof1l3aMcxf+tFoRR4jSNySIY0SFAM97BS3Lf1AkEAjCh8NABOjUaX4AyeMlb4TfQeMuBZsS3QFhQPlCY4H36GrCtMxwfR2L/S7I8/FaOZR9RKFFPNPXQFTxMEQ++bOQJBAI8z1UNgEwM4VGKrg89/ts7hpFMH1WPAcfAWV9vw3tO0bh67E84IlQPDLUiC0xilxK3ZPzB7pl/DHlUtpxJBbZY=" />
    <!--艾付-->
    <add key="af_merchant_no" value="144801009655" />
    <add key="af_key" value="be7a5a01-04ae-11e8-85bc-3f973c97e043" />
    <add key="af_url" value="http://pay.ifeepay.com/gateway/pay.jsp" />
    <!--神付-->
    <add key="shenfu_userid" value="33bc7bb0541a4487942e9c4af77467d5" />
    <add key="shenfu_userName" value="wc" />
    <add key="shenfu_key" value="e10a9875e95b4645828dab8b3f6d62e7" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.1, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors defaultRedirect="/404/404.html" mode="Off" redirectMode="ResponseRedirect">
      <error redirect="/404/404.html" statusCode="500" />
      <error statusCode="404" redirect="/404/404.html" />
      <error redirect="/Error/Err_403" statusCode="403" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<sessionState mode="Custom" customProvider="MySessionStateStore" timeout="360">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="localhost" port="6379" accessKey="wancai_redis123" ssl="false" databaseId="15" />
      </providers>
    </sessionState>-->
    <!--设置Session过期时间-->
    <!--<sessionState mode="InProc" timeout="360" />-->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="404.html" responseMode="File" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebSocket4Net" publicKeyToken="eb4e154b696bf72a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.15.2.11" newVersion="0.15.2.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>