<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q2ZHIX" value="Q2ZHIX" />标准选号</label><label><input
            type="radio" name="gametype" url="Q2ZHIXSG" value="Q2ZHIX" way="4" />手工录入</label>
</div>
