<!--<div class="game-ballsmain">
        <span class="gray"><b>前二组选：</b>竞猜开奖号码的前面两位，选择2个或以上号码投注，奖金<b class="red">65</b>元</span>
        <div class="ballrow danma">
            <ul class="balltitle">
                <li class="desc">胆码</li>
            </ul>
            <ul class="ball">
                <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b></li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="ballrow tuoma">
            <ul class="balltitle">
                <li class="desc">拖码</li>
                <li>
                    @*<select>
                    <option value="RXLose">遗漏</option>
                    <option value="RXHot">冷热</option>
                </select>*@
                </li>
            </ul>
            <ul class="ball">
                <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b></li>
            </ul>
            <div class="clear">
            </div>
        </div>
    </div>-->
    
    <h1 class="playprompt"><em class="red">玩法提示：</em>选1个胆码，选2个或多个拖码投注，命中前二位即中奖！奖金:<em class="fred">65</em>元。
<a href="javascript:" class="szc_notice"><strong class="sl">示例</strong><span>选号：[胆]<b class="slnum">01</b> [拖]<b class="slnum">02</b> 10<br>
          开奖：<strong class="red"><b class="slnum">01</b> <b class="slnum">02</b> <b>03</b> <b>04</b> <b>05</b></strong><br>奖金：65元。</span></a>
</h1>
<div class="bet_balls clear">
    <div class="dan_con"><strong>胆码区</strong> &nbsp;您认为<em class="c_ba1d21">必出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">胆码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls danma">
            <ul class="clearfix ball">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bet_balls clear">
    <div class="dan_con"><strong>拖码区</strong> &nbsp;您认为<em class="c_ba1d21">可能出</em>的号码</div>
    <div class="balls_con">
        <div class="bet_text"><b class="c_ba1d21">拖码</b>
            @*<div class="szc_yilou pr">
                <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite><em style="display: none;"><a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</a><a title="隐藏" val="hd" href="#">隐藏</a></em></div>*@
        </div>
        <div class="red_balls tuoma">
            <ul class="clearfix ball">
                <li class="numbers"><b>01</b><span></span></li>
                <li class="numbers"><b>02</b><span></span></li>
                <li class="numbers"><b>03</b><span></span></li>
                <li class="numbers"><b>04</b><span></span></li>
                <li class="numbers"><b>05</b><span></span></li>
                <li class="numbers"><b>06</b><span></span></li>
                <li class="numbers"><b>07</b><span></span></li>
                <li class="numbers"><b>08</b><span></span></li>
                <li class="numbers"><b>09</b><span></span></li>
                <li class="numbers"><b>10</b><span></span></li>
                <li class="numbers"><b>11</b><span></span></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
