<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q2ZUX" value="Q2ZUX" />标准选号</label><label>
            <input type="radio" name="gametype" url="Q2ZUXDT" value="Q2ZUX" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="Q2ZUXSG" value="Q2ZUX" way="4" />手工录入</label>
</div>
