<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q3ZHIX" value="Q3ZHIX" />标准选号</label><label><input
            type="radio" name="gametype" url="Q3ZHIXSG" value="Q3ZHIX" way="4" />手工录入</label>
</div>
