<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="Q3ZUX" value="Q3ZUX" />标准选号</label><label>
            <input type="radio" name="gametype" url="Q3ZUXDT" value="Q3ZUX" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="Q3ZUXSG" value="Q3ZUX" way="4" />手工录入</label>
</div>
