<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX3" value="RX3" />标准选号</label><label><input
            type="radio" name="gametype" url="RX3DT" value="RX3" way="2" />胆拖</label>
</div>
