<div class="bet_snav">
    <label>
        <input type="radio" name="gametype" url="RX6" value="RX6" />标准选号</label><label><input
            type="radio" name="gametype" url="RX6DT" value="RX6" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX6SG" value="RX6" way="4" />手工录入</label>
</div>
