<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选六：</b>竞猜全部开奖号码，至少选择6个或以上号码投注，任意5个猜中则中奖，奖金<b class="red">90</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05,06 或 01.02.03.04.05.06 或 01+02+03+04+05+06 或 010203040506")
</div>