<div class="game-ballsmain">
    <h1 class="playprompt"><b>任选七：</b>竞猜全部开奖号码，至少选择7个或以上号码投注，任意5个猜中则中奖，奖金<b class="red">26</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05,06,07 或 01.02.03.04,05.06.07 或 01+02+03+04+05+06+07 或 01020304050607")
</div>