<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="RX8" value="RX8" />标准选号</label><label><input
            type="radio" name="gametype" url="RX8DT" value="RX8" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="RX8SG" value="RX8" way="4" />手工录入</label>
</div>
