@{
    var Title = "广东快乐十分规则";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
    @ViewHelpers.css("help.css")
}
<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/staticHtml/help/index.html">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;广东快乐十分规则</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "howToPlay", name = "gdklsf" });}
    <div class="help_r">
        <div class="det_box">
            <h2>
                广东快乐十分规则</h2>
            <div class="det_c">
                <span style="color: #333333; font-family: 宋体, tahoma; font-size: 14px; font-style: normal;
                    font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 24px;
                    orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none;
                    white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none;
                    -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;" class="Apple-style-span">
                    <h3>
                        第一章 总则</h3>
                    <p>
                        第一条：根据《彩票发行与销售管理暂行规定》（财综[2002]13号）等规定，结合计算机网络技术，制定本规则。
                    </p>
                    <p>
                        第二条：广东省电脑福利彩票快乐十分游戏（以下简称快乐十分）由中国福利彩票发行管理中心组织，由广东省福利彩票发行中心在所辖区域内承销。
                    </p>
                    <p>
                        第三条：快乐十分采用计算机网络系统发行销售，定期开奖。
                    </p>
                    <p>
                      第四条：快乐十分实行自愿购买，凡购票者均被视为同意并遵守本规则。
                    </p>
                    <p>第五条：不得向未成年人出售彩票或兑付奖金。</p>

                    <h3>第二章 投注</h3>
                    <p>第六条：快乐十分采用组合式玩法，从1至20个数字号码中选择号码进行投注，共有5种投注方式，包括：</p>
                    <p>快乐1：从号码1-20中选择1 个号码进行投注。</p>
                    <p>快乐2：从号码1-20中选择2 个号码进行投注。</p>
                    <p>快乐3：从号码1-20中选择3 个号码进行投注。</p>
                    <p>快乐4：从号码1-20中选择4 个号码进行投注。</p>
                    <p>快乐5：从号码1-20中选择5 个号码进行投注。</p>
                    <p>第七条：快乐十分每注金额人民币2元，按期销售，销售期号以开奖日界定，按日历年度和开奖顺序编排。</p>
                    <p>第八条：投注者可在广东省福利彩票发行中心设置的任何一个快乐十分销售厅（点）投注。投注者可选择机选号码投注或者自选号码投注，机选号码投注即由投注机随机产生投注号码进行投注，自选号码投注即将投注者选定的号码输入投注机进行投注。</p>
                    <p>第九条：快乐十分采取有纸化投注，投注号码经投注机打印出对奖凭证，交由投注者保存，此对奖凭证即为快乐十分彩票。</p>
                    <p>第十条：投注方法分为单式投注、复式投注和多倍投注。单式投注是在20个号码中选择1个、2个、3个、4个或者5个号码为一注的投注，单式投注时每张彩票可打印1至5注号码；复式投注是在20个号码中选择2至6个以上号码组合成多注投注号码的投注，复式投注每张彩票只打印1组号码；多倍投注是同样的号码购买多倍的投注，每张彩票最多可购买20倍。</p>
                    <p>第十一条：投注期限可分为当期投注和多期投注。当期投注是指只购买当期彩票；多期投注是指购买从当期起连续若干期的彩票。</p>
                    <p>第十二条：快乐十分当期每组号码的投注注数，根据市场情况限量销售，由广东省福利彩票发行中心根据实际情况具体限额。</p>
                    <h3>第三章 设奖</h3>
                    <p>第十三条：快乐十分按当期销售额的50%，15%，和35%分别计提返奖奖金、发行费和公益金。</p>
                    <p>第十四条：快乐十分采用固定奖金设奖，按所设奖金等级兑奖。具体设奖如下：</p>
                    <p>快乐5：单注奖金固定为9999元、45元、2元；</p>
                    <p>快乐4：单注奖金固定为600元或10元；</p>
                    <p>快乐3：单注奖金固定为110元；</p>
                    <p>快乐2：单注奖金固定为20元；</p>
                    <p>快乐1：单注奖金固定为4元；</p>
                    <p>第十五条：快乐十分设置奖池。奖池资金由当期计提奖金与实际中出奖金的差额，以及弃奖奖金组成。当期实际中出奖金小于当期计提奖金时，余额进入奖池；当期实际中出奖金超过当期计提奖金时，差额由奖池资金补足。当奖池资金总额不足时，用发行费垫支。</p>
                    <p></p>
                    <h3>第四章 开奖</h3>
                    <p>第十六条：快乐十分采用专用电子开奖设备开奖，每期从1至20的号码中随机摇出5个号码，作为当期开奖号码。</p>
                    <p>第十七条：快乐十分每隔10分钟开奖一次，开奖号码通过与数据中心连接的视频设备显示。</p>
                    <p>第十八条：快乐十分每期开奖后，将当期销售总额、开奖号码和各奖等中奖注数、金额，通过销售厅（点）等及时向社会公布。</p>
                    <h3>第五章 中奖</h3>
                    <p>第十九条：快乐十分根据投注号码与当期开奖奖号码相符个数多少（顺序不限）确定相应中奖资格和中奖金额，具体如下：</p>
                    <p>快乐5：投注号码与当期开奖号码全部相符，中奖9999元；投注号码有4个与当期开奖号码任意4个相符，中奖45元；投注号码有3个与当期开奖号码任意3个相符，中奖2元。</p>
                    <p>快乐4：投注号码与当期开奖号码任意4个相符，中奖600元；投注号码有3个与当期开奖号码任意3个相符，中奖10元。</p>
                    <p>快乐3：投注号码与当期开奖号码任意3个相符，中奖110元。</p>
                    <p>快乐2：投注号码与当期开奖号码任意2个相符，中奖20元。</p>
                    <p>快乐1：投注号码与当期开奖号码任意1个相同，中奖4元。</p>
                    <p>第二十条：当期每注投注号码只有一次中奖机会，不能兼中兼得，特别设奖除外。</p>
                    <h3>第六章 兑奖</h3>
                    <p>第二十一条：快乐十分兑奖当期有效，每期开奖次日起30天为兑奖期，逾期未兑奖者视为弃奖，弃奖奖金进入奖池。</p>
                    <p>第二十二条：中奖彩票是兑奖凭证，因玷污、损坏等原因不能正确识别的，不能兑奖。</p>
                    <p>第二十三条：单张彩票中奖金额在5000元以下的中奖者，可在销售厅（点）兑奖；单张彩票中奖金额在5000元（含5000元）以上的中奖者,须持中奖彩票和本人有效身份证件,到所在地市福利彩票发行中心指定地点兑奖。</p>
                    <p>第二十四条：兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。</p>
                    <p>第二十五条：凡伪造、涂改中奖彩票冒领奖金者，送交司法机关追究法律责任。</p>
                    <h3>第七章 附则</h3>
                    <p>第二十六条 本规则自批准之日起执行。</p>
                  
                    
                   
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
@ViewHelpers.js("help.js")
