@{
    var Title = "山东快乐扑克3规则";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
    @ViewHelpers.css("help.css")
}
<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/staticHtml/help/index.html">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;山东快乐扑克3规则</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "howToPlay", name = "sdklpk3" });}
    <div class="help_r">
        <div class="det_box">
            <h2>
                山东快乐扑克3规则</h2>
            <div class="det_c">
                <span style="color: #333333; font-family: 宋体, tahoma; font-size: 14px; font-style: normal;
                    font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 24px;
                    orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none;
                    white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-decorations-in-effect: none;
                    -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px;" class="Apple-style-span">
                    <h3>
                        第一章 总则</h3>
                    <p>
                        第一条 根据《彩票管理条例》、《彩票管理条例实施细则》、《彩票发行销售管理办法》（财综﹝2012﹞102号）等相关规定，制定本规则。
                    </p>
                    <p>
                        第二条 中国体育彩票快乐扑克游戏（以下简称快乐扑克）由国家体育总局体育彩票管理中心发行和组织销售，由经财政部批准的体育彩票销售机构（以下称相关省体彩机构）在所辖区域内销售。
                    </p>
                    <p>
                        第三条 快乐扑克采用计算机网络系统发行，在相关省体彩机构设置的销售网点销售，定期开奖。
                    </p>
                    <p>
                      第四条 快乐扑克实行自愿购买，凡购买者均被视为同意并遵守本规则。
                    </p>
                    <p>第五条：不得向未成年人出售彩票或兑付奖金。</p>

                    <h3>第二章 投注</h3>
                    <p>第六条  快乐扑克是指对52张（黑桃、红桃、梅花、方块A-K各13张）扑克牌中的任意3个号码的组合进行投注，每组投注组合称为一注。每注金额人民币2元。购买者可对其选定的投注号码进行多倍投注，投注倍数范围为2-99倍。单张彩票的投注金额最高不得超过20000元。</p>
                    <p>第七条  购买者可在相关省体彩机构设置的销售网点投注。投注号码经投注机打印出对奖凭证，交购买者保存，此对奖凭证即为快乐扑克彩票。</p>
                    <p>第八条 快乐扑克分为“花色投注”、“连号投注”、“同号投注”、“任选投注”四种投注方式，具体规定如下：</p>
                    <p>（一）花色投注：是指对所有三个相同花色的号码进行投注，具体分为：</p>
                    <p>1. 同花包选：对所有花色相同的号码组合进行投注；</p>
                    <p>2. 同花单选：对某一种（如黑桃）花色相同的号码进行投注。</p>
                    <p>（二）连号投注：是指对所有三个相连的号码（仅限：A23、234、345、456、567、678、789、89<10>、9<10>J、<10>JQ、JQK、QKA）进行投注，具体分为：</p>
                    <p>1. 同花顺包选：对所有花色相同的三连号进行投注；</p>
                    <p>2. 同花顺单选：对某一种花色的三连号进行投注；</p>
                    <p>3. 顺子包选：对所有三连号（不分花色）进行投注；</p>
                    <p>4. 顺子单选：对某一个三连号（不分花色）进行投注。</p>
                    <p>（三）同号投注：是指对包含三个或两个相同号码的组合进行投注，具体分为：</p>
                    <p>1. 豹子包选：对所有“豹子号码”（3个号码均相同）进行投注；</p>
                    <p>2. 豹子单选：选择某一个“豹子号码”进行投注；</p>
                    <p>3. 对子包选：对所有“对子号码”（3个号码中有且只有2个号码相同）的组合进行投注；</p>
                    <p>4. 对子单选：对包含某两个相同号码的所有“对子号码”的组合进行投注。</p>
                    <p>（四）任选投注：是指从A-K（不分花色）共13个号码中任选1-6个进行投注，具体分为：</p>
                    <p>1. 任选一：从A-K中共13个号码中任选1个号码进行投注；</p>
                    <p>2. 任选二：从A-K中共13个号码中任选2个不同号码进行投注；</p>
                    <p>3. 任选三：从A-K中共13个号码中任选3个不同号码进行投注；</p>
                    <p>4. 任选四：从A-K中共13个号码中任选4个不同号码进行投注；</p>
                    <p>5. 任选五：从A-K中共13个号码中任选5个不同号码进行投注；</p>
                    <p>6. 任选六：从A-K中共13个号码中任选6个不同号码进行投注。</p>
                    <p>第九条 购买者可选择机选号码投注、自选号码投注。机选号码投注是指由投注机随机产生投注号码进行投注，自选号码投注是指将购买者选定的号码输入投注机进行投注。</p>
                    <p>第十条 购买者可选择复式投注、胆拖投注。复式投注是指所选号码个数超过单式投注的号码个数，所选号码可组合为每一种单式投注方式的多注彩票的投注。胆拖投注是指先选取少于单式投注号码个数的号码作为胆码（即每注彩票均包含的号码），再选取除胆码以外的号码作为拖码，胆码与拖码个数之和必须多于单式投注号码个数，由胆码与拖码的每一种组合按单式投注方式组成多注彩票的投注。</p>
                    <p>第十一条 快乐扑克每期销售时间为10分钟。销售期号以销售日按每期开奖顺序编排。</p>
                    <p>第十二条 快乐扑克每期全部投注号码的可投注数量实行限量销售，若投注号码受限，则不能投注。若因销售终端故障、通讯线路故障和投注站信用额度受限等原因造成投注不成功，应退还购买者投注金额。</p>
                    <p></p>
                    <h3>第三章   设   奖</h3>
                    <p>第十三条 快乐扑克按当期销售总额的59%、13%和28%分别计提彩票奖金、彩票发行费和彩票公益金。彩票奖金分为当期奖金和调节基金，其中，58%为当期奖金，1%为调节基金。</p>
                    <p>第十四条 快乐扑克按不同投注方式设奖，均为固定奖。奖金规定如下：</p>
                    <p>（一）花色投注</p>
                    <p>1. 同花包选：单注固定奖金22元;</p>
                    <p>2. 同花单选：单注固定奖金90元。</p>
                    <p>（二）连号投注</p>
                    <p>1. 同花顺包选：单注固定奖金535元;</p>
                    <p>2. 同花顺单选：单注固定奖金2150元;</p>
                    <p>3. 顺子包选：单注固定奖金33元;</p>
                    <p>4. 顺子单选：单注固定奖金400元。</p>
                    <p>（三）同号投注</p>
                    <p>1. 豹子包选：单注固定奖金500元;</p>
                    <p>2. 豹子单选：单注固定奖金6400元;</p>
                    <p>3. 对子包选：单注固定奖金7元;</p>
                    <p>4. 对子单选：单注固定奖金88元。</p>
                    <p>（四）任选投注</p>
                    <p>1. 任选一中1：单注固定奖金5元;</p>
                    <p>2. 任选二中2：单注固定奖金33元;</p>
                    <p>3. 任选三中3：单注固定奖金116元;</p>
                    <p>4. 任选四中3：单注固定奖金46元;</p>
                    <p>5. 任选五中3：单注固定奖金22元;</p>
                    <p>6. 任选六中3：单注固定奖金12元。</p>
                    <p>第十五条 快乐扑克设置调节基金。调节基金包括按销售总额1%提取部分、逾期未退票的票款。调节基金用于支付不可预见的奖金支出风险，以及设立特别奖。动用调节基金设立特别奖，应报同级财政部门审核批准。</p>
                    <p>第十六条 快乐扑克设置奖池。奖池资金由当期计提奖金与实际中出奖金的差额组成。当期实际中出奖金小于计提奖金时，余额进入奖池；当期实际中出奖金超过计提奖金时，差额由奖池资金补足。当奖池资金总额不足时，由调节基金补足，调节基金不足时，用彩票兑奖周转金垫支。在出现彩票兑奖周转金垫支的情况下，当调节基金有资金滚入时优先偿还垫支的彩票兑奖周转金。当奖池资金总额超过300万元时，超过部分转入调节基金。</p>
                    <p></p>
                    <h3>第四章   开   奖</h3>
                    <p>第十七条快乐扑克采用专用电子开奖设备开奖，每期随机从52张扑克牌中生成三个号码，作为当期开奖号码。开奖号码的顺序不能颠倒。每期开奖时间为1分钟。</p>
                    <p>第十八条每期开奖后，相关省体彩机构应向社会公布开奖号码、当期销售总额、各奖级中奖情况及奖池资金余额等信息，并将开奖结果通知销售网点。</p>
                    <p></p>
                    <h3>第五章   中   奖</h3>
                    <p>第十九条 根据购买者选择的快乐扑克的投注号码与当期开奖号码的对照情况，确定相应的中奖资格。具体规定如下：</p>
                    <p>（一）花色投注</p>
                    <p>1. 同花包选：当期开出的3个开奖号码花色相同即中奖；</p>
                    <p>2. 同花单选：当期开出的3个开奖号码花色相同，且投注号码的花色与开奖号码的花色相同即中奖。</p>
                    <p>（二）连号投注</p>
                    <p>1. 同花顺包选：当期开出的3个开奖号码为三连号且花色相同即中奖；</p>
                    <p>2. 同花顺单选：当期开出的3个开奖号码为三连号且花色均为投注的一种花色即中奖；</p>
                    <p>3. 顺子包选：当期开出的3个开奖号码为三连号即中奖；</p>
                    <p>4. 顺子单选：当期开出的3个开奖号码为三连号，且投注号码与开奖号码相同即中奖。</p>
                    <p>（三）同号投注</p>
                    <p>1. 豹子包选：当期开出的3个开奖号码为同一号码即中奖；</p>
                    <p>2. 豹子单选：当期开出的3个开奖号码为同一号码，且与投注号码相同即中奖；</p>
                    <p>3. 对子包选：当期开出的3个开奖号码有且只有2个号码相同即中奖；</p>
                    <p>4. 对子单选：当期开出的3个开奖号码有且只有2个号码相同，且投注的号码与该2个号码相同即中奖。</p>
                    <p>（四）任选投注</p>
                    <p>1. 任选一中1：投注号码与当期3个开奖号码中任意1个相同即中奖；</p>
                    <p>2. 任选二中2：投注的2个号码与当期3个开奖号码中任意2个相同即中奖；</p>
                    <p>3. 任选三中3：投注号码包含当期全部开奖号码即中奖；</p>
                    <p>4. 任选四中3：投注号码包含当期全部开奖号码即中奖；</p>
                    <p>5. 任选五中3：投注号码包含当期全部开奖号码即中奖；</p>
                    <p>6. 任选六中3：投注号码包含当期全部开奖号码即中奖。</p>
                    <p>第二十条 当期每注投注号码按其投注方式只有一次中奖机会，不能兼中兼得，特别设奖除外。</p>
                    <h3>第六章   兑   奖</h3>
                    <p>第二十一条 快乐扑克兑奖当期有效。中奖者应当自开奖之日起60个自然日内，持中奖彩票到指定的地点兑奖，逾期未兑奖视为弃奖。弃奖奖金纳入彩票公益金。</p>
                    <p>第二十二条 中奖彩票为兑奖唯一凭证，中奖彩票因玷污、损坏等原因不能正确识别的，不能兑奖。</p>
                    <p>第二十三条 兑奖机构可以查验中奖者的中奖彩票及有效身份证件，中奖者兑奖时应予配合。</p>
                    <h3>第七章   附   则</h3>
                    <p>第二十四条 本规则自批准之日起执行。</p>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
@ViewHelpers.js("help.js")
