@*<span class="favorites" style="display: inline-block; position: relative;">
    <!--<a class="add" href="#">收藏到</a>-->
    <div class="bdshare_t empty-class-for-padding" id="bdshare">
        <a href="javascript:void(0)" class="bds_more login-hd" style="background: none; padding-left: 2px;">分享<b class="c_down"></b></a>
    </div>
    <script data="type=button&amp;uid=514841" id="bdshare_js" type="text/javascript" src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=20120821"></script>
    <script id="bdshell_js" type="text/javascript" src="http://bdimg.share.baidu.com/static/js/shell_v2.js?t=0"></script>
</span>*@

@*<span class="favorites" style="display: inline-block; position: relative; overflow: hidden;">
    <!-- Baidu Button BEGIN -->
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more" style=" background-image:none !important;left: -23px;position: relative;top: 5px;;">分享</span>
    </div>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=514841"></script>
    <script type="text/javascript" id="bdshell_js"></script>
    <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
    </script>
    <!-- Baidu Button END -->
</span>*@