<!--信息确认框投注过关 开始-->
<div id="bet_confirm_gg">
         <table>
        <tr>
            <td class="itd-top-left"></td>
            <td class="itd-top-center"></td>
            <td class="itd-top-right"></td>
        </tr>
        <tr>
            <td class="itd-mid-left"></td>
            <td class="itd-mid-center">
                <div class="dialogContent">
      
   <h3 id="drag_confirm_gg" class="pop-comm-top">
        投注过关
        <a class="close" id="btn_confirm_close_gg">关闭</a>
    </h3>
    <div class="pop-comm-middle">
        <div id="bet_confirm_content_gg">
        </div>
        <div class="buttonrow">
            <input type="button" id="btn_confirm_yes_gg" value="确定" class="dialogBtn"/>
            <input type="button" id="btn_confirm_no_gg" value="取消" class="dialogBtn focusBtn"/>
        </div>
    </div>
                </div>
            </td>
            <td class="itd-mid-right"></td> 
        </tr>
        <tr>
            <td class="itd-bot-left"></td>
            <td class="itd-bot-center"></td>
            <td class="itd-bot-right"></td>
        </tr>
    </table>
    
</div>
<script type="text/javascript">
    //new Drag("bet_confirm_gg", { Handle: "drag_confirm_gg", Limit: true });
    var confirmLightBoxGg = new LightBox("bet_confirm_gg");

    function confirmTipGg(func,  func2) {
        var confirmgg_no_Event = function() {
            confirmLightBoxGg.Close();
            func2();
            document.getElementById("bet_confirm_content_gg").innerHTML = "";
        };
        func();
        document.getElementById("btn_confirm_no_gg").onclick = confirmgg_no_Event;
        document.getElementById("btn_confirm_close_gg").onclick = confirmgg_no_Event;
        $("#btn_confirm_yes_gg").focus();
    }
</script>
<!--信息确认框 结束-->
