@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <a href="/"><img src="@ViewHelpers.img("home/404-03.jpg")" width="100%" alt="点击返回首页" /></a>
    </div>
</body>
</html>