 <table width="100%" border="0" class="bf">
                                      <caption>上传字符标准</caption>
                                      <tbody>
                                      <tr>
                                          <td>选项</td>
                                          <td>1:0</td>
                                          <td>2:0</td>
                                          <td>2:1</td>
                                          <td>3:0</td>
                                          <td>3:1</td>
                                          <td>3:2</td>
                                          <td>4:0</td>
                                          <td>4:1</td>
                                          <td>4:2</td>
                                          <td>5:0</td>
                                          <td>5:1</td>
                                          <td>5:2</td>
                                          <td>胜其他</td>
                                      </tr>
                                      <tr>
                                          <td>上传字符</td>
                                          <td><input type="text" value="10" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="20" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="21" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="30" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="31" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="32" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="40" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="41" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="42" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="50" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="51" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="52" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="X0" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                      </tr>
                                      <tr>
                                          <td>选项</td>
                                          <td>0:0</td>
                                          <td>1:1</td>
                                          <td>2:2</td>
                                          <td>3:3</td>
                                          <td>平其他</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                          <td>上传字符</td>
                                          <td><input type="text" value="00" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="11" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="22" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="33" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td><input type="text" value="XX" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                          <td>&nbsp;</td>
                                      </tr>
                                      <tr>
                                         <td>选项</td>
                                         <td>0:1</td>
                                         <td>0:2</td>
                                         <td>1:2</td>
                                         <td>0:3</td>
                                         <td>1:3</td>
                                         <td>2:3</td>
                                         <td>0:4</td>
                                         <td>1:4</td>
                                         <td>2:4</td>
                                         <td>0:5</td>
                                         <td>1:5</td>
                                         <td>2:5</td>
                                         <td>负其他</td>
                                     </tr>
                                     <tr>
                                         <td>上传字符</td>
                                         <td><input type="text" value="01" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="02" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="12" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="03" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="13" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="23" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="04" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="14" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="24" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="05" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="15" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="25" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                         <td><input type="text" value="0X" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                     </tr>
                                      </tbody>
                                  </table>