<table width="723" height="48" cellspacing="0" cellpadding="0" border="0" id="tb_head" class="tb_head">
   <colgroup>
        <col width="42">
        <col width="52">
        <col width="64">
        <col width="60">
        <col width="200">
        <col width="160">
        <col width="108">
        <col width="/">
     </colgroup>
    <thead>
    <tr>
        <th class="bet_chc"><p class="pull_ui">
            <span>场次&nbsp;<s class="arrow"></s></span> <em> <a class="jc-cc" data-type="no" href="javascript: void(0)"><b class="desc"></b>场次</a></em>
        </p></th>
        <th>赛事</th>
        <th>联赛</th>
        <th>
            <p name="endtime" class="dropdown timeselect">
                <cite data-key="e_time" class="tselect">截止时间</cite>
                <em style="display: none;" class="none">
                    <a data-key="e_time" href="javascript:">截止时间</a>
                    <a data-key="b_time" href="javascript:">比赛时间</a>
                </em>
            </p>
        </th>
        <th>主胜 让球（分/局/盘）</th>
        <th>客胜</th>
        <th class="tbd">
            <p name="odds" class="dropdown oddsselect">
                <cite val="euro" class="oselect">欧赔</cite>
                <em style="display: none;">
                    <a value="oz">平均欧赔</a>
                    <a value="wlxe">威廉希尔</a>
                    <a value="am">澳门</a>
                    <a value="lb">立博</a>
                    <a value="bet365">Bet365</a>
                    <a value="snai">SNAI</a>
                    <a value="yds">易德胜</a>
                    <a value="wd">韦德</a>
                    <a value="bwin">Bwin</a>
                    <a value="coral">Coral</a>
                    <a value="oddset">oddset</a>
                </em>
            </p>
            <dl class="bet_tips">
                <dd>胜</dd>
                <dd>平</dd>
                <dd class="nrb">负</dd>
            </dl>
        </th>
        <th class="nrb">分析</th>
    </tr>
    </thead>
</table>