<table width="100%" border="0">
    <caption>
        上传字符标准</caption>
    <tbody>
        <tr>
            <td width="25%">
                选项
            </td>
            <td width="25%">
                胜
            </td>
            <td width="25%">
                平
            </td>
            <td width="25%">
                负
            </td>
        </tr>
        <tr>
            <td>
                上传字符
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="3">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="1">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="0">
            </td>
        </tr>
    </tbody>
</table>
