  <table width="100%" border="0">
                                    <caption>上传字符标准</caption>
                                    <tbody>
                                    <tr>
                                        <td>选项</td>
                                        <td>上+单</td>
                                        <td>上+双</td>
                                        <td>下+单</td>
                                        <td>下+双</td>
                                    </tr>
                                    <tr>
                                        <td>上传字符</td>
                                        <td><input type="text" value="0" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                        <td><input type="text" value="1" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                        <td><input type="text" value="2" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                        <td><input type="text" value="3" size="2" maxlength="2" readonly="readonly" class="up_dc"></td>
                                    </tr>
                                    </tbody>
                                </table>