<table width="100%" border="0">
    <caption>
        上传字符标准</caption>
    <tbody>
        <tr>
            <td>
                选项
            </td>
            <td>
                0
            </td>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
            <td>
                4
            </td>
            <td>
                5
            </td>
            <td>
                6
            </td>
            <td>
                7+
            </td>
        </tr>
        <tr>
            <td>
                上传字符
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="0">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="1">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="2">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="3">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="4">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="5">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="6">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="7">
            </td>
        </tr>
    </tbody>
</table>
