<div id="JSKS_HZ" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">和值：</em>至少选择<b class="red">1</b>个和值投注，选号与开奖的三个号码相加的数值一致即中奖。</h1>
    <table class="probability">
        <thead>
            <tr>
                <td class="tit1-bg-gray">和值</td>
                <td class="tit1-bg-gray">3或18</td>
                <td class="tit1-bg-gray">4或17</td>
                <td class="tit1-bg-gray">5或16</td>
                <td class="tit1-bg-gray">6或15</td>
                <td class="tit1-bg-gray">7或14</td>
                <td class="tit1-bg-gray">8或13</td>
                <td class="tit1-bg-gray">9或12</td>
                <td class="tit1-bg-gray">10或11</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tit1-bg-gray">中奖奖金(元)</td>
                <td>240</td>
                <td>80</td>
                <td>40</td>
                <td>25</td>
                <td>16</td>
                <td>12</td>
                <td>10</td>
                <td>9</td>
            </tr>
        </tbody>
    </table>
    <div class="ballrow" style="margin-top: 25px;">
        <h6><em>和值号</em></h6>
        <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers"><b>3</b><b>4</b><b>5</b><b>6</b><b>7</b><b>8</b><b>9</b><b>10</b></li>
            <li class="desc"><i>奖金240</i><i>奖金80</i><i>奖金40</i><i>奖金25</i><i>奖金16</i><i>奖金12</i><i>奖金10</i><i>奖金9</i></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
    <div class="ballrow">
        <h6><em class="desc-hidden"></em></h6>
        <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers"><b>11</b><b>12</b><b>13</b><b>14</b><b>15</b><b>16</b><b>17</b><b>18</b></li>
            <li class="desc"><i>奖金9</i><i>奖金10</i><i>奖金12</i><i>奖金16</i><i>奖金25</i><i>奖金40</i><i>奖金80</i><i>奖金240</i></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
<div id="JSKS_3THTX" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">三同号通选：</em>2元购买<b class="red">6</b>个三同号(111,222,333,444,555,666)投注，选号与开奖号码一致即中奖<b class="red">40</b>元。1/36的中奖机会！</h1>
    <div class="ballrow" style="margin-top: 25px; margin-bottom: 23px;">
        @*<h6><em>号码</em></h6>*@
        <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers long-bg"><b>(111,222,333,444,555,666)</b></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
<div id="JSKS_3THDX" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">三同号单选：</em>至少选择1个三同号投注，选号与开奖号码一致即中奖<b class="red">240</b>元。1/216的中奖机会！</h1>
    <div class="ballrow" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em>号码</em></h6>
        <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers"><b>111</b><b>222</b><b>333</b><b>444</b><b>555</b><b>666</b></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
<div id="JSKS_2THFX" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">二同号复选：</em>2元购买<b class="red">1</b>个二同号(11*,22*,33*,44*,55*,66*)投注，选号与开奖号码一致即中奖<b class="red">15</b>元</h1>
    <div class="ballrow" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em>号码</em></h6>
        <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers"><b>11*</b><b>22*</b><b>33*</b><b>44*</b><b>55*</b><b>66*</b></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
<div id="JSKS_2THDX" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">二同号单选：</em>2元购买<b class="red">1</b>个二同号(11*,22*,33*,44*,55*,66*)投注，选号与开奖号码一致即中奖<b class="red">80</b>元</h1>
    <div class="ballrow" style="margin-top: 25px;">
        <h6><em>同号</em></h6>
        <ul class="jsk3-ball th" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers"><b val="1">11</b><b val="2">22</b><b val="3">33</b><b val="4">44</b><b val="5">55</b><b val="6">66</b></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
    <div class="ballrow">
        <h6><em>不同号</em></h6>
        <ul class="jsk3-ball bth" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers"><b val="1">1</b><b val="2">2</b><b val="3">3</b><b val="4">4</b><b val="5">5</b><b val="6">6</b></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
<div id="JSKS_3BTH" class="game-ballsmain" style="display: none;">
    <div class="bet_snav">
        <label><input type="radio" name="gametype" url="3BTH" value="3BTH" />标准投注</label>
        <label><input type="radio" name="gametype" url="3BTHDT" value="3BTHDT" way="2"/>胆拖投注</label>
    </div>
    <div id="JSKS_3BTH_3BTH" class="playtype">
        <h1 class="playprompt"><em class="red">三不同号：</em>至少选择<b class="red">3</b>个号码投注，选号与开奖号码一致即中奖<b class="red">40</b>元。1/36的中奖机会！</h1>
        <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
            <h6><em>号码</em></h6>
            <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
                <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
            </ul>        
            <div class="clear"></div>
        </div>  
    </div>
    <div id="JSKS_3BTH_3BTHDT" class="playtype clearfix">
        <h1 class="playprompt"><em class="red">三不同号：</em>至少选择<b class="red">3</b>个号码投注，选号与开奖号码一致即中奖<b class="red">40</b>元。1/36的中奖机会！</h1>
        <div class="ballrow clearfix danma">
            <h6><em>胆码</em></h6>
            <ul class="jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
                <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
            </ul>        
            <div class="clear">
            </div>
        </div>   
        <div class="ballrow clearfix tuoma">
            <h6><em>拖码</em></h6>
            <ul class="jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
                <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
                <li class="desc hide"><i>0</i><i>1</i><i>1</i><i>1</i><i>2</i><i>0</i></li>
            </ul>        
            <div class="clear">
            </div>
        </div>  
    </div>
</div>
<div id="JSKS_2BTH" class="game-ballsmain" style="display: none;">
    <div class="bet_snav">
        <label><input type="radio" name="gametype" url="2BTH" value="2BTH" />标准投注</label>
        <label><input type="radio" name="gametype" url="2BTHDT" value="2BTHDT" way="2"/>胆拖投注</label>
    </div>
    <div id="JSKS_2BTH_2BTH" class="playtype">
        <h1 class="playprompt"><em class="red">二不同号：</em>至少选择<b class="red">2</b>个号码投注，选号与开奖号码一致即中奖<b class="red">8</b>元。1/36的中奖机会！</h1>
        <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
            <h6><em>号码</em></h6>
            <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
                <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
            </ul>        
            <div class="clear"></div>
        </div>  
    </div>
    <div id="JSKS_2BTH_2BTHDT" class="playtype clearfix">
        <h1 class="playprompt"><em class="red">二不同号：</em>至少选择<b class="red">2</b>个号码投注，选号与开奖号码一致即中奖<b class="red">8</b>元。1/36的中奖机会！</h1>
            <div class="ballrow clearfix danma">
            <h6><em>胆码</em></h6>
            <ul class="jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
                <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
            </ul>        
            <div class="clear">
            </div>
        </div>   
        <div class="ballrow clearfix tuoma">
            <h6><em>拖码</em></h6>
            <ul class="jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
                <li class="numbers"><b>1</b><b>2</b><b>3</b><b>4</b><b>5</b><b>6</b></li>
                <li class="desc hide"><i>0</i><i>1</i><i>1</i><i>1</i><i>2</i><i>0</i></li>
            </ul>        
            <div class="clear">
            </div>
        </div>  
    </div>
</div>
<div id="JSKS_3LHTX" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">三连号通选：</em>2元购买<b class="red">4</b>个三连号(123,234,345,456)投注，选号与开奖号码一致即中奖<b class="red">10</b>元。1/9的中奖机会！</h1>
    <div class="ballrow" style="margin-top: 25px; margin-bottom: 23px;">
        @*<h6><em>号码</em></h6>*@
        <ul class="ball jsk3-ball" style="float: left; width: 575px; margin-left: 10px;">
            <li class="numbers long-bg"><b>(123,234,345,456)</b></li>
        </ul>
        <div class="clearfix">
        </div>
    </div>
</div>
