<div id="SDKLPK3_TH" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">同花投注：</em>开出的号码花色一致，且投注的花色与之相同，即中奖<b class="red">90</b>元。同花包选，中奖奖金<b class="red">22</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 39px;">同花</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="thdx">
            <li class="th">
                <span data-val="TH1"><i class="spades"></i><em class="get">奖金90元</em></span>
                <span data-val="TH2"><i class="hearts"></i><em class="get">奖金90元</em></span>
                <span data-val="TH3"><i class="clubs"></i><em class="get">奖金90元</em></span>
                <span data-val="TH4"><i class="diamonds"></i><em class="get">奖金90元</em></span>
            </li>
        </ul>  
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="thbx">
            <li class="th thx">
                <span style="width: 272px;" data-val="THX"><i class="all_suit"></i><b class="left-banner">同花包选</b><em class="get">奖金22元</em></span>
            </li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>
<div id="SDKLPK3_SZ" class="game-ballsmain" style="display: none;">
    <div class="bet_snav">
        <label><input type="radio" name="gametype" url="SZ" value="SZ"/>顺子</label>
        <label><input type="radio" name="gametype" url="THS" value="SZ" />同花顺</label>
    </div>
    <div id="SDKLPK3_SZ_SZ" class="playtype">
        <h1 class="playprompt"><em class="red">同花直选：</em>开出三连号，且投注的号码与之相同，即中奖<b class="red">400</b>元。顺子包选，中奖奖金<b class="red">33</b>元。</h1>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">单选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="szdx">
                <li class="sz">
                    <span data-val="SZ1"><em>A,2,3</em></span>
                    <span data-val="SZ2"><em>2,3,4</em></span>
                    <span data-val="SZ3"><em>3,4,5</em></span>
                    <span data-val="SZ4"><em>4,5,6</em></span>
                    <span data-val="SZ5"><em>5,6,7</em></span>
                    <span data-val="SZ6"><em>6,7,8</em></span>
                    <span data-val="SZ7"><em>7,8,9</em></span>
                    <span data-val="SZ8"><em>8,9,10</em></span>
                    <span data-val="SZ9"><em>9,10,J</em></span>
                    <span data-val="SZ10"><em>10,J,Q</em></span>
                    <span data-val="SZ11"><em>J,Q,K</em></span>
                    <span data-val="SZ12"><em>Q,K,A</em></span>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">包选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="szbx">
                <li class="sz">
                    <div class="szx" data-val="SZX">
                        <span><em>A,2,3</em></span>
                        <span><em>2,3,4</em></span>
                        <span><em>3,4,5</em></span>
                        <span><em>4,5,6</em></span>
                        <span><em>5,6,7</em></span>
                        <span><em>6,7,8</em></span>
                        <span><em>7,8,9</em></span>
                        <span><em>8,9,10</em></span>
                        <span><em>9,10,J</em></span>
                        <span><em>10,J,Q</em></span>
                        <span><em>J,Q,K</em></span>
                        <span><em>Q,K,A</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
    </div>
    <div id="SDKLPK3_SZ_THS" class="playtype">
        <h1 class="playprompt"><em class="red">同花顺：</em>开出同花三连号，且投注的花色与之相同，即中奖<b class="red">2150</b>元。同花顺包选，中奖奖金<b class="red">535</b>元。</h1>
        <div class="ballrow clearfix">
            <h6><em style="margin-top: 18px;">黑桃</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz">
                    <div class="szx ths1" data-val="THS1">
                        <label class="assist"></label>
                        <span><em>A,2,3</em></span>
                        <span><em>2,3,4</em></span>
                        <span><em>3,4,5</em></span>
                        <span><em>4,5,6</em></span>
                        <span><em>5,6,7</em></span>
                        <span><em>6,7,8</em></span>
                        <span><em>7,8,9</em></span>
                        <span><em>8,9,10</em></span>
                        <span><em>9,10,J</em></span>
                        <span><em>10,J,Q</em></span>
                        <span><em>J,Q,K</em></span>
                        <span><em>Q,K,A</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix">
            <h6><em style="margin-top: 18px;">红桃</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz">
                    <div class="szx ths2" data-val="THS2">
                        <label class="assist"></label>
                        <span><em>A,2,3</em></span>
                        <span><em>2,3,4</em></span>
                        <span><em>3,4,5</em></span>
                        <span><em>4,5,6</em></span>
                        <span><em>5,6,7</em></span>
                        <span><em>6,7,8</em></span>
                        <span><em>7,8,9</em></span>
                        <span><em>8,9,10</em></span>
                        <span><em>9,10,J</em></span>
                        <span><em>10,J,Q</em></span>
                        <span><em>J,Q,K</em></span>
                        <span><em>Q,K,A</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix">
            <h6><em style="margin-top: 18px;">梅花</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz">
                    <div class="szx ths3" data-val="THS3">
                        <label class="assist"></label>
                        <span><em>A,2,3</em></span>
                        <span><em>2,3,4</em></span>
                        <span><em>3,4,5</em></span>
                        <span><em>4,5,6</em></span>
                        <span><em>5,6,7</em></span>
                        <span><em>6,7,8</em></span>
                        <span><em>7,8,9</em></span>
                        <span><em>8,9,10</em></span>
                        <span><em>9,10,J</em></span>
                        <span><em>10,J,Q</em></span>
                        <span><em>J,Q,K</em></span>
                        <span><em>Q,K,A</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">方块</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz">
                    <div class="szx ths4" data-val="THS4">
                        <label class="assist"></label>
                        <span><em>A,2,3</em></span>
                        <span><em>2,3,4</em></span>
                        <span><em>3,4,5</em></span>
                        <span><em>4,5,6</em></span>
                        <span><em>5,6,7</em></span>
                        <span><em>6,7,8</em></span>
                        <span><em>7,8,9</em></span>
                        <span><em>8,9,10</em></span>
                        <span><em>9,10,J</em></span>
                        <span><em>10,J,Q</em></span>
                        <span><em>J,Q,K</em></span>
                        <span><em>Q,K,A</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">包选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz">
                    <div class="szx thsx" data-val="THSX">
                        <label class="assist"></label>
                        <span><em>A,2,3</em></span>
                        <span><em>2,3,4</em></span>
                        <span><em>3,4,5</em></span>
                        <span><em>4,5,6</em></span>
                        <span><em>5,6,7</em></span>
                        <span><em>6,7,8</em></span>
                        <span><em>7,8,9</em></span>
                        <span><em>8,9,10</em></span>
                        <span><em>9,10,J</em></span>
                        <span><em>10,J,Q</em></span>
                        <span><em>J,Q,K</em></span>
                        <span><em>Q,K,A</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="SDKLPK3_DZ" class="game-ballsmain" style="display: none;">
    <div class="bet_snav">
        <label><input type="radio" name="gametype" url="DZ" value="DZ"/>对子</label>
        <label><input type="radio" name="gametype" url="BZ" value="DZ" />豹子</label>
    </div>
    <div id="SDKLPK3_DZ_DZ" class="playtype">
        <h1 class="playprompt"><em class="red">对子投注：</em>开出两同号(另一号码不同)，且投注的号码与之相同，即中奖<b class="red">88</b>元。对子包选，中奖奖金<b class="red">7</b>元。</h1>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">单选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz dz">
                    <span data-val="DZ1"><em>A,A</em></span>
                    <span data-val="DZ2"><em>2,2</em></span>
                    <span data-val="DZ3"><em>3,3</em></span>
                    <span data-val="DZ4"><em>4,4</em></span>
                    <span data-val="DZ5"><em>5,5</em></span>
                    <span data-val="DZ6"><em>6,6</em></span>
                    <span data-val="DZ7"><em>7,7</em></span>
                    <span data-val="DZ8"><em>8,8</em></span>
                    <span data-val="DZ9"><em>9,9</em></span>
                    <span data-val="DZ10"><em>10,10</em></span>
                    <span data-val="DZ11"><em>J,J</em></span>
                    <span data-val="DZ12"><em>Q,Q</em></span>
                    <span data-val="DZ13"><em>K,K</em></span>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">包选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz dz">
                    <div class="szx" data-val="DZX" style="width: 649px;">
                        <span><em>A,A</em></span>
                        <span><em>2,2</em></span>
                        <span><em>3,3</em></span>
                        <span><em>4,4</em></span>
                        <span><em>5,5</em></span>
                        <span><em>6,6</em></span>
                        <span><em>7,7</em></span>
                        <span><em>8,8</em></span>
                        <span><em>9,9</em></span>
                        <span><em>10,10</em></span>
                        <span><em>J,J</em></span>
                        <span><em>Q,Q</em></span>
                        <span><em>K,K</em></span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
    </div>
    <div id="SDKLPK3_DZ_BZ" class="playtype">
        <h1 class="playprompt"><em class="red">豹子投注：</em>开出三同号，且投注的号码与之相同，即中奖<b class="red">6400</b>元。豹子包选，中奖奖金<b class="red">500</b>元。</h1>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">单选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz bz">
                    <span data-val="BZ1"><em>A</em>A A</span>
                    <span data-val="BZ2"><em>2</em>2 2</span>
                    <span data-val="BZ3"><em>3</em>3 3</span>
                    <span data-val="BZ4"><em>4</em>4 4</span>
                    <span data-val="BZ5"><em>5</em>5 5</span>
                    <span data-val="BZ6"><em>6</em>6 6</span>
                    <span data-val="BZ7"><em>7</em>7 7</span>
                    <span data-val="BZ8"><em>8</em>8 8</span>
                    <span data-val="BZ9"><em>9</em>9 9</span>
                    <span data-val="BZ10"><em>10</em>10 10</span>
                    <span data-val="BZ11"><em>J</em>J J</span>
                    <span data-val="BZ12"><em>Q</em>Q Q</span>
                    <span data-val="BZ13"><em>K</em>K K</span>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
        <div class="ballrow clearfix" style="margin-bottom: 20px;">
            <h6><em style="margin-top: 18px;">包选</em></h6>
            <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;">
                <li class="sz bz">
                    <div class="szx" data-val="BZX" style="width: 649px;">
                        <span><em>A</em>A A</span>
                        <span><em>2</em>2 2</span>
                        <span><em>3</em>3 3</span>
                        <span><em>4</em>4 4</span>
                        <span><em>5</em>5 5</span>
                        <span><em>6</em>6 6</span>
                        <span><em>7</em>7 7</span>
                        <span><em>8</em>8 8</span>
                        <span><em>9</em>9 9</span>
                        <span><em>10</em>10 10</span>
                        <span><em>J</em>J J</span>
                        <span><em>Q</em>Q Q</span>
                        <span><em>K</em>K K</span>
                    </div>
                </li>
            </ul>         
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="SDKLPK3_RX1" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">任选一：</em>至少选择1个号码投注，选号与开奖号码任意1个号码相同即中奖<b class="red">5</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 7px;">任选一</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="rx1">
            <li class="sz rx">
                <span data-val="1"><em>A</em></span>
                <span data-val="2"><em>2</em></span>
                <span data-val="3"><em>3</em></span>
                <span data-val="4"><em>4</em></span>
                <span data-val="5"><em>5</em></span>
                <span data-val="6"><em>6</em></span>
                <span data-val="7"><em>7</em></span>
                <span data-val="8"><em>8</em></span>
                <span data-val="9"><em>9</em></span>
                <span data-val="10"><em>10</em></span>
                <span data-val="11"><em>J</em></span>
                <span data-val="12"><em>Q</em></span>
                <span data-val="13"><em>K</em></span>
            </li>
        </ul> 
        <ul class="assi">
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5,6,7,8,9,10,11,12]);">全</li>
            <li onclick="ballBox.selectRowNew(this,[6,7,8,9,10,11,12]);">大</li>
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5]);">小</li>
            <li onclick="ballBox.selectRowNew(this,[0,2,4,6,8,10,12]);">奇</li>
            <li onclick="ballBox.selectRowNew(this,[1,3,5,7,9,11]);">偶</li>
            <li onclick="ballBox.selectRowNew(this,[]);">清</li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>
<div id="SDKLPK3_RX2" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">任选二：</em>至少选择2个号码投注，选号与开奖号码任意2个号码相同即中奖<b class="red">33</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 7px;">任选二</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="rx2">
            <li class="sz rx">
                <span data-val="1"><em>A</em></span>
                <span data-val="2"><em>2</em></span>
                <span data-val="3"><em>3</em></span>
                <span data-val="4"><em>4</em></span>
                <span data-val="5"><em>5</em></span>
                <span data-val="6"><em>6</em></span>
                <span data-val="7"><em>7</em></span>
                <span data-val="8"><em>8</em></span>
                <span data-val="9"><em>9</em></span>
                <span data-val="10"><em>10</em></span>
                <span data-val="11"><em>J</em></span>
                <span data-val="12"><em>Q</em></span>
                <span data-val="13"><em>K</em></span>
            </li>
        </ul> 
        <ul class="assi">
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5,6,7,8,9,10,11,12]);">全</li>
            <li onclick="ballBox.selectRowNew(this,[6,7,8,9,10,11,12]);">大</li>
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5]);">小</li>
            <li onclick="ballBox.selectRowNew(this,[0,2,4,6,8,10,12]);">奇</li>
            <li onclick="ballBox.selectRowNew(this,[1,3,5,7,9,11]);">偶</li>
            <li onclick="ballBox.selectRowNew(this,[]);">清</li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>
<div id="SDKLPK3_RX3" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">任选三：</em>至少选择3个号码投注，选号与开奖号码任意3个号码相同即中奖<b class="red">116</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 7px;">任选三</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="rx3">
            <li class="sz rx">
                <span data-val="1"><em>A</em></span>
                <span data-val="2"><em>2</em></span>
                <span data-val="3"><em>3</em></span>
                <span data-val="4"><em>4</em></span>
                <span data-val="5"><em>5</em></span>
                <span data-val="6"><em>6</em></span>
                <span data-val="7"><em>7</em></span>
                <span data-val="8"><em>8</em></span>
                <span data-val="9"><em>9</em></span>
                <span data-val="10"><em>10</em></span>
                <span data-val="11"><em>J</em></span>
                <span data-val="12"><em>Q</em></span>
                <span data-val="13"><em>K</em></span>
            </li>
        </ul> 
        <ul class="assi">
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5,6,7,8,9,10,11,12]);">全</li>
            <li onclick="ballBox.selectRowNew(this,[6,7,8,9,10,11,12]);">大</li>
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5]);">小</li>
            <li onclick="ballBox.selectRowNew(this,[0,2,4,6,8,10,12]);">奇</li>
            <li onclick="ballBox.selectRowNew(this,[1,3,5,7,9,11]);">偶</li>
            <li onclick="ballBox.selectRowNew(this,[]);">清</li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>
<div id="SDKLPK3_RX4" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">任选四：</em>至少选择4个号码投注，单注选号包含开奖号码中所有号码即中奖<b class="red">46</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 7px;">任选四</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="rx4">
            <li class="sz rx">
                <span data-val="1"><em>A</em></span>
                <span data-val="2"><em>2</em></span>
                <span data-val="3"><em>3</em></span>
                <span data-val="4"><em>4</em></span>
                <span data-val="5"><em>5</em></span>
                <span data-val="6"><em>6</em></span>
                <span data-val="7"><em>7</em></span>
                <span data-val="8"><em>8</em></span>
                <span data-val="9"><em>9</em></span>
                <span data-val="10"><em>10</em></span>
                <span data-val="11"><em>J</em></span>
                <span data-val="12"><em>Q</em></span>
                <span data-val="13"><em>K</em></span>
            </li>
        </ul> 
        <ul class="assi">
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5,6,7,8,9,10,11,12]);">全</li>
            <li onclick="ballBox.selectRowNew(this,[6,7,8,9,10,11,12]);">大</li>
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5]);">小</li>
            <li onclick="ballBox.selectRowNew(this,[0,2,4,6,8,10,12]);">奇</li>
            <li onclick="ballBox.selectRowNew(this,[1,3,5,7,9,11]);">偶</li>
            <li onclick="ballBox.selectRowNew(this,[]);">清</li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>
<div id="SDKLPK3_RX5" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">任选五：</em>至少选择5个号码投注，单注选号包含开奖号码中所有号码即中奖<b class="red">22</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 7px;">任选五</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="rx5">
            <li class="sz rx">
                <span data-val="1"><em>A</em></span>
                <span data-val="2"><em>2</em></span>
                <span data-val="3"><em>3</em></span>
                <span data-val="4"><em>4</em></span>
                <span data-val="5"><em>5</em></span>
                <span data-val="6"><em>6</em></span>
                <span data-val="7"><em>7</em></span>
                <span data-val="8"><em>8</em></span>
                <span data-val="9"><em>9</em></span>
                <span data-val="10"><em>10</em></span>
                <span data-val="11"><em>J</em></span>
                <span data-val="12"><em>Q</em></span>
                <span data-val="13"><em>K</em></span>
            </li>
        </ul> 
        <ul class="assi">
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5,6,7,8,9,10,11,12]);">全</li>
            <li onclick="ballBox.selectRowNew(this,[6,7,8,9,10,11,12]);">大</li>
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5]);">小</li>
            <li onclick="ballBox.selectRowNew(this,[0,2,4,6,8,10,12]);">奇</li>
            <li onclick="ballBox.selectRowNew(this,[1,3,5,7,9,11]);">偶</li>
            <li onclick="ballBox.selectRowNew(this,[]);">清</li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>
<div id="SDKLPK3_RX6" class="game-ballsmain" style="display: none;">
    <h1 class="playprompt"><em class="red">任选六：</em>至少选择6个号码投注，单注选号包含开奖号码中所有号码即中奖<b class="red">12</b>元。</h1>
    <div class="ballrow clearfix" style="margin-top: 28px; margin-bottom: 20px;">
        <h6><em style="margin-top: 7px;">任选六</em></h6>
        <ul class="sdklpk3-ball" style="float: left; margin-left: 10px;" id="rx6">
            <li class="sz rx">
                <span data-val="1"><em>A</em></span>
                <span data-val="2"><em>2</em></span>
                <span data-val="3"><em>3</em></span>
                <span data-val="4"><em>4</em></span>
                <span data-val="5"><em>5</em></span>
                <span data-val="6"><em>6</em></span>
                <span data-val="7"><em>7</em></span>
                <span data-val="8"><em>8</em></span>
                <span data-val="9"><em>9</em></span>
                <span data-val="10"><em>10</em></span>
                <span data-val="11"><em>J</em></span>
                <span data-val="12"><em>Q</em></span>
                <span data-val="13"><em>K</em></span>
            </li>
        </ul> 
        <ul class="assi">
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5,6,7,8,9,10,11,12]);">全</li>
            <li onclick="ballBox.selectRowNew(this,[6,7,8,9,10,11,12]);">大</li>
            <li onclick="ballBox.selectRowNew(this,[0,1,2,3,4,5]);">小</li>
            <li onclick="ballBox.selectRowNew(this,[0,2,4,6,8,10,12]);">奇</li>
            <li onclick="ballBox.selectRowNew(this,[1,3,5,7,9,11]);">偶</li>
            <li onclick="ballBox.selectRowNew(this,[]);">清</li>
        </ul>        
        <div class="clear"></div>
    </div>  
</div>

