@{
    string type = ViewBag.Type;
    if (!string.IsNullOrEmpty(type))
    {
        type = type.ToLower();
    }
    switch (type)
    {
        case "t14c":
            <div class="bet_head">
                <table width="723" border="0" id="tb_head" class="tb_head">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="248"/>
                        <col width="394"/>
                        <col width="49"/>
                        <col width="135"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                赛事1
                            </th>
                            <th class="head_2" id="selectts" hover="sai">
                                <div class="hover1">
                                    <a class="xlbtnsed">
                                        <p class="float_l sias_p1">停售</p>
                                        <span class="float_l icon2 hover1_1"></span>
                                    </a>
                                    <div class="sub_filter" style="width: 85px; padding: 0; min-height: 55px;">
                                        <ul >
                                            <li data-cls="e_time" data-title="停售"><a href="javascript:void(0)">停售时间</a></li>
                                            <li data-cls="b_time" data-title="开赛"><a href="javascript:void(0)">开赛时间</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                            <th>主队vs 客队</th>
                            <th class="head_3">
                                <ul>
                                    <li class="zhu">胜(3)</li>
                                    <li class="ping">平(1)</li>
                                    <li class="ke">负(0)</li>
                                </ul>
                            </th>
                            <th class="head_7">
                                分析
                            </th>
                            <th class="head_4 nrb">
                                <p class="dropdown oddsselect" name="odds">
                                    <cite class="oselect" val="op">平均欧赔</cite>
                                    <em style="display: none;">
                                        <a val="yp" href="javascript:">亚&nbsp;盘</a> 
                                        <a val="kl" href="javascript:">凯利指数</a> 
                                        <a val="ls" href="javascript:">离散指数</a> 
                                    </em>
                                    <i class="line-01"></i>
                                </p>
                                <dl class="bet_tips">
                                    <dd>胜</dd>
                                    <dd>平</dd>
                                    <dd class="nrb">负</dd>
                                </dl>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="bet_content">
                <table cellspacing="0" cellpadding="0" border="0" class="lot_con sfc_table">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="248"/>
                        <col width="394"/>
                        <col width="49"/>
                        <col width="135"/>
                    </colgroup>
                    <tbody id="lots">
                    </tbody>
                </table>
            </div>
            break;
        case "tr9":
            <div class="bet_head">
                <table width="723" border="0" id="tb_head" class="tb_head">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="215"/>
                        <col width="394"/>
                        <col width="33"/>
                        <col width="49"/>
                        <col width="135"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                赛事
                            </th>
                            <th class="head_2" id="selectts" hover="sai">
                                <div class="hover1">
                                    <a class="xlbtnsed">
                                        <p class="float_l sias_p1">停售</p>
                                        <span class="float_l icon2 hover1_1"></span>
                                    </a>
                                    <div class="sub_filter" style="width: 85px; padding: 0; min-height: 55px;">
                                        <ul >
                                            <li data-cls="e_time" data-title="停售"><a href="javascript:void(0)">停售时间</a></li>
                                            <li data-cls="b_time" data-title="开赛"><a href="javascript:void(0)">开赛时间</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                            <th>主队vs 客队</th>
                            <th class="head_3">
                                <ul>
                                    <li class="zhu">胜(3)</li>
                                    <li class="ping">平(1)</li>
                                    <li class="ke">负(0)</li>
                                </ul>
                            </th>
                            <th>胆</th>
                            <th class="head_7">
                                分析
                            </th>
                            <th class="head_4 nrb">
                                <p class="dropdown oddsselect" name="odds">
                                    <cite class="oselect" val="op">平均欧赔</cite>
                                    <em style="display: none;">
                                        <a val="yp" href="javascript:">亚&nbsp;盘</a> 
                                        <a val="kl" href="javascript:">凯利指数</a> 
                                        <a val="ls" href="javascript:">离散指数</a> 
                                    </em>
                                    <i class="line-01"></i>
                                </p>
                                <dl class="bet_tips">
                                    <dd>胜</dd>
                                    <dd>平</dd>
                                    <dd class="nrb">负</dd>
                                </dl>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="bet_content">
                <table cellspacing="0" cellpadding="0" border="0" class="lot_con sfc_table">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="215"/>
                        <col width="394"/>
                        <col width="33"/>
                        <col width="49"/>
                        <col width="135"/>
                    </colgroup>
                    <tbody id="lots">
                    </tbody>
                </table>
            </div>
            break;
        case "t6bqc":
            <div class="bet_head">
                <table width="723" border="0" id="tb_head" class="tb_head">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="215"/>
                        <col width="427"/>
                        <col width="49"/>
                        <col width="135"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                赛事
                            </th>
                            <th class="head_2" id="selectts" hover="sai">
                                <div class="hover1">
                                    <a class="xlbtnsed">
                                        <p class="float_l sias_p1">停售</p>
                                        <span class="float_l icon2 hover1_1"></span>
                                    </a>
                                    <div class="sub_filter" style="width: 85px; padding: 0; min-height: 55px;">
                                        <ul >
                                            <li data-cls="e_time" data-title="停售"><a href="javascript:void(0)">停售时间</a></li>
                                            <li data-cls="b_time" data-title="开赛"><a href="javascript:void(0)">开赛时间</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                            <th>主队vs 客队</th>
                            <th class="head_3">
                                <ul>
                                    <li class="bq">半/全</li>
                                    <li class="zhu">胜(3)</li>
                                    <li class="ping">平(1)</li>
                                    <li class="ke">负(0)</li>
                                </ul>
                            </th>
                            <th class="head_7">
                                分析
                            </th>
                            <th class="head_4 nrb">
                                <p class="dropdown oddsselect" name="odds">
                                    <cite class="oselect" val="op">平均欧赔</cite>
                                    <em style="display: none;">
                                        <a val="yp" href="javascript:">亚&nbsp;盘</a> 
                                        <a val="kl" href="javascript:">凯利指数</a> 
                                        <a val="ls" href="javascript:">离散指数</a> 
                                    </em>
                                    <i class="line-01"></i>
                                </p>
                                <dl class="bet_tips">
                                    <dd>胜</dd>
                                    <dd>平</dd>
                                    <dd class="nrb">负</dd>
                                </dl>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="bet_content">
                <table cellspacing="0" cellpadding="0" border="0" class="lot_con sfc_table">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="215"/>
                        <col width="427"/>
                        <col width="49"/>
                        <col width="135"/>
                    </colgroup>
                    <tbody id="lots">
                    </tbody>
                </table>
            </div>
            break;
        case "t4cjq":
            <div class="bet_head">
                <table width="723" border="0" id="tb_head" class="tb_head">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="233"/>
                        <col width="393"/>
                        <col width="49"/>
                        <col width="150"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                赛事
                            </th>
                            <th class="head_2" id="selectts" hover="sai">
                                <div class="hover1">
                                    <a class="xlbtnsed">
                                        <p class="float_l sias_p1">停售</p>
                                        <span class="float_l icon2 hover1_1"></span>
                                    </a>
                                    <div class="sub_filter" style="width: 85px; padding: 0; min-height: 55px;">
                                        <ul >
                                            <li data-cls="e_time" data-title="停售"><a href="javascript:void(0)">停售时间</a></li>
                                            <li data-cls="b_time" data-title="开赛"><a href="javascript:void(0)">开赛时间</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </th>
                            <th>[排名]&nbsp;&nbsp;&nbsp;&nbsp;主队 vs 客队&nbsp;&nbsp;&nbsp;&nbsp;[排名]</th>
                            <th class="head_3">
                                <ul>
                                    <li class="b0">0球</li>
                                    <li class="b1">1球</li>
                                    <li class="b2">2球</li>
                                    <li class="b3">3+</li>
                                    <li class="ba"></li>
                                </ul>
                            </th>
                            <th class="head_7">
                                分析
                            </th>
                            <th class="head_4 nrb">
                                <p class="dropdown oddsselect" name="odds">
                                    <cite class="oselect" val="op">平均欧赔</cite>
                                    <em style="display: none;">
                                        <a val="yp" href="javascript:">亚&nbsp;盘</a> 
                                        <a val="kl" href="javascript:">凯利指数</a> 
                                        <a val="ls" href="javascript:">离散指数</a> 
                                    </em>
                                    <i class="line-01"></i>
                                </p>
                                <dl class="bet_tips">
                                    <dd>胜</dd>
                                    <dd>平</dd>
                                    <dd class="nrb">负</dd>
                                </dl>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="bet_content">
                <table cellspacing="0" cellpadding="0" border="0" class="lot_con sfc_table">
                    <colgroup>
                        <col width="86"/>
                        <col width="86"/>
                        <col width="233"/>
                        <col width="393"/>
                        <col width="49"/>
                        <col width="150"/>
                    </colgroup>
                    <tbody id="lots">
                    </tbody>
                </table>
            </div>
            break;
    }
}