<div class="tips_bd">
    <ul class="lottery_box"> 
        <a style="left: 40px; top: 0px; line-height: 1; position: absolute; z-index: 189;" title="加奖" target="_blank" lotteryid="jczq" href="/" id="link26"><span><img src="@ViewHelpers.img("/games/6.png")"></span></a>
        <li>
            <a title="竞彩足球" target="_blank" href="/buy/szc/jczq/" class="lottery_tit jz" id="link27">
                <span class="jz"></span>
                <h3>竞足</h3>
            </a>
            <p class="sub_lottery sub_lottery_1row">
                <a title="竞彩足球胜平负" target="_blank" href="/buy/jingcai/jczq/">胜平负</a>
                <a title="竞彩足球混合过关" target="_blank" href="/buy/jingcai/hh/">混合过关</a>
                <a title="竞彩足球比分" style="margin-right:0px;" target="_blank" href="/buy/jingcai/bf">比分</a>
                <a title="竞彩足球总进球数" target="_blank" href="/buy/jingcai/zjq">进球数</a>
                <a title="竞彩足球半全场" target="_blank" href="/buy/jingcai/bqc">半全场</a>
            </p>
        </li>
        <li>
            <a title="竞彩篮球" target="_blank" href="/buy/jingcaibasket/jclq/" class="lottery_tit">
                <span class="jl"></span>
                <h3>竞篮</h3>
            </a>
            <p class="sub_lottery">
                <a title="竞彩篮球混合过关" target="_blank" href="/buy/jingcaibasket/hh">混合过关</a>
                <a title="竞彩篮球让分胜负" target="_blank" href="/buy/jingcaibasket/rfsf">让分胜负</a>
                <a title="竞彩篮球让分胜负" target="_blank" href="/buy/jingcaibasket/sf/">胜负</a>    
                <a title="竞彩篮球胜分差" target="_blank" href="/buy/jingcaibasket/sfc">胜分差</a>
                <a title="竞彩篮球大小分" target="_blank" href="/buy/jingcaibasket/dxf">大小分</a>
            </p>                        
        </li>
        <li>
            <a title="足彩北京单场" target="_blank" href="/buy/szc/bjdc/" class="lottery_tit" id="link48">
                <span class="dc"></span>
                <h3>单场</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/danchang/spf">胜平负</a>
                <a href="/buy/danchang/zjq">进球数</a>
                <a href="/buy/danchang/sxds">上下单双</a>
                <a href="/buy/danchang/bf">比分</a>
                <a href="/buy/danchang/bqc">半全场</a>
            </p>                        
        </li>
        <li>
            <a title="足彩胜负" target="_blank" href="/buy/szc/sfc/" class="lottery_tit" id="link43">
                <span class="zc"></span>
                <h3>足彩</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/toto/t14c">14场胜负</a>
                <a href="/buy/toto/tr9">胜负任9</a> 
                <a href="/buy/toto/t6bqc">6场半全</a> 
                <a href="/buy/toto/t4cjq">4场进球</a>
            </p>                        
        </li>
        <li>
            <a title="福彩双色球" target="_blank" href="/buy/szc/dlt/" class="lottery_tit" id="link60">
                <span class="fc"></span>
                <h3>福彩</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/szc/ssq">双色球</a>
                <a href="/buy/szc/fc3d">福彩3D</a>
            </p>                        
        </li>
        <li>
            <a title="体彩大乐透" target="_blank" href="/buy/szc/dlt/" class="lottery_tit" id="link60">
                <span class="tc"></span>
                <h3>体彩</h3>
            </a>
            <p class="sub_lottery">
                <a href="/buy/szc/dlt">大乐透</a>
                <a href="/buy/szc/pl3">排列三</a>
            </p>                        
        </li>
        <li>                       
            <a title="高频彩票新11选5" target="_blank" href="/" class="lottery_tit" id="link55">
                <span class="sysw"></span>
                <h3>高频</h3>
            </a>
            <p class="sub_lottery sub_lottery_1row">
                <a href="/buy/szc/cqssc">时时彩</a>
                @*<a href="/buy/szc/jxssc">新时时彩</a><br/>
                <a href="/buy/szc/sd11x5">老11选5</a> 
                <a href="/buy/szc/gd11x5">新11选5</a><br/>*@
                <a href="/buy/szc/jx11x5">11选5</a>
            </p>                        
        </li>
    </ul>
</div>