<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="TXHY5" value="TXHY5" />标准选号</label><label><input
            type="radio" name="gametype" url="TXHY5SG" value="TXHY5" way="4" />手工录入</label>
</div>
