<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="TXHY3" value="TXHY3" />标准选号</label><label><input
                type="radio" name="gametype" url="TXHY3SG" value="TXHY3" way="4" />手工录入</label>
</div>