<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="TXHY4" value="TXHY4" />标准选号</label><label><input
            type="radio" name="gametype" url="TXHY4SG" value="TXHY4" way="4" />手工录入</label>
</div>
