<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="ZXHY2" value="ZXHY2" />标准选号</label><label><input
            type="radio" name="gametype" url="ZXHY2DT" value="ZXHY2" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="ZXHY2SG" value="ZXHY2" way="4" />手工录入</label>
</div>