<div class="game-ballsmain">
    <span class="gray"><b>直选好运四：</b>任意选择4个数字竞猜开奖号码的任意4位,投注号码与开奖号码任意4个相同即中奖，奖金<b class="red">1120</b>元</span>
    @GameHelper.ImportNumberArea("01,02,03,04 或 01.02.03.04 或 01+02+03+04 或 01020304")
</div>