<div class="game-ballsmain">
    <span class="gray"><b>直选好运五：</b>任意选择5个数字竞猜全部开奖号码,投注号码与开奖号码完全相同即中奖，奖金<b class="red">20000</b>元</span>
    @GameHelper.ImportNumberArea("01,02,03,04,05 或 01.02.03.04.05 或 01+02+03+04+05 或 0102030405")
</div>