<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="ZXHY3" value="ZXHY3" />标准选号</label><label><input
            type="radio" name="gametype" url="ZXHY3DT" value="ZXHY3" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="ZXHY3SG" value="ZXHY3" way="4" />手工录入</label>
</div>
