<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="ZXHY5" value="ZXHY5" />标准选号</label><label><input
            type="radio" name="gametype" url="ZXHY5DT" value="ZXHY5" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="ZXHY5SG" value="ZXHY5" way="4" />手工录入</label>
</div>
