<div class="game-subgametype yellow">
    <label>
        <input type="radio" name="gametype" url="ZXHY4" value="ZXHY4" />标准选号</label><label><input
            type="radio" name="gametype" url="ZXHY4DT" value="ZXHY4" way="2" />胆拖</label><label><input
                type="radio" name="gametype" url="ZXHY4SG" value="ZXHY4" way="4" />手工录入</label>
</div>
