<div class="game-ballsmain">
    <span class="gray"><b>直选好运二：</b>任意选择2个数字竞猜开奖号码的任意2位,投注号码与开奖号码任意2个相同即中奖，奖金<b class="red">20</b>元</span>
    @GameHelper.ImportNumberArea("01,02 或 01.02 或 01+02 或 0102")
</div>