<table width="100%" border="0">
    <caption>
        上传字符标准</caption>
    <tbody>
        <tr class="tr1">
            <td>
                选项
            </td>
            <td>
                胜-胜
            </td>
            <td>
                胜-平
            </td>
            <td>
                胜-负
            </td>
            <td>
                平-胜
            </td>
            <td>
                平-平
            </td>
            <td>
                平-负
            </td>
            <td>
                负-胜
            </td>
            <td>
                负-平
            </td>
            <td>
                负-负
            </td>
        </tr>
        <tr>
            <td>
                上传字符
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="33">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="31">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="30">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="13">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="11">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="10">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="03">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="01">
            </td>
            <td>
                <input class="up_dc" type="text" readonly="readonly" maxlength="2" size="2" value="00">
            </td>
        </tr>
    </tbody>
</table>
