<table width="723" height="40" border="0" id="tb_head" class="tb_head">
    <colgroup>
          <col width="86"/>
        <col width="51"/>
        <col width="383"/>
        <col width="48"/>
        <col width="260"/>
        <col width="37"/>
        <col width="133"/>
    </colgroup>
    <thead>
        <tr>
            <th class="head_1" id="filterSh" hover="sai">
                <div class="hover1">
                    <a class="xlbtnsed"> 
                        <p class="float_l sias_p1">赛事</p>
                        <span class="float_l icon2 hover1_1"></span>
                    </a>
                    <div id="filter_layer" class="sub_filter">
                        <div id="filterMatch" class="sub_filter_layer sub_filter_box">
                            <div id="leagues">
                            </div>
                            <div class="clearfix">
                            </div>
                            <div class="sub_filter_btns">
                                <a id="filter_all" class="btn2" href="javascript:void 0">全选</a> 
                                <a id="filter_rever" class="btn2" href="javascript:void 0">反选</a> 
                                <a class="btn2" id="filter_clear" href="javascript:void 0">全清</a>
                            </div>
                        </div>
                    </div>
                </div>
            
            </th>
                <th  class="head_2" id="selectts">
  
                <div class="hover1">
                    <p class="float_l sias_p1">停售</p>
            @*        <span class="float_l icon2 hover1_1"></span>*@
                </div>
             @*   <div id="bisais">
                    <div class="bisai bi" hover="bg_hover" hover-delay-ing="" style="">开赛</div>
                    <div class="bisai bi" style="display: none;" hover="bg_hover" hover-delay-ing="">停售</div>
                </div>*@
              
            </th>
            <th class="head_3">
                <ul>
                    <li class="zhu">胜</li>
                    <li class="ping">平</li>
                     <li class="ke">负</li>
                </ul>
            </th>
            <th class="head_7">分析</th>
            <th class="head_4">
                <ul>
                      <li class="zhu">让球胜</li>
                    <li class="ping">让球平</li>
                     <li class="ke">让球负</li>
                </ul>
            </th>
            <th class="head_5">更多</th>
            <th class="head_6 nrb">
                <p name="odds" class="dropdown oddsselect">
                    <cite val="euro" class="oselect">欧赔</cite>
                    <em style="display: none;">
                        <a value="oz">平均欧赔</a>
                        <a value="wlxe">威廉希尔</a>
                        <a value="am">澳门</a>
                        <a value="lb">立博</a>
                        <a value="bet365">Bet365</a>
                        <a value="snai">SNAI</a>
                        <a value="yds">易德胜</a>
                        <a value="wd">韦德</a>
                        <a value="bwin">Bwin</a>
                        <a value="coral">Coral</a>
                        <a value="oddset">oddset</a>
                    </em>
                    <i class="line-01"></i>
                </p>
            </th>
        </tr>
    </thead>
</table>