@{
    var Title = "单注奖金怎么只有2元（单关）";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;单注奖金怎么只有2元（单关）</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "", name = "" });}
<div class="help_r">
         

<div class="det_box">
            	<h2>单注奖金怎么只有2元（单关）</h2>
                <div class="det_c"><p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-family:宋体;color:black;mso-hansi-theme-font:minor-fareast;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-themecolor:text1;">北京单场、竞彩足球、竞彩篮球因为涉及到官方返奖率，所以单关投注时，当最终出现的赛果是较热门赛果时，单关奖金就有可能低于<span lang="EN-US">2</span>元，而官方规定，当单关奖金不足<span lang="EN-US">2</span>元时，补足至<span lang="EN-US">2</span>元。<span lang="EN-US"><!--?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /--><o:p></o:p></span></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US" style="font-family:宋体;color:black;mso-hansi-theme-font:minor-fareast;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-themecolor:text1;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-family:宋体;color:black;mso-hansi-theme-font:minor-fareast;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-themecolor:text1;">例如：竞彩足球胜平负<span lang="EN-US"><span style="mso-spacerun:yes;">&nbsp; </span></span>恒大<span lang="EN-US">VS</span>横滨<span lang="EN-US"><span style="mso-spacerun:yes;">&nbsp; </span></span>本场比赛全国的单关投注金额为<span lang="EN-US">1000</span>万，投注胜、平、负的金额分别为（<span lang="EN-US">800</span>万、<span lang="EN-US">150</span>万、<span lang="EN-US">50</span>万），因为彩种返奖率的关系，派奖的金额为<span lang="EN-US">1000</span>万<span lang="EN-US">*68%=680</span>万，当最终的赛果为热门赛果，即<span lang="EN-US">"</span>主胜<span lang="EN-US">"</span>，那么最终的单关奖金为：<span lang="EN-US">680</span>万<span lang="EN-US">/400</span>万注<span lang="EN-US">=1.7</span>元<span lang="EN-US">/</span>注，当出现此种情况时，官方即会将单注奖金补足至<span lang="EN-US">2</span>元。<span lang="EN-US"><o:p></o:p></span></span></p>
<p>&nbsp;</p>                </div>
              @*  
                <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")








