@{
    var Title = "合买奖金分配";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;合买奖金分配</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "tradeRuls", name = "bonusAllot" });}
<div class="help_r">
         
         <div class="det_box">
            	<h2>合买方案怎么分奖金？</h2>
                <div class="det_c"><div sizset="163" sizcache="0" class="det_c"><span sizset="163" sizcache="0" class="Apple-style-span" style="widows:2;text-transform:none;text-indent:0px;letter-spacing:normal;font:14px/24px 宋体, tahoma;white-space:normal;orphans:2;color:#333333;word-spacing:0px;-webkit-text-decorations-in-effect:none;-webkit-text-size-adjust:auto;-webkit-text-stroke-width:0px;"> <p sizset="163" sizcache="0" style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;"><a target="_blank" href="http://www.wancai.com/" id="link150"><span style="color:#0f3f94;">合买</span></a>中奖后，若方案不盈利(即税后奖金小于方案本金)，税后奖金将按参与份额比例分配到该方案的各参与会员的预付款中；</p>
<p sizset="164" sizcache="0" style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;">若方案盈利(即税后奖金大于方案本金)，则发起人先提成税后奖金的x％作为方案制作返点（返点由发起人在发起方案时设定），余下奖金将按参与份额比例分配到该方案的各参与用户的预付款中。</p>
<p sizset="164" sizcache="0" style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;"><a target="_blank" href="http://www.wancai.com/" id="link151"><span style="color:#0f3f94;">玩彩网</span></a>平台不收取任何返点或者手续费。</p>
</span></div>                </div>
                
                @*<div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






