@{
    ViewBag.Here = "合买帮助";
    ViewBag.Title = "代购 - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "代购, 帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
    @ViewHelpers.css("help.css")
}
@section js{
   @ViewHelpers.js("help.js")
}

<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">帮助中心</a> > </li>
        <li>代购</li>
    </ul>
</div>
<div class="center mt10">
    @{Html.RenderAction("left", "help");}
    <div class="help_r">
        <div class="new_buy_right">
            <div class="help-content f_r">
                <div class="help-list">
                    <h1 class="hp-title">代购</h1>
                    <h3 class="on">1. 什么是代购？</h3>
                    <div class="list" style="display: block;">
                        代购指的是由个人出资委托本站购买所需的彩票，分为单式代购和复式代购两类，由本站代理出票，兑奖和派奖。彩票代购无需您外出排队买彩票，不受自然因素困扰，既快捷、方便又高效、安全。
                    </div>
                    <h3>2. 什么是机选？</h3>
                    <div class="list">
                        机选是系统根据彩种和玩法，随机挑选出符合玩法要求的号码组合，并以此做为投注号码。
                    </div>
                    <h3>3. 什么是胆拖？</h3>
                    <div class="list">
                        指在购买彩票时选出一个或几个号码为胆码，固定以这一个或几个号码与其他号码分别组成单式或者复式号码进行投注，固定不变的号码为胆码，其他变化的号码为拖码，简称胆拖。
                    </div>
                    <h3>4. 什么是和值？</h3>
                    <div class="list">
                        和值就是基本号码数值的总和。判别号码和值，可以进一步确定和值的范围趋势，从而缩小选号范围。
                    </div>
                    <h3>5. 什么是直选？组三？组六？</h3>
                    <div class="list">
                        <p>
                            直选：即所选号码与开奖号码相同，且顺序一致才中奖
                        </p>
                        <p>
                            组三：在3D和排列三中，如果一注组选号码的3个数字有两个数字相同，则有3种不同的排列方式，因而就有3个中奖机会，这种组选投注方式简称"组三"。组三单式投注即从0~9中选择两个数字，指定其一为重复两次的数字，形成一注注彩票的投注。
                        </p>
                        <p>
                            组六：在3D和排列三中，如果一注组选号码的3个数字各不相同，则有6种不同的排列方式，因而就有6个中奖机会，这种组选投注方式简称"组六"。组六单式投注即从0~9中选择三个数字，组成一注彩票的投注。
                        </p>
                    </div>
                    <h3>6. 什么是单式上传？</h3>
                    <div class="list">
                        单式上传是对比复式而言，只支持单式选号上传的方案。上传单式方案时，选择倍投注只需上传单倍方案；必须严格参照"标准格式样本"格式上传方案，否则网站不保证为您做过关统计以及历史战绩统计；文件格式必须是文本文件；如果上传的文件较大，会导致上传时间较长，请您耐心等待。
                    </div>
                    <h3>7. 什么是单式投注？</h3>
                    <div class="list">
                        单式投注是最基本的投注形式，即购买者根据相应彩票的规则直接选择规定数量的号码组成一注彩票。
                    </div>
                    <h3>8. 什么是复式投注？</h3>
                    <div class="list">
                        <p>
                            复式投注相对于单式投注而言的，指购买者在购买彩票时，选择超过常规开奖的号码个数，并组成一组的投注方式。超过规定数量的号码会依据规定的开奖号码个数排列组合成多注彩票，在提高中奖机会的同时，投注金额也会相应增加。
                        </p>
                        <p>
                            以双色球为例，6个红球和1个篮球组成一注选号，当红球个数超出6个或篮球个数超出1个的选号，即为复式选号。故复式会包括红色球号码复式、蓝色球号码复式。
                        </p>
                    </div>
                    <h3>9. 什么是追号？</h3>
                    <div class="list">
                        <p>
                            追号是指连续多期购买同一个（组）号码或者相同指定金额的机选号码；会员在@(SiteString.getHZSiteName(Request))发起一个任务后，系统将按任务要求连续多期或间或几期地自动购买投注号码，可以是同一个或组号码，也可以是指定金额的机选号码。
                        </p>
                        <p>
                            开通追号功能的彩种玩法有：双色球、大乐透、11选5、时时彩、排列三、福彩3D、时时彩。
                        </p>
                    </div>
                    <h3>10. 追号有哪些方式？</h3>
                    <div class="list">
                        <p>
                            自选追号：由发起人选定自己喜爱的固定几注号码进行追号投注。
                        </p>
                        <p>
                            机选追号：由发起人指定追号金额我们将根据您指定的金额，每期机选号码帮您自动投注。
                        </p>
                    </div>
                    <h3>11. 追号有哪些规则？</h3>
                    <div class="list">
                        <p>
                            1、用户可以随时发起追号任务；用户进行追号的同时，不影响其他彩票的代购合买；
                        </p>
                        <p>
                            2、发起追号任务订单，账户余额不满足开始期的购买时，任务将不予发起。
                        </p>
                        <p>
                            3、追号任务订单发起后，系统将于每期开售时自动执行该期的追号任务，并按所追彩种开售的当期来扣取购买金额，剩余期追号任务则在每期开售后按期扣款执行；
                        </p>
                        <p>
                            4、在执行追号任务订单中，用户账户余额不足时<br>
                        </p>
                        <p>
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;a、只有一个彩种，用户账户余额小于当期追号所需购买金额时，当期所追彩种将不予购买（即当期的追号失败）；
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;b、一个彩种的多个追号任务，账户余额不能满足当期多个方案的购买，则以用户发起追号任务的时间顺序来依次进行购买，发起时间早且账户余额满足所追的一个方案将优先购买；
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;c、多个彩种追号任务，账户余额不能满足当期所有方案的购买但能满足个别方案购买，则以彩种的开售时间顺序来依次进行购买；追号任务包含彩种的开售时间相同时，本网站将按双色球、大乐透、福彩3D、数字排列、七星彩、七乐彩、22选5的购买顺序来完成当期的追号方案；
                        </p>
                        <p>
                            5、追号任务在开售的当期追号方案失败时，用户充值且账户余额能满足下一期追号方案，则追号任务在一下期继续执行；
                        </p>
                        <p>
                            6、用户可以随时取消任一期的代购任务或者终于整个追号任务。
                        </p>
                    </div>
                    <h3>12. 如何查看我购买彩票的记录？</h3>
                    <div class="list">
                        购买彩票以后可以从合买平台"我的帐户"进入"帐户明细"，在"我的投注记录"中查看；购买彩票成功后会显示已出票，在这里可以查询彩票的标识号。销售截止后，在合买区相关彩种玩法的方案列表中找到您发起或认购的方案，查看方案状态即可知"满员"或"撤单"；点击进入认购页面，查看彩票标识即可知是否出票，已出票方案还可以查看"彩票标识"（彩票身份证号）。用户的每一次就交易记录都会在"我的帐户"里的"帐户明细"里显示出来，用户都可以通过"帐户明细"来查看自己的消费情况。
                    </div>
                    <h3>13. 在@(SiteString.getHZSiteName(Request))买彩票有没有时间限制？</h3>
                    <div class="list">
                        除了在各彩种的代购合买截止时间段不可以购买，其余没有时间限制。
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
    setShow();
</script>