@{
    var Title = "提款";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;提款</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "drawMoney", name = "drawing" });}
<div class="help_r">
         

       <div class="list_box">
            	<div class="h_pub_t">
                	<b class="t_l"></b>
                    <div class="t_m"><h2>提款</h2></div>
                    <b class="t_r"></b>
                </div>
                <div class="h_pub_m">
                	<ul>
                    
                            <li><a href="/help/drawing1" id="link151">提款须知</a></li>
                            <li><a href="/help/drawing2" id="link151">如何绑定银行卡？</a></li>
                            <li><a href="/help/drawing3" id="link151">为什么我的提款不成功？</a></li>
                            <li><a href="/help/drawing4" id="link151">提款后为什么账户中有冻结的资金？</a></li>
                            <li><a href="/help/drawing5" id="link151">申请提款，网站是否有通知？</a></li>
                            <li><a href="/help/drawing6" id="link151">如何将钱从玩彩网帐号中提取出来（如何提款）？</a></li>
                      
				            </ul>
                </div>
                <div class="page"><a class="h_l" href="index.shtml" id="pfirst" hidefocus="true">首页</a><a title="上一页" href="#" class="preno" hidefocus="true" id="link153"></a><a href="index" hidefocus="true" class="curpage" id="link154">1</a><a hidefocus="true" href="#" class="nextno" title="下一页" id="link155">下一页</a><a class="h_l" href="index" id="plast" hidefocus="true">尾页</a><span id="totalpage" class="gray">共1页</span>
            </div>
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






