@{
    var Title = "单式上传格式";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
    @ViewHelpers.css("help.css")
}
<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;单式上传格式规则</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "buylottery", name = "dsgs" });}
    <div class="help_r_">
        <h2>
            单式上传格式规则</h2>
        <div class="div">
            <h1>
                胜平负单式标准格式介绍</h1>
            <h3>
                标准格式要求：
            </h3>
            <p>
                1、只接受后缀名为“.txt”的记事本文本文档。</p>
            <p>
                2、一行一注。</p>
            <p>
                3、支持逗号进行分隔，不投的场次用*占位（仅支持*）。</p>
            <p>
                4、逗号为半角格式下。</p>
            <p>
                5、支持（箭头）带场次编号的格式。</p>
            <h3>
                标准格式如下：
            </h3>
            <strong>（3代表胜，1代表平，0代表负） </strong>
            <p>
                <h4>
                    不带场次</h4>
                <p>
                    3,3,1,0,3,1</p>
                <p>
                    331303</p>
                <p>
                    3,3,1,*,0,3,*,*,1,*,*
                </p>
                <h4>
                    带场次</h4>
          @*      <p>
                    1001:[3]/1002:[3]/1003:[1]/1004:[0]/1005:[3]/1006:[1]</p>*@
                <p>
                    150709001→3,150709001→3,150709001→1,150709001→0,150709001→3,150709001→1
                </p>
                <span style="color: red">（说明：150709001代表场次编号2015年07月09号001，150709002代表场次编号2015年07月09号002，依次类推…）</span>
            </p>
            <p>
                <h3>
                    具体实例说明：
                </h3>
                <h4>
                    1、普通过关</h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    3,3,1,0,3,1</p>
                <p>
                    331031</p>
                <p>
                    格式二、</p>
                <p>
                    3,3,1,*,0,3,*,*,1,*,*
                </p>
                <span style="color: red">（说明：*为占位符，6场比赛必须且只能上传6个数字，程序自动过滤*）</span>
                <p>
                    格式三、</p>
       @*         <p>
                    3,3,1,0,3,1,3,3</p>
                <span style="color: red">（说明：前面6个数字对应第1-6场比赛，后面的数字程序将做截断处理）</span>*@
@*                <p>
                    格式四、</p>
                <p>
                    1001:[3]/1002:[3]/ 1003:[1]/ 1004:[0]/ 1005:[3]/ 1006:[1]
                </p>*@
                <p>
                    150709001→3,150709001→3,150709001→1,150709001→0,150709001→3,150709001→1
                </p>
                <span style="color: red">（说明：箭头前面的数字表示场次编号，后面的数字表示投注选项）</span>
@*                <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    1001→3，1002→3，1003→1，1004→0，1005→3，1006→1</p>*@
                <h4>
                    2、组合过关
                </h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    3,1,*,0,*,*</p>
                <p>
                    *,*,1,0,*,3</p>
                <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    150709001→3，150709002→1，150709004→0</p>
                <p>
                    150709003→1，150709004→0，150709006→3</p>
                <span style="color: red">（说明： *为占位符，选择6场比赛必须且只能上传6个字符<含占位符>；选择3串1，310的个数必须且只能是3个，310的位数将对应场次位数）</span>
                <p>
                    格式二、
                </p>
                <p>
                    331031</p>
                <p>
                    3,3,1,0,3,1</p>
                <p>
                    以上文本格式方案为：对6场比赛做6串1的组合，组合成1注3串1</p>
                <span style="color: red">（说明：不能含有字符*）</span>
            </p>
            <br />
            <br />
            <h1>
                总进球数单式标准格式介绍</h1>
            <h3>
                标准格式要求：
            </h3>
            <p>
                1、只接受后缀名为“.txt”的记事本文本文档。</p>
            <p>
                2、一行一注。</p>
            <p>
                3、支持逗号进行分隔，不投的场次用*占位（仅支持*）。</p>
            <p>
                4、逗号为半角格式下。</p>
            <p>
                5、支持（箭头）带场次编号的格式。</p>
            <h3>
                标准格式如下：
            </h3>
            <strong>（0-7代表进球数0-7个） </strong>
            <p>
                <h4>
                    不带场次</h4>
                <p>
                    0,1,2,4,5,6</p>
                <p>
                    012456</p>
                <p>
                    0,1,2,*,4,5,*,*,6</p>
                <h4>
                    带场次</h4>
                @*<p>
                    1001:[0]/1002:[1]/1003:[2]/1004:[4]/1005:[5]/1006:[6]</p>
                <p>
                    1001→0,1002→1,1003→2,1004→4,1005→5,1006→6
                </p>*@
                <p>
                    150709001→0,150709002→1,150709003→2,150709004→4,150709005→5,150709006→6
                </p>
                <span style="color: red">（说明：150709001代表场次编号2015年07月09号001，150709002代表场次编号2015年07月09号002，依次类推…）</span>
            </p>
            <p>
                <h3>
                    具体实例说明：
                </h3>
                <h4>
                    1、普通过关</h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    0,1,2,4,5,6</p>
                <p>
                    012456</p>
                <p>
                    格式二、</p>
                <p>
                    0,1,2,*,4,5,*,*,6,*,*
                </p>
                <span style="color: red">（说明：*为占位符，6场比赛必须且只能上传6个数字，程序自动过滤*和空格）</span>
@*                <p>
                    格式三、</p>
                <p>
                    0,1,2,4,5,6,3,3</p>
                <span style="color: red">（说明：前面6个数字对应第1-6场比赛，后面的数字程序将做截断处理）</span>*@
                <p>
                    格式三、</p>
                @*<p>
                    1001:[0]/1002:[1]/1003:[2]/1004:[4]/1005:[5]/1006:[6]
                </p>*@
                <p>
                    150709001→0,150709002→1,150709003→2,150709004→4,150709005→5,150709006→6
                </p>
                <span style="color: red">（说明：箭头前面的数字表示场次编号，箭头后面的数字表示投注选项）</span>
@*                <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    1001→0，1002→1，1003→2，1004→4，1005→5，1006→6</p>*@
                <h4>
                    2、组合过关
                </h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    4,5,*,6,*,*</p>
                <p>
                    *,*,3,5,*,7</p>
                <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    150709001→4，150709002→5，150709004→6</p>
                <p>
                    150709003→3，150709004→5，150709006→7</p>
                <span style="color: red">（说明： *为占位符，选择6场比赛必须且只能上传6个字符<含占位符>；选择3串1，310的个数必须且只能是3个，310的位数将对应场次位数）</span>
                <p>
                    格式二、
                </p>
                <p>
                    0,1,2,4,5,6</p>
                <p>
                    012456</p>
                <p>
                    以上文本格式方案为：对6场比赛做6串1的组合，组合成1注6串1</p>
                <span style="color: red">（说明：不能含有字符*）</span>
            </p>
            <br />
            <br />
            <h1>
                比分单式标准格式介绍</h1>
            <h3>
                标准格式要求：
            </h3>
            <p>
                1、只接受后缀名为“.txt”的记事本文本文档。</p>
            <p>
                2、一行一注。</p>
            <p>
                3、支持逗号进行分隔，不投的场次用*占位（仅支持*）。</p>
            <p>
                4、逗号为半角格式下。</p>
            <p>
                5、支持（箭头）带场次编号的格式。</p>
            <h3>
                标准格式如下：
            </h3>
            <strong>（31代表3：1，X0代表胜其他，XX代表平其他，0X代表负其他） </strong>
            <p>
                <h4>
                    不带场次</h4>
                <p>
                    11,31,30</p>
@*                <p>
                    11-31-30</p>*@
                <p>
                    113130</p>
@*                <p>
                    11 31 30</p>*@
                <p>
                    11,31,30,**,**,**
                </p>
@*                <p>
                    11##31######30##</p>*@
                <h4>
                    带场次</h4>
                @*<p>
                    1001:[11]/1002:[31]/1003:[30]</p>*@
                <p>
                    150709001→11,150709002→31,150709003→30
                </p>
                <span style="color: red">（说明：150709001代表场次编号2015年07月09号001，150709002代表场次编号2015年07月09号002，依次类推…）</span>
            </p>
            <p>
                <h3>
                    具体实例说明：
                </h3>
                <h4>
                    1、普通过关</h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    11,31,30</p>
                <p>
                    113130</p>
                <p>
                    格式二、</p>
                <p>
                    11,31,30,**,**,**
                </p>
                <span style="color: red">（说明：**为占位符，3场比赛必须且只能上传3组6个数字，程序自动过滤**和空格）</span>
       @*         <p>
                    格式三、</p>
                <p>
                    11,31,30,31,31</p>
                <span style="color: red">（说明：前面3组数字对应第1-3场比赛，后面的数字程序将做截断处理）</span>*@
                <p>
                    格式三、</p>
                @*<p>
                    1001:[11]/1002:[31]/1003:[30]</p>*@
                <p>
                    150709001→11,150709002→31,150709003→30
                </p>
                <span style="color: red">（说明：箭头前面的数字表示场次编号，后面的数字表示投注选项）</span>
@*                <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    1001→1：1，1002→3：1，1003→3：0</p>*@
                <h4>
                    2、组合过关
                </h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    31,12,**,04,**,**</p>
                <p>
                    **,**,31,20,**,32</p>
                <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    150709001→3：1，150709002→1：2，150709004→0：4</p>
                <p>
                    150709003→3：1，150709004→2：0，150709006→3：2</p>
                <span style="color: red">（说明： **为占位符代替1组数字，上传的数字个数必须是场次数的2倍，一组数字位置对应场次位置）</span>
                <p>
                    格式二、
                </p>
                <p>
                    11,31,30,12,14,24</p>
@*                <p>
                    11-31-30-12-14-24
                </p>*@
                <p>
                    113130121424</p>
@*                <p>
                    11 31 30 12 14 24</p>*@
                <p>
                    以上文本格式方案为：对6场比赛做6串1的组合，组合成1注6串1</p>
                <span style="color: red">（说明：不能含有字符**）</span>
            </p>
            <br />
            <br />
            <h1>
                半全场单式标准格式介绍</h1>
            <h3>
                标准格式要求：
            </h3>
            <p>
                1、只接受后缀名为“.txt”的记事本文本文档。</p>
            <p>
                2、一行一注。</p>
            <p>
                3、支持逗号进行分隔，不投的场次用*占位（仅支持*）。</p>
            <p>
                4、逗号为半角格式下。</p>
            <p>
                5、支持（箭头）带场次编号的格式。</p>
            <h3>
                标准格式如下：
            </h3>
            <strong>（前面1位代表半场赛果，后面1位代表全场赛果，11代表半平-全平） </strong>
            <p>
                <h4>
                    不带场次</h4>
                <p>
                    11,31,30,13,33,30</p>

                <p>
                    113130133330</p>

                <p>
                    11,31,30,**,13,33,**,**,30,**,**
                </p>

                <h4>
                    带场次</h4>
                @*<p>
                    1001:[11]/1002:[31]/1003:[30]/1004:[13]/1005:[33]/1006:[30]</p>*@
                <p>
                    150709001→11,150709002→31,150709003→30,150709004→13,150709005→33,150709006→30</p>
                <span style="color: red">（说明：150709001代表场次编号2015年07月09号001，150709002代表场次编号2015年07月09号002，依次类推…）</span>
            </p>
            <p>
                <h3>
                    具体实例说明：
                </h3>
                <h4>
                    1、普通过关</h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    11,31,30,13,33,30</p>
                <p>
                    113130133330</p>
                <p>
                    格式二、</p>
                <p>
                    11,31,30,**,13,33,**,**,30,**,**
                </p>
                <span style="color: red">（说明：**为占位符，6场比赛必须且只能上传6组12个数字，程序自动过滤**和空格）</span>
@*                <p>
                    格式三、</p>
                <p>
                    11,31,30,13,33,30,31,31</p>
                <span style="color: red">（说明：前面6组数字对应第1-6场比赛，后面的数字程序将做截断处理）</span>*@
                <p>
                    格式三、</p>
                @*<p>
                    1001:[11]/1002:[31]/1003:[30]/1004:[13]/1005:[33]/1006:[30]</p>*@
                <p>
                    150709001→11,150709002→31,150709003→30,150709004→13,150709005→33,150709006→30
                </p>
                <span style="color: red">（说明：箭头前面的数字表示场次编号，后面的数字表示投注选项）</span>
    @*            <p>
                    以上文本格式方案对应为：
                </p>
                <p>
                    1001→平-平，1002→胜-平，1003→胜-负，1004→平-胜，1005→胜-胜，1006→胜-负</p>*@
                <h4>
                    2、组合过关
                </h4>
                <strong class="strong">例如：选择6场比赛（场次编号为周一001、周一002、周一003、周一004、周一005、周一006，选择6串1的过关方式，用户可以上传以下几种格式：
                </strong>
                <p>
                    格式一、
                </p>
                <p>
                    31,13,**,00,**,**</p>
                <p>
                    **,**,31,30,**,10</p>
                <span style="color: red">（说明： **为占位符代替1组数字，上传的数字个数必须是场次数的2倍，一组数字位置对应场次位置）</span>
                <p>
                    格式二、
                </p>
                <p>
                    11,31,30,13,33,30</p>
                <p>
                    113130133330</p>
                <p>
                    以上文本格式方案为：对6场比赛做6串1的组合，组合成1注6串1</p>
                <span style="color: red">（说明：不能含有字符**）</span>
            </p>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
@ViewHelpers.js("help.js")
