@{
    var Title = "什么是和值？";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;什么是和值？</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "buylottery", name = "ForTheColor" });}
<div class="help_r">
         
     <div class="det_box">
            	<h2>什么是和值？</h2>
                <div class="det_c"><p><span class="Apple-style-span" style="widows:2;text-transform:none;text-indent:0px;font:14px/24px 宋体, tahoma;white-space:normal;orphans:2;letter-spacing:normal;color:#333333;word-spacing:0px;-webkit-text-size-adjust:auto;-webkit-text-decorations-in-effect:none;-webkit-text-stroke-width:0px;">和值就是基本号码数值的总和。判别号码和值，可以进一步确定和值的范围趋势，从而缩小选号范围。</span></p>
@*<p><span class="Apple-style-span" style="widows:2;text-transform:none;text-indent:0px;font:14px/24px 宋体, tahoma;white-space:normal;orphans:2;letter-spacing:normal;color:#333333;word-spacing:0px;-webkit-text-size-adjust:auto;-webkit-text-decorations-in-effect:none;-webkit-text-stroke-width:0px;"><img width="696" height="485" border="0" src="htmages/new/500/20130220155452_2961.jpg" alt="" style="width:686px;height:485px;"></span></p> *@               </div>
              @*  
                <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






