@{
    var Title = "注册玩彩网注意事项";
    ViewBag.Title = Title+" - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">帮助中心</a> > </li>
        <li>&nbsp;注册玩彩网注意事项</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type="register", name = "login" });}
<div class="help_r">
<div class="det_box">
            	<h2>注册玩彩网会员注意事项</h2>
                <div class="det_c"><span class="Apple-style-span" style="widows:2;text-transform:none;text-indent:0px;font:14px/24px 宋体, tahoma;white-space:normal;orphans:2;letter-spacing:normal;color:#333333;word-spacing:0px;font-size-adjust:none;font-stretch:normal;-webkit-text-decorations-in-effect:none;-webkit-text-size-adjust:auto;-webkit-text-stroke-width:0px;"> <p style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;">1、请务必正确填写真实姓名、身份证号码、开户行和银行卡号码。真实姓名、身份证号作为取款、重置密码等凭证，用户不能自行修改。</p>
<p style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;">2、银行卡资料仅作取款用，在注册时可以不填，不过在提款之前请务必填写详细。真实姓名必须与银行卡户名相同，否则提款将不成功。</p>
<p style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;">3、请填写真实有效的手机号码，以便收取手机验证码以及在您中大奖时能及时与您取得联系。</p>
<p style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;">4、请填写真实有效的电子邮件，以便收取注册成功确认邮件以及合买成功确认邮件。</p>
<p style="padding-bottom:0px;margin:15px 0px;padding-left:0px;padding-right:0px;font-size:14px;padding-top:0px;">5、注册时需要验证手机或者邮箱，一个手机最多可以验证绑定1个账户，一个邮箱只可以验证注册一个账户。</p>
</span>                </div>
                
               @* <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>
            </div>
                   </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")

