@{
    var Title = "排列三规则";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;排列三规则</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "howToPlay", name = "pl3" });}
<div class="help_r">
         
         <div class="det_box">
            	<h2>排列三规则</h2>
                <div class="det_c">

    
 
    <span style="color:#333333;font-family:宋体, tahoma;font-size:14px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:24px;orphans:2;text-align:-webkit-auto;text-indent:0px;text-transform:none;white-space:normal;widows:2;word-spacing:0px;-webkit-text-decorations-in-effect:none;-webkit-text-size-adjust:auto;-webkit-text-stroke-width:0px;" class="Apple-style-span">
    <h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第一章 总则</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第一条 根据财政部《彩票发行与销售管理暂行规定》和国家体育总局《体育彩票发行与销售管理暂行办法》及《计算机销售体育彩票管理暂行办法》，特制定本游戏规则。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第二条 体彩排列3电脑体育彩票由国家体育总局体育彩票管理中心统一发行，在全国范围内采用计算机网络系统进行联合销售。 </p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第三条 体彩排列3实行自愿购买，凡购买该彩票者即被视为同意并遵守本规则。</p>

　　<h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第二章 游戏方法</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第四条 购买"体彩排列3"时，由购买者从000-999的数字中选取1个3位数为投注号码进行投注。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第五条 购买者可在全国各省（区、市）体育彩票管理中心设置的投注站进行投注。投注号码可由投注机随机产生，也可通过投注单将购买者选定的号码输入投注机确定。投注号码经系统确认后打印出的兑奖凭证即为体彩排列3电脑体育彩票，交购买者保存。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第六条 “体彩排列3”电脑体育彩票每注2元人民币。不记名，不挂失，不返还本金，不流通使用。</p>
　　
　　<h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第三章 奖级设定</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第七条 "体彩排列3"按"直选投注"、"组选3"、"组选6"等不同投注方式进行设奖，均设一个奖级，为固定奖。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第八条 各奖级奖金分配：</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">"直选投注"，单注固定奖金1000元。 "组选3"，单注固定奖金320元。 "组选6"，单注固定奖金160元。 </p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第九条 销售总额的50％为奖金, 分为当期奖金和调节基金。其中，49%为当期奖金，1%为调节基金。</p>

　　<h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第四章 开奖及公告</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十条 "体彩排列3"天天开奖，摇奖过程在公证人员监督下进行，通过电视台播出。 "体彩排列3"“排列5”同时开奖，一次产生5个号码，其中奖号码为当期摇出的全部中奖号码的前3位。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十一条 每期开奖后，国家体育总局体育彩票管理中心需将中奖号码、当期销售总额、各奖等中奖情况以及奖池资金余额等信息，通过新闻媒体向社会公布，并将开奖结果通知各销售终端。</p>

　　<h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第五章 中奖办法</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十二条 所购彩票与开奖结果对照，符合以下情况即为中奖：</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">"直选投注"：所选号码与中奖号码相同且顺序一致，则该注彩票中奖。例如，中奖号码为543，则中奖结果为：543。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">"组选3"：中奖号码中任意两位数字相同，所选号码与中奖号码相同且顺序不限，则该注彩票中？薄＠？如，中奖号码为544，则中奖结果为：544、454、445之一均可。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">"组选6"： 所选号码与中奖号码相同且顺序不限，则该注彩票中奖。例如，中奖号码为543，则中奖结果为：543、534、453、435、345、354之一均可。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十三条 当期每注彩票只有一次中奖机会，不得兼中兼得，另行设立的特别奖项除外。</p>

　　<h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第六章; 兑奖</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十四条“体彩排列3”兑奖当期有效。每期自开奖次日起28天为兑奖期，逾期未兑，视为弃奖纳入调节基金。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十五条兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十六条凡伪造、涂改中奖彩票，冒领奖金者，送交司法机关追究法律责任。</p>

　　<h3 style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第七章; 附则</h3>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十七条本游戏规则解释权属国家体育总局体育彩票管理中心。</p>
　　<p style="margin-top:15px;margin-right:0px;margin-bottom:15px;margin-left:0px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;font-size:14px;">第十八条本游戏规则自下发之日起执行.</p>
</span>                </div>
                
             @*   <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






