@{
    var Title = "设置隐私保护应注意些什么？";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;设置隐私保护应注意些什么？</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "account", name = "privacySet" });}
<div class="help_r">
         
              <div class="det_box">
            	<h2>设置隐私保护应注意些什么？</h2>
                <div class="det_c">1、默认情况下您的历史投注是公开显示您的用户名的，在您设置为隐藏显示用户名生效之后，您的历史方案上的用户名将不再全部显示。<br>
2、为了保护您的个人隐私，建议您将您的用户名进行隐藏显示设置。<br>
3、网站会自动将您的身份证号码、手机号码、银行卡号码做星号隐藏。<br>

                </div>
                
         @*       <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






