@{
    var Title = "人才招聘";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
    @ViewHelpers.css("help.css")
}
<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;人才招聘</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "About", name = "Join" });}
    <div class="help_r">
        <div class="det_box">
            <h2>
                人才招聘</h2>
            <div class="det_c">
               <div class="det_c">
                        <h3>
                            优厚的薪酬福利</h3>
                        <p>
                            公司为每一位辛勤工作的员工提供具有行业竞争力的的薪酬，同时还有五险一金、补充医疗、带薪年假、工龄补贴、生日关怀、员工午餐、笔记本补助、过节费、年终奖金、年度出游等福利。</p>
                        <h4>
                            技术总监:</h4>
                        <br>
                        薪资范围：面议<br>
                        招聘人数：1人<br>
                        发布时间： 2016-03-20<br>
                        工作职责:<br>
                        1、全面负责技术部门的各项工作，组织并监督技术人员全面完成职责范围内的各项工作任务；<br>
                        2、制订相关的技术解决方案、设计及实现规范；提供关键技术攻关、技术决策，进行技术风险评估。<br>
                        任职资格：<br>
                        1、本科及以上学历，计算机应用、软件工程专业，熟悉手游及页游开发；<br>
                        2、3年以上互联网彩票开发经验，作为技术负责人至少主导过一个项目的完整开发过程；<br>
                        3、熟悉各项技术，包括但不限于：.NET后台、Flash前端等；<br>
                        4、具有较强的内驱力和事业心，有良好的团队协作、协调能力，具备开拓精神及带队伍的能力。<br>
                        </p><p>
                            <h4>
                                后台应用开发工程师:</h4>
                            <br>
                            薪资范围：面议<br>
                            招聘人数：5人<br>
                            发布时间： 2016-03-20
                            <br>
                            工作职责:<br>
                            打造高效稳定的后台服务系统，为前台业务提供可靠的支撑<br>
                            任职资格：<br>
                            1、追求系统的性能、稳定；<br>
                            2、2年以上.NET后台应用开发经验；<br>
                            3、熟悉网络编程、HTTP通信、SOCKET通信、多线程、异步通信；<br>
                            4、熟悉数据库编程(Oracle、mysql、postgresql 均可)、各类缓存应用；<br>
                            5、熟悉常用数据结构和算法、面向对象设计思想、常用的设计模式；<br>
                            6、具有良好的编码习惯、沟通能力、团队合作精神、职业素养；<br>
                            7、有高并发后台服务系统开发经验优先。<br>
                        </p>
                        <p>
                            <h4>
                                产品运营经理</h4>
                            <br>
                            薪资范围：面议<br>
                            招聘人数：1人<br>
                            发布时间： 2016-03-20
                            <br>
                            工作职责：<br>
                            1.负责彩票产品的日常运营和内容运营工作，包括但不限于：数据分析、活动策划、用户运营、内容建设等工作；<br>
                            2.对如何刺激新老用户、提升用户活跃度、降低流失率等有较深的认识，制定成体系的组合方案；<br>
                            3.详细分析用户行为数据，对彩票产品的内容架构及产品功能不断优化提供建议；<br>
                            4.熟悉彩票市场运营情况，调研竞争对手营销方式，分析不同营销方式的优缺点；<br>
                            5.对移动互联网和手机购彩有较深入了解，能够熟练移动化运营；<br>
                            6.熟悉竞技和高频类等彩种。<br>
                            任职资格：<br>
                            1.正直诚实，有责任感；<br>
                            2.全日制统招本科或以上学历；<br>
                            3.有彩票产品运营相关经验者优先；<br>
                            4.具有前瞻性思维，对彩票行业发展有深刻理解和认识；<br>
                            5.具备良好的项目管理能力，敬业、团队合作精神，有很强的组织协调、沟通能力；<br>
                            6.结果导向，注重数据与量化，学习能力强。<br>
                        </p>
                        <p>
                            <h4>
                                UI设计师</h4>
                            <br>
                            薪资范围：面议<br>
                            招聘人数：2人<br>
                            发布时间： 2016-03-20
                            <br>
                            工作职责：<br>
                            1.配合前端开发人员完成需求开发；<br>
                            2.负责网站页面整体形象和产品界面创意，设计，协助开发人员完成网络平台中所需的设计工作；<br>
                            3.完成公司领导下达的设计相关任务。<br>
                            任职资格：<br>
                            1.网站设计或广告类相关专业，本科及以上学历；<br>
                            2.2年以上相关岗位工作经验；<br>
                            3.优秀的用户界面设计能力，对视觉设计、色彩有敏锐的观察力及分析能力；<br>
                            4.熟练使用Dreamweaver、Photoshop、Illustrator、flash等软件；<br>
                            5.良好的沟通能力，具有与前端研发配合工作经验。<br>
                        </p>
                        <p>
                            <h4>
                                客服专员</h4>
                            <br>
                            薪资范围：面议<br>
                            招聘人数：2人<br>
                            发布时间： 2016-03-20<br>
                            工作职责：<br>
                            1.在线受理客户咨询、投诉、建议，高效完成客服答疑工作，维护公司形象；<br>
                            2.对于线上无法解决的问题，记录有关情况，交后台人员处理，按处理结果反馈客户；<br>
                            3.做好客户咨询、投诉、建议等有关问题的记录与报告；<br>
                            4.完成上级交办的其它有关事项。<br>
                            任职资格：<br>
                            1.有客服工作经验优先?；<br>
                            2.思维敏捷，有较强的表达能力和沟通技巧；<br>
                            3.有服务意识和团队合作精神，勇于承担责任。<br>
                            4.女士优先。
                            <br>
                        </p>
                        <p>
                            <h4>
                                简历请发送至邮箱zhaopin@wancai.com</h4>
                        </p>
                        <br>
                        </span>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
@ViewHelpers.js("help.js")
