@{
    var Title = "如何确保账户资金安全？";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;如何确保账户资金安全？</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "account", name = "AccountSecurity" });}
<div class="help_r">
         
         <div class="det_box">
            	<h2>如何确保账户资金安全？</h2>
                <div class="det_c"><p class="MsoNormal" style="margin:0cm 0cm 0pt;">&nbsp;</p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">您在<span lang="EN-US">玩彩网</span>充值和中奖后，购彩金和奖金都会保存在您的购彩金账户中。<span lang="EN-US"><!--?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /--><o:p></o:p></span></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">您可以申请提款，将资金提取到您指定的银行账户。<span lang="EN-US"><o:p></o:p></span></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">在此之前，您如果没有将指定银行卡与<span lang="EN-US">玩彩网</span>账户绑定，一旦电脑遭遇木马入侵或您在其他网站使用的相同账号密码被盗导致您的账号密码泄露，</span><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">那么不法分子很可能趁机登录您的<span lang="EN-US">玩彩网</span>账户并用其他银行账户盗取您的资金。<span lang="EN-US"><o:p></o:p></span></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US" style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">为了保护您的账户和资金安全，您可以立即采取以下三项措施提高账户安全级别：<span lang="EN-US"><o:p></o:p></span></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US" style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;"><o:p>&nbsp;</o:p></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US" style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">1</span><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">、<b style="mso-bidi-font-weight:normal;">绑定唯一提款银行卡，锁定提现通道</b> <span lang="EN-US" style="color:#0070c0;"><a href="/" id="link150"><span lang="EN-US"><span lang="EN-US">怎样绑定银行卡</span></span></a><o:p></o:p></span></span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">只有您绑定的银行卡才能提现，即使账号密码泄露，也绝不会给不法分子可乘之机。</span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;">&nbsp;</p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;"><img width="548" height="141" border="0" src="@ViewHelpers.img(string.Format("/help/20120814095931_3539.jpg"))" alt=""></span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;"><span lang="EN-US"><o:p><span lang="EN-US" style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">2</span><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">、<b style="mso-bidi-font-weight:normal;">绑定手机，随时掌握账户资金动态</b> <span style="color:#0070c0;"><span lang="EN-US" style="font-family:宋体;color:#0070c0;font-size:10.5pt;mso-ascii-theme-font:minor-fareast;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;mso-bidi-font-size:11.0pt;mso-bidi-font-family:'Times New Roman';mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:ZH-CN;mso-bidi-language:AR-SA;"><a href="/help/bindingPhone" id="link151"><span lang="EN-US"><span lang="EN-US">怎样绑定手机</span></span></a></span> </span><span lang="EN-US"><o:p></o:p></span></span></o:p></span></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US" style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;"><span style="mso-spacerun:yes;">&nbsp;&nbsp; </span></span><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">账户有提款操作，您可以第一时间接收到免费短信通知，随时随地掌握账户资金动态。<span lang="EN-US"><o:p></o:p></span></span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;">&nbsp;</p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;"><img width="566" height="153" border="0" src="@ViewHelpers.img(string.Format("/help/20120814100031_6078.jpg"))" alt=""></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US" style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">3</span><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">、<b style="mso-bidi-font-weight:normal;">不要在多个网站使用相同的账号和密码</b>（尤其是不要使用容易被盗的例如<span lang="EN-US">QQ</span>、微博等账号）<span lang="EN-US"><o:p></o:p></span></span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;">互联网账号有被盗风险，如果您有在多个网站使用相同账号密码的习惯，请您定期修改<span lang="EN-US">玩彩网</span>密码并做好记录备份以防遗忘。<span lang="EN-US" style="color:#0070c0;"><a href="/member/password" id="link152"><span lang="EN-US"><span lang="EN-US"><span style="color:#0000ff;">立即修改密码</span></span></span></a>&#12288;</span></span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;"><span style="font-family:宋体;mso-ascii-theme-font:minor-fareast;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;"><span lang="EN-US" style="color:#0070c0;"><span style="font-family:宋体;font-size:10.5pt;mso-ascii-theme-font:minor-fareast;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-fareast;mso-bidi-font-size:11.0pt;mso-bidi-font-family:'Times New Roman';mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:ZH-CN;mso-bidi-language:AR-SA;"><span style="color:#000000;">另外，开通实名认证、密码保护问题等，您的账户信息越完善，账户就越安全。您可以去</span><span lang="EN-US" style="color:#0070c0;"><a href="/member/safe" id="link153"><span lang="EN-US"><span lang="EN-US"><span style="color:#0000ff;">安全首页</span></span></span></a></span><span style="color:#000000;">完善您的账户信息。</span></span><o:p></o:p></span></span></p>
<p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;">
</p><p class="MsoNormal" style="text-indent:15.75pt;margin:0cm 0cm 0pt;mso-char-indent-count:1.5;">&nbsp;</p>
<p></p>
                </div>
                
             @*   <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






