@{
    var Title = "什么叫方案上传？";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/help/index">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;什么叫方案上传？</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "buylottery", name = "ShoppingService" });}
<div class="help_r">
         
             <div class="det_box">
            	<h2>单式上传支持哪些格式？</h2>
                <div class="det_c">
<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span lang="EN-US" style="font-family:'ˎ̥','serif';color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:宋体;mso-font-kerning:0pt;mso-fareast-font-family:宋体;">1</span><span style="font-family:宋体;color:#333333;mso-bidi-font-size:10.5pt;mso-ascii-font-family:ˎ̥;mso-hansi-font-family:ˎ̥;mso-bidi-font-family:宋体;mso-font-kerning:0pt;">、登录玩彩网合买代购平台，选择您要发起合买的彩种和玩法； </span></p>
<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span lang="EN-US" style="font-family:'ˎ̥','serif';color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:宋体;mso-font-kerning:0pt;mso-fareast-font-family:宋体;">2</span><span style="font-family:宋体;color:#333333;mso-bidi-font-size:10.5pt;mso-ascii-font-family:ˎ̥;mso-hansi-font-family:ˎ̥;mso-bidi-font-family:宋体;mso-font-kerning:0pt;">、填写您要投注的方案内容，在购彩类型中选择“合买”，确认投注内容；若需要上传方案，则在发起页面选择上传方案或稍后再上传；</span></p>
<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span lang="EN-US" style="font-family:'ˎ̥','serif';color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:宋体;mso-font-kerning:0pt;mso-fareast-font-family:宋体;">3</span><span style="font-family:宋体;color:#333333;mso-bidi-font-size:10.5pt;mso-ascii-font-family:ˎ̥;mso-hansi-font-family:ˎ̥;mso-bidi-font-family:宋体;mso-font-kerning:0pt;">、填写发起方案的相关信息，包括"认购份数、是否保底、提成比例"等，确认无误；</span></p>
<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span lang="EN-US" style="font-family:'ˎ̥','serif';color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:宋体;mso-font-kerning:0pt;mso-fareast-font-family:宋体;">4</span><span style="font-family:宋体;color:#333333;mso-bidi-font-size:10.5pt;mso-ascii-font-family:ˎ̥;mso-hansi-font-family:ˎ̥;mso-bidi-font-family:宋体;mso-font-kerning:0pt;">、用户确认发起方案信息，点击"确认投注"，方案发起成功。</span></p>
                   </div>
                
             @*   <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>

        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






