@{
    ViewBag.Here = "广东快乐十分玩法规则";

    ViewBag.Title = "广东快乐十分玩法规则 - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "广东快乐十分玩法规则, 帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
}

<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">帮助中心</a> > </li>
        <li>广东快乐十分玩法规则</li>
    </ul>
</div>
<div class="center mt10">
    @{Html.RenderAction("left", "help");}
    <div class="new_buy_right">

<div class="help-content f_r">
    <div class="help-cont">
        <h1 class="hp-title">广东快乐十分游戏规则</h1>
        <p class="indet">
            经财政部、中国福利彩票发行管理中心批准，一种全新的快速开奖游戏中国福利彩票“快乐十分”将于近期在我省发行销售。“快乐十分”集中了目前市场上所有快速开奖游戏的优点，返奖高，开奖快，更好玩。返奖率高达59%，每10分钟开奖一期，共10种玩法，排列、组合、数字、颜色都可选；“快乐十分”共有20个号码可供选择；每注可投1—5个号码，每期开出8个中奖号码，使中奖更容易。
        </p>
        <h3>10分钟开奖一期</h3>
        <p>
            据了解，即将上市的中国福利彩票“快乐十分”一个很重要的特点就是开奖快，每隔10分钟就开奖一期，是目前全国快速开奖游戏中最为“快速”的游戏之一。“快乐十分”开奖采用的是专用电子开奖设备，每期从01—20共20个号码中随机生成8个不同号码，作为当期开奖号码。每期的开奖号码都会通过与数据中心连接的视频设备显示，在每个“快乐十分”销售网点都可以收看到。
        </p>
        <h3>10种玩法多种选择</h3>
        <p>
            “快乐十分”是从01—20个号码中任选1—5个号码组合为一注彩票进行投注，它共有10种玩法，包含了排列、组合投注方式，特别是值得一提的是，选一投注有“选一数投”和“选一红投”，即投注时可以选数字，也可以选颜色。10种玩法按排列、组合的方式可以分为三种：一是组合玩法：选二任选、选三任选、选四任选、选五任选，这4种玩法的投注、中奖不讲顺序，只要当期开奖的8个号码中有所投注的号码，则就中奖了；二是组合兼排列的定位玩法：即定中奖号码位置但不定中奖号码出现顺序，包括选二连组、选三前组；三是排列玩法，是既定中奖号码位置又定中奖号码出现顺序，包括选一数投、选一红投和选二连直、选三前直共4种玩法。
        </p>
        <h3>投注号码少，开奖号码多</h3>
        <p>
            “快乐十分”每注投注号码为1—5个，但是每期开出8个号码作为当期开奖号码，开奖号码远远大于所投注号码，使中奖更容易。以“快乐十分”中投注号码最多的玩法“任选五”为例，每注投注5个号码，只要这5个号码在所开奖的8个中奖号码中就中奖。特别是对于喜欢包号投注的彩民而言，如果“任选5”包8个号投注，如果所包的8个号码与8个中奖号码完全相同，则其中奖注数就达到56注，总奖金17920元。
        </p>
        <table class="bordertable" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <th width="15%">玩法
                </th>
                <th width="35%">投注
                </th>
                <th width="35%">中奖
                </th>
                <th width="15%">单注奖金（元）
                </th>
            </tr>
            <tr>
                <td>选一数投
                </td>
                <td>指从01至18中任意选择1个数字号码，对开奖号码中按开奖顺序出现的第一个位置的投注。
                </td>
                <td>投注号码与开奖号码中按开奖顺序出现的第一个位置数字号码相符，即中奖。
                </td>
                <td>25
                </td>
            </tr>
            <tr>
                <td>选一红投
                </td>
                <td>指从19和20两个红色号码中任意选择1个红色号码，对开奖号码中按开奖顺序出现的第一个位置的投注。
                </td>
                <td>投注号码与开奖号码中按开奖顺序出现的第一个位置为红色号码，即中奖。
                </td>
                <td>5
                </td>
            </tr>
            <tr>
                <td>选二任选
                </td>
                <td>指从01至20中任意选择2个号码对开奖号码中任意2个位置的投注。
                </td>
                <td>投注号码与开奖号码中任意2个位置的号码相符，即中奖。
                </td>
                <td>8
                </td>
            </tr>
            <tr>
                <td>选二连组
                </td>
                <td>指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置的投注。
                </td>
                <td>投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码相符（顺序不限），即中奖。
                </td>
                <td>31
                </td>
            </tr>
            <tr>
                <td>选二连直
                </td>
                <td>指从01至20中任意选择2个号码对开奖号码中按开奖顺序出现的2个连续位置按位相符的投注。
                </td>
                <td>投注号码与开奖号码中按开奖顺序出现的2个连续位置的号码按位相符，即中奖。
                </td>
                <td>62
                </td>
            </tr>
            <tr>
                <td>选三任选
                </td>
                <td>指从01至20中任意选择3个号码对开奖号码中任意3个位置的投注。
                </td>
                <td>投注号码与开奖号码中任意3个位置的号码相符，即中奖。
                </td>
                <td>24
                </td>
            </tr>
            <tr>
                <td>选三前组
                </td>
                <td>指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置的投注。
                </td>
                <td>投注号码与开奖号码中按开奖顺序出现的前3个位置的号码相符（顺序不限），即中奖。
                </td>
                <td>1300
                </td>
            </tr>
            <tr>
                <td>选三前直
                </td>
                <td>指从01至20中任意选择3个号码对开奖号码中按开奖顺序出现的前3个连续位置按位相符的投注。
                </td>
                <td>投注号码与开奖号码中按开奖顺序出现的前3个位置的号码按位相符，即中奖。
                </td>
                <td>8000
                </td>
                <tr>
                    <td>选四任选
                    </td>
                    <td>指从01至20中任意选择4个号码，对开奖号码中任意4个位置的投注。
                    </td>
                    <td>投注号码与开奖号码中任意4个位置的号码相符，即中奖。
                    </td>
                    <td>80
                    </td>
                </tr>
                <tr>
                    <td>选五任选
                    </td>
                    <td>指从01至20中任意选择5个号码，对开奖号码中任意5个位置的投注。
                    </td>
                    <td>投注号码与开奖号码中任意5个位置的号码相符，即中奖。
                    </td>
                    <td>320
                    </td>
                </tr>
            </tr>
        </table>
    </div>
</div>
</div>
</div>
<div class="clearfix"></div>