@{
    ViewBag.Here = "竞彩足球玩法介绍";

    ViewBag.Title = "竞彩足球玩法介绍 - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "竞彩足球玩法介绍, 帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}@section css{
   @ViewHelpers.css("help.css")
}

<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">帮助中心</a> > </li>
        <li>竞彩足球玩法介绍</li>
    </ul>
</div>
<div class="center mt10">
    @{Html.RenderAction("left", "help");}
    <div class="new_buy_right">
<div class="help-content f_r">
    <div class="help-cont">
        <h1 class="hp-title">竞彩足球玩法介绍</h1>
        <h3>一、竞彩足球胜平负游戏</h3>
        <div class="help_box">
            <p>
                竞彩足球“让球胜平负”这个玩法就是对赛事计算让球后的胜、平、负进行投注。<br>
                让球”的意思是比赛的对阵双方可能因为主客场的优劣势问题、队伍本身实力、最近的比赛成绩、排名等等因素。所以官方会根据这些情况以“让球”的方式来调整双方的胜负平衡。
            </p>
            <p><font face="宋体">@(SiteString.getHZSiteName(Request))上让球的显示方式是“+”或“-”，当出现“+2”就是说主队接受客队让2球；当出现“-2”就是说主队让2球给客队。</font></p>
            <p><font face="宋体">打比方说：</font></p>
            <p><font face="宋体">主队：拜仁慕尼黑&nbsp;&nbsp;&nbsp; -1 (让1球给)&nbsp;&nbsp;&nbsp; 客队：克卢日</font></p>
            <p><font face="宋体">当比赛结果0比 0 时那么计算让球后，主队是 -1 比 0，客胜</font></p>
            <p>
                <font face="宋体">竞彩足球的一个特色是，用户可以在页面自由选择投注的场次（不超过10场），并且可以选择一个或多个过关方式，也就是说用户可以用2元的本金去选择多场次进行过关投注，来博取高额的奖金，真正的以小搏大。</font><font face="宋体"><br>
</font>
            </p>
        </div>
        <h3>二、竞彩足球比分游戏</h3>
        <div class="help_box">
            竞彩足球的“比分”玩法就是直接对赛事的实际比分进行投注。<br>
            就是说，您投注某一场赛事最后比分为4 – 2，那么最后这赛比赛结果为4 – 2，那么你的方案就是中奖。<br>
            猜“比分”的玩法是所有玩法中最难的，但SP值也是最高的，所以您的眼光准确加上一些运气，即使投注的场次不多，但也会赢得很高的奖金。<br>
            “比分”玩法最高选择投注的场次不能超过10场，而选择的过关方式最高只有4串1&nbsp;
        </div>
        <h3>三、竞彩足球总进球数游戏</h3>
        <div class="help_box">
            <p>
                竞彩足球的“总进球数”玩法是预测对阵双方整场赛事（不计算加时、点球）的进球总数。也就是说无论这场赛事谁胜谁负，比分多少，只要主客队加起来的进球数是您投注的结果的话就是中奖。<br>
                比方说你对某一场赛事总进球预测为6球，那么无论这场赛事最后比分是多少“3 – 3”还是“5 – 1”，只要主客双方的进球数相加是6，那么就代表你猜中了。<br>
                总进球数”玩法最高选择投注的场次不能超过10场，而选择的过关方式最高只有6串1
            </p>
        </div>
        <h3>四、竞彩足球半全场胜平负游戏</h3>
        <div class="help_box">
            <p>彩足球的“半全场胜负”玩法就是彩民选定比赛，对主队在上半场45分钟（含伤停补时）和全场90分钟（含伤停补时）的“胜”、“平”、“负”结果分别进行投注。</p>
            <p><font face="宋体">比如说某一场赛事，主队半场的时候落后0 – 2，但最后能反超3 – 2赢得比赛，那么这场赛事的半全场胜负彩果是“负-胜” ，就是“半场负 全场胜”的意思。</font></p>
            <p>
                （1）“胜胜”：即上半场主队胜，全场主队胜；<br>
                （2）“胜平”：即上半场主队胜，全场主队平；<br>
                （3）“胜负”：即上半场主队胜，全场主队负；<br>
                （4）“平胜”：即上半场主队平，全场主队胜；<br>
                （5）“平平”：即上半场主队平，全场主队平；<br>
                （6）“平负”：即上半场主队平，全场主队负；<br>
                （7）“负胜”：即上半场主队负，全场主队胜；<br>
                （8）“负平”：即上半场主队负，全场主队平；<br>
                （9）“负负”：即上半场主队负，全场主队负。
            </p>
            <p>
                足球比赛是充满意外性的运动，经常会上演一些半场时领先，但最后却落败或打平的情况，这个玩法就是很具趣味性，也考验着玩家对赛事的分析哦。<br>
                “半全场胜负“玩法最高选择投注的场次不能超过10场，而选择的过关方式最高只有3串1
            </p>
            <p>&nbsp;</p>
        </div>
        <h3>五、竞彩足球关表</h3>
        <div class="help_box">
            <p>
                <img height="1936" alt="" width="643" onload="imgresize(this);" src="@SiteString.img("help/dba9f06f-acd2-46bf-b6ac-1d7938b6f0b9.jpg")">&nbsp;
            </p>
            <p>
                &nbsp;<br>
                官方玩法介绍：<a href="http://www.sporttery.com/help/2968.html?gid=9" target="_blank">http://www.sporttery.com/help/2968.html?gid=9</a>
            </p>
        </div>
    </div>
</div>
</div>
</div>
<div class="clearfix"></div>