
@{
    ViewBag.Here = "中国福利彩票“齐鲁风采•群英会”游戏玩法介绍";

    ViewBag.Title = "中国福利彩票“齐鲁风采•群英会”游戏玩法介绍 - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "中国福利彩票“齐鲁风采•群英会”游戏玩法介绍, 帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
}

<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">帮助中心</a> > </li>
        <li>中国福利彩票“齐鲁风采•群英会”游戏玩法介绍</li>
    </ul>
</div>
<div class="center mt10">
    @{Html.RenderAction("left", "help");}
    <div class="new_buy_right">
<div class="help-content f_r">
    <div class="help-cont">
        <h1 class="hp-title">中国福利彩票“齐鲁风采•群英会”游戏玩法介绍</h1>
        <h3>第一章 总 则</h3>
        <p>
            第一条 为加强对中国福利彩票“齐鲁风采•群英会”游戏的发行与销售管理，根据财政部《彩票发行与销售管理暂行规定》（财综〔2002〕13号）、《中国福利彩票发行与销售管理暂行规定》（民办发〔1998〕12号）、《关于调整山东省电脑福利彩票23选5游戏规则的通知》（财办综〔2009〕26号）和《关于调整山东省电脑福利彩票23选5游戏规则的批复》（中彩复字〔2009〕4号）等规定，制定本细则。<br />
            <br />
            第二条 中国福利彩票“齐鲁风采•群英会”游戏（即山东省电脑福利彩票23选5游戏，以下简称“群英会”）经中国福利彩票发行管理中心（以下简称“中福彩中心”）统一组织发行，由山东省福利彩票发行中心（以下简称“省中心”）在所辖区域内承销。<br />
            <br />
            第三条 “群英会”采用计算机网络系统发行，在山东省电脑福利彩票投注站销售，定期开奖。<br />
            <br />
            第四条 “群英会”实行自愿购买，凡购票者均被视为同意并遵守本细则。<br />
            <br />
            第五条 不得向未成年人销售彩票或兑付奖金。
        </p>
        <h3>第二章 投 注</h3>
        <p>
            第六条“群英会”采用按位次选择投注号码快速开奖电脑彩票游戏，即从23位齐鲁古代名将（以1-23个号码代表）中选择1～10位（用代码表示）进行投注，一组1～3位号码（代码）的排列或1～10位号码的组合称为一注，每注金额人民币2元。可以进行加倍投注，每注最高倍数为50倍。<br />
            <br />
            第七条 “群英会”投注方式分为顺选投注、围选投注和任选投注。<br />
            <br />
            顺选投注：是指从号码1～23中任意选择1～3个号码的唯一排列作为一注投注号码进行顺选对奖的投注方式，分为顺一到顺三；<br />
            围选投注：是指从号码1～23中任意选择1～4个号码的任意组合作为一注投注号码进行围选对奖的投注方式，分为围一到围四；<br />
            任选投注：是指从号码1～23中任意选择1～10个号码的任意组合作为一注投注号码进行任选对奖的投注方式，分为任一到任十。<br />
            <br />
            第八条 “群英会”按期销售，投注号码当期有效。每15分钟开奖一期，期号按照销售日期顺序编排。每个销售日的9点到17点，20点到22点销售。<br />
            <br />
            第九条 “群英会”可在山东省福利彩票发行中心设置并开通“群英会”游戏的电脑彩票投注站投注。投注者可选择机选号码投注或者自选号码投注。机选号码投注即由投注机随机产生投注号码进行投注，自选号码投注即将投注者选定的号码输入投注机进行投注。<br />
            <br />
            第十条 “群英会”采取有纸化投注，投注号码经投注机打印出对奖凭证，交投注者保存，此对奖凭证即为“群英会”彩票。电话、手机等电子化投注规则另行规定。<br />
            <br />
            第十一条 “群英会”当期每组号码的投注注数，根据市场情况限量销售，限号规则报山东省财政厅核准，由山东省福利彩票发行中心根据实际情况确定具体限额。<br />
        </p>
        <h3>第三章 设 奖</h3>
        <p>
            第十二条 “群英会”按当期销售额的59%、13%和28%分别计提返奖奖金、发行经费和公益金。返奖奖金中，当期奖金占58%，调节基金占1%。<br />
            <br />
            第十三条 “群英会”采用固定奖金设奖，按所设奖金等级兑奖。具体设奖如下：<br />
            (一) 顺选奖<br />
            顺一奖：单注奖金固定为26元；<br />
            顺二奖：单注奖金固定为590元；<br />
            顺三奖：单注奖金固定为12300元。<br />
            (二) 围选奖<br />
            围一奖：单注奖金固定为25元；<br />
            围二奖：单注奖金固定为300元；<br />
            围三奖：单注奖金固定为2000元；<br />
            围四奖：单注奖金固定为10000元。<br />
            (三) 任选奖<br />
            任一奖：单注奖金固定为5元；<br />
            任二奖：单注奖金固定为30元；<br />
            任三中三奖：单注奖金固定为100元；<br />
            任三中二奖：单注奖金固定为5元；<br />
            任四中四奖：单注奖金固定为1000元；<br />
            任四中三奖：单注奖金固定为30元；<br />
            任五中五奖：单注奖金固定为10000元；<br />
            任五中四奖：单注奖金固定为150元；<br />
            任五中三奖：单注奖金固定为10元；<br />
            任六奖：单注奖金固定为6500元；<br />
            任七奖：单注奖金固定为1800元；<br />
            任八奖：单注奖金固定为680 元；<br />
            任九奖：单注奖金固定为300元；<br />
            任十奖：单注奖金固定为150元；<br />
            <br />
            第十四条 “群英会”设置奖池和调节基金。奖池资金由当期返奖奖金与实际中出奖金的差额组成。当期实际中出奖金小于当期计提返奖奖金时，余额进入奖池；当期实际中出奖金超过当期计提返奖奖金时，差额由奖池资金补足。当奖池资金总额不足时，由调节基金补足，调节基金不足时，用发行经费垫支。调节基金包括按销售总额1%
                    提取部分、弃奖奖金、逾期未退票的票款。调节基金用于支付不可预见的奖金支出风险，以及设立特别奖。省中心动用调节基金设立特别奖，需报省财政厅审核批准。
        </p>
        <h3>第四章 开 奖</h3>
        <p>
            第十五条 “群英会”采用专用电子开奖设备开奖，每期开出一组5个号码，并按照开出先后顺序，以第一位到第五位排列作为当期中奖号码。<br />
            <br />
            第十六条 “群英会”每隔15分钟开奖一期，开奖号码通过与数据中心连接的视频设备显示。<br />
            <br />
            第十七条 每期开奖统计数据以当期山东省福利彩票发行中心数据中心收到的销售有效数据为准。<br />
            <br />
            第十八条 每期开奖后，将当期开奖公告通过投注站终端机及时向社会公布。
        </p>
        <h3>第五章 中 奖</h3>
        <p>
            第十九条 “群英会”根据投注方式、投注号码与开奖号码相符情况，确定相应中奖资格：<br />
            <br />
            (一) 顺选奖<br />
            顺一奖：顺一投注的一位号码与当期开出的第一个中奖号码相同即中奖；<br />
            顺二奖：顺二投注的两位号码与当期开出的前两个中奖号码及其顺序相同即中奖；<br />
            顺三奖：顺三投注的三位号码与当期开出的前三个中奖号码及其顺序相同即中奖。<br />
            (二) 围选奖<br />
            围一奖：围一投注的一个号码与当期开出的第一个中奖号码相同即中奖；<br />
            围二奖：围二投注的两个号码与当期开出的前两个中奖号码相符（顺序不限）即中奖；<br />
            围三奖：围三投注的三个号码与当期开出的前三个中奖号码相符（顺序不限）即中奖；<br />
            围四奖：围四投注的四个号码与当期开出的前四个中奖号码相符（顺序不限）即中奖。<br />
            (三) 任选奖<br />
            任一奖：任一投注的一个号码与当期开出的五个中奖号码中的任意一个相符即中奖；<br />
            任二奖：任二投注的两个号码与当期开出的五个中奖号码中的任意两个相符即中奖；<br />
            任三中三奖：任三投注的三个号码与当期开出的五个中奖号码中的任意三个相符即中奖；<br />
            任三中二奖：任三投注的三个号码中的任意两个号码与当期开出的五个中奖号码中的任意两个相符即中奖；<br />
            任四中四奖：任四投注的四个号码与当期开出的五个中奖号码中的任意四个相符即中奖；<br />
            任四中三奖：任四投注的四个号码中的任意三个号码与当期开出的五个中奖号码中的任意三个相符即中奖；<br />
            任五中五奖：任五投注的五个号码与当期开出的五个中奖号码相符即中奖；<br />
            任五中四奖：任五投注的五个号码中的任意四个号码与当期开出的五个中奖号码中的任意四个相符即中奖；<br />
            任五中三奖：任五投注的五个号码中的任意三个号码与当期开出的五个中奖号码中的任意三个相符即中奖；<br />
            任六奖：任六投注六个号码中的任意五个与当期开出的五个中奖号码相符即中奖；<br />
            任七奖：任七投注七个号码中的任意五个与当期开出的五个中奖号码相符即中奖；<br />
            任八奖：任八投注八个号码中的任意五个与当期开出的五个中奖号码相符即中奖；<br />
            任九奖：任九投注九个号码中的任意五个与当期开出的五个中奖号码相符即中奖；<br />
            任十奖：任十投注十个号码中的任意五个与当期开出的五个中奖号码相符即中奖。
        </p>
        <h3>第六章 兑 奖</h3>
        <p>
            第二十条 “群英会”兑奖当期有效。每期开奖次日起30天（含30天）为兑奖有效期，逾期未兑奖者视为弃奖，弃奖奖金进入调节基金。<br />
            <br />
            第二十一条 中奖彩票是唯一兑奖凭证。中奖彩票因玷污、损坏等原因而不能正确识别的，不能兑奖。<br />
            <br />
            第二十二条 单张彩票中奖金额在5000元以下（含5000元）的中奖者，可在投注站兑奖；单张彩票中奖金额在5000元以上的中奖者，须持中奖彩票和本人有效身份证件，到购票所在市福利彩票销售管理中心兑奖；单张彩票中奖金额在50万元以上（含50万元）的中奖者，须持中奖彩票和本人有效身份证件，到省福利彩票发行中心兑奖。<br />
            <br />
            第二十三条 兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予以配合。<br />
            <br />
            第二十四条 凡伪造、涂改中奖彩票冒领奖金者，送交司法机关追究法律责任。
        </p>
        <h3>第七章 附 则</h3>
        <p>
            第二十五条 本细则解释权属山东省福利彩票发行中心。<br />
            <br />
            第二十六条 本细则自发布之日起施行。
        </p>
    </div>
</div>
</div>
</div>
<div class="clearfix"></div>