@{
    var Title = "账户安全";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/staticHtml/help/index.html">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;账户安全</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "account", name = "AccountSecurity" });}
<div class="help_r">
         

       <div class="list_box">
            	<div class="h_pub_t">
                	<b class="t_l"></b>
                    <div class="t_m"><h2>账户安全</h2></div>
                    <b class="t_r"></b>
                </div>
                <div class="h_pub_m">
                	<ul>
                    
                            <li><a href="/staticHtml/help/myAccount/safety.html" id="link151">如何确保账户资金安全？</a></li>		
                        	<li><a href="/staticHtml/help/myAccount/bindingPhone.html" id="link151">如何绑定手机？</a></li>		
                            <li><a href="/staticHtml/help/myAccount/astrict.html" id="link151">未成年人购彩限制的说明</a></li>
                            <li><a href="/staticHtml/help/myAccount/Email.html" id="link151">邮箱未收到投注信息的邮件？</a></li>
                            @*<li><a href="/help/notification" id="link151">手机收不到开奖通知？</a></li>*@
                            <li><a href="/staticHtml/help/myAccount/NotbindingPhone.html" id="link151">如何修改及取消绑定的手机号码？</a></li>		
                            <li><a href="/staticHtml/help/myAccount/bindingBank.html" id="link151">如何修改已绑定的银行卡（未绑定手机）？</a></li>
                            <li><a href="/staticHtml/help/myAccount/bindingBankNotPhone.html" id="link151">如何修改已绑定的银行卡（有绑定手机）？</a></li>
                            @*<li><a href="/help/personalData" id="link151">如何修改个人基本资料？</a></li>*@
                            	
				            </ul>
                </div>
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






