@{
    var Title = "成年人购彩限制的说明？";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/staticHtml/help/index.html">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;成年人购彩限制的说明？</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "account", name = "AccountSecurity" });}
<div class="help_r">
         
         <div class="det_box">
            	<h2>未成年人购彩限制的说明</h2>
                <div class="det_c"><p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">根据国家《彩票管理条例》规定，任何组织和个人禁止向未成年人销售彩票。</span></p>
<p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">对于实名认证结果显示未满</span><span lang="EN-US"><span style="font-family:Calibri;"><span style="color:red;">18</span></span></span><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">周岁的用户，网站将暂时限制其充值和购彩，除此之外的其他操作不受影响。</span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US"><span style="mso-spacerun:yes;"><span style="font-family:Calibri;">&nbsp;&nbsp;&nbsp; </span></span></span></p>
<p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">·正在进行中的已出票方案，将按照原规则进行兑奖、派奖；</span></p>
<p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">·未派送完的红包将正常派送；</span></p>
<p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">·如方案撤单，购彩金将退回账户；</span></p>
<p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">·追号方案、自动跟单、订制服务等与购彩相关服务也将被终止；</span></p>
<p class="MsoNormal" style="text-indent:21pt;margin:0cm 0cm 0pt;mso-char-indent-count:2.0;"><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">·账户中的资金可以正常提款。</span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US"><!--?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /--><o:p><span style="font-family:Calibri;">&nbsp;</span></o:p></span></p>
<p class="MsoNormal" style="margin:0cm 0cm 0pt;"><span lang="EN-US"><span style="mso-spacerun:yes;"><span style="font-family:Calibri;">&nbsp;&nbsp;&nbsp; </span></span></span><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">如果您未满</span><span lang="EN-US"><span style="font-family:Calibri;"><span style="color:red;">18</span></span></span><span style="font-family:宋体;mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:宋体;mso-fareast-theme-font:minor-fareast;mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;">周岁，请自觉遵守法规规定，务必不要购买彩票。</span></p>                </div>
                
            @*    <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






