@{
    ViewBag.Title = "关注微信";
    Layout = "../Shared/_HuoDong.cshtml";
}

<div class="Wechat_div">
    <div>
        <div class="Wechat_div_01"></div>
        <div class="Wechat_div_02"></div>
        <div class="Wechat_div_03"></div>
        <div class="Wechat_div_04"></div>
    </div>
    <div class="Wechat_img_div">
        <div class="Wechat_img_01"></div>
        <div class="Wechat_img_02">
            <p class="p_01">注册账号</p>
            <p class="p_02">拥有 @SiteString.getHZSiteName(Request)<br />注册账号</p>
        </div>
        <div class="Wechat_img_03">
            <p class="p_01">认证</p>
            <p class="p_02">完成实名认证<br />手机认证</p>
        </div>
        <div class="Wechat_img_04">
            <p class="p_01">机遇</p>
            <p class="p_02">每人<br />限得一次机会</p>
        </div>
        <div class="Wechat_img_05"></div>
    </div>
</div>
