<div class="footer">
    <div class="" style="width: 100%;">
        <center>
            <div class="foot_kuai">
            <a target="_blank" href="http://61.144.227.239:9003/webrecord/form_query.jsp" rel="nofollow"
                class="securityA">公共信息网络安全</a> <a target="_blank" href="http://www.szga.gov.cn/"
                    rel="nofollow" class="securityB">广东深圳网络警察</a> <a target="_blank" rel="nofollow"
                        class="securityC" href="http://www.szcredit.com.cn/">经营性网站备案信息</a> <a target="_blank" href="http://net.china.com.cn/index.htm"
                            rel="nofollow" class="securityD">不良信息举报中心</a> <a target="_blank" href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=1335059637" rel="nofollow"
                                class="securityE">网信认证</a> <a target="_blank" href="http://www.lottery.gov.cn/"
                                    rel="nofollow" class="securityF">网上交易保障中心</a> <a target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=e16032844030062899dqob000000&ct=df&a=1&pa=0.04200309986595174"
                                        rel="nofollow" class="securityG">可信网站身份验证</a> <a logo_type="realname" logo_size="124x47"
                                            href="http://si.trustutn.org/info?sn=775160328021074163740&certType=1" target="_blank"
                                            key="521c8ed724306332d312c42a" class="securityH">
            </a>
              <div class="clear"></div>
        </div>
        </center>
        <div class="huodong_copyright">
            © 2007-@DateTime.Now.Year <a href="@SiteString.root(Request)" title="@SiteString.getHZSiteName(Request)">
                @SiteString.getHZSiteUrl(Request)</a> All Rights Reserved <em>|</em> ICP备案：<a href="javascript:;" onclick="window.open('http://www.miibeian.gov.cn/')">@SiteString.icp</a>
            <em>|</em> 免费客服热线：@SiteString.tel (09:00-24:00)
            <br />
            <b>郑重提示：</b>网上买彩票需理性，请选择诚信的彩票代购网站，@SiteString.getHZSiteName(Request)不向未满18周岁的青少年出售彩票及提供彩票代购服务<br />
            <span>(使用IE8或谷歌浏览器浏览效果更佳)</span> <span class="f-link"><a href="/staticHtml/help/about/abtus.html" target="_blank">关于我们</a>|<a href="/statichtml/register.html" target="_blank">用户注册</a>|<a
                    href="/staticHtml/help/about/websiteMap.html" target="_blank" >网站地图</a>|<a href="/staticHtml/help/about/links1.html" target="_blank"
                        >友情链接</a> </span>
        </div>
    </div>
</div>
