@{
    ViewBag.Title = "活动专题";
    Layout = "/Views/Shared/_HuoDong.cshtml";
}
<div class="avtionbg">
    <span class="t_logo"></span>
    <div class="avtion_box">
        <div class="rebate">
        <span class="bg_ima sz1"></span>
            <ul class="ul_1">
                <li>新用户注册</li>
                <li>立即<i class="orange" >赠送5元红包</i></li>
                <li class="font_2 li_last">（红包使用范围不限，使用比例以投注页实际显示的最大</li>
                <li class="font_2 li_last">额为准！）</li>
            </ul>
        </div>
        <div class="prize">
         <span class="bg_ima sz2"></span>
            <ul>
                <li>手机号直接注册立即<i class="orange">赠送5元红包</i></li>
                @*<li class="blue font_2 li_last">完善资料后再赠送5元现金。</li>*@
            </ul>
        </div>
         <div class="crazy">
         <span class="bg_ima sz3"></span>
            <ul>
                <li>竞彩篮球中奖用户<i class="orange">一律加奖12%</i></li>
                <li class="font_2 li_last blue">（单关固定加奖3%）</li>
            </ul>
        </div>
        <div class="thailand">
         <span class="bg_ima sz4"></span>
            <ul>
                <li>充值方式不限：</li>
                <li>支付宝、网银、环讯充值不管<i class="orange">新老用户</i></li>
                <li class="blue font_2 li_last t2_center">每次充值100元即赠送5元红包，以此类推，多充多送！</li>
                <li class="blue font_2 t2_center">每月最多领取1000元红包！</li>
            </ul>
        </div>
        <div class="register">
         <span class="bg_ima sz5"></span>
            <ul>
                <li>回馈彩民朋友，最大让利促销！竞彩足球</li>
                <li>疯狂加奖，<i class="orange">加奖无上限，高达10%加奖!</i></li>
                <li class="font_2 li_last t2_center">周一至周日比赛 加奖10%（任意多串过关方式）</li>
                <li class="font_2 t2_center">周一至周日比赛 加奖5.0%（单关固定）</li>
            </ul>
        </div>
        <div class="nomoney">
         <span class="bg_ima sz6"></span>
            <ul>
                <li class="t_center">北单中奖用户</li>
                <li class="orange t_center">加奖15%！</li>
            </ul>
        </div>
        <div class="million">
         <span class="bg_ima sz7"></span>
            <ul>
                <li class="t_center">胜负彩中奖用户</li>
                <li class="t_center">一律再<i class="orange">加奖15%！</i></li>
                <li class="font_2  li_last t1_center">(14场胜负 胜负任9)</li>
                <li class="font_2 t1_center">(6场半全 4场进球)</li>
            </ul>
        </div>
        <div class="phone">
         <span class="bg_ima sz8"></span>
            <ul>
                <li>周一至周日比赛<i class="orange">加奖10.0%（任意玩法）</i></li>
                <li class="font_2 li_last">回馈彩民朋友，最大让利促销！竞彩足球疯狂加奖活动，</li>
                <li class="font_2 t2_center">加奖无上限，高达15.0%加奖！</li>
            </ul>
        </div>
        <div class="phone1">
         <span class="bg_ima sz9"></span>
         <ul>
                <li>重磅加奖，零利润<i class="orange">疯狂促销！</i></li>
                <li>重庆时时彩<i class="orange">加奖80%！</i></li>
                <li class="font_2 li_last t1_center">（组六加奖50%）！！江西十一选五加奖35%！</li>
            </ul>
        </div>
    </div>
</div>
