<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--日志记录接口-->
    <add key="LogWriter" value="Common.Log.OperateLogWriter,Common" />
    <!--Redis连接字符串-->
    <!--<add key="RedisConnect" value="115.231.153.35,password=jiang_redis123" />
    <add key="RedisHost" value="115.231.153.35"/>
    <add key="RedisPost" value="6379"/>
    <add key="RedisPassword" value="jiang_redis123"/>-->
    <add key="RedisConnect" value="192.168.0.124,password=123456" />
    <add key="RedisHost" value="192.168.0.124" />
    <add key="RedisPost" value="6379" />
    <add key="RedisPassword" value="123456" />

    <!-- WCF服务 -->
    <!--<add key="WcfClientUrl.GameBiz.Core" value="http://115.231.153.35:7882/Wcf_GameBiz_Core.svc" />
    <add key="WcfClientUrl.GameBiz.Fund" value="http://115.231.153.35:7882/Wcf_GameBiz_Fund.svc" />
    <add key="WcfClientUrl.GameBiz.Issuse" value="http://115.231.153.35:7882/Wcf_GameBiz_Issuse.svc" />
    <add key="WcfClientUrl.External" value="http://115.231.153.35:7882/Wcf_External.svc" />
    <add key="WcfClientUrl.Activity" value="http://115.231.153.35:7882/Wcf_Activity.svc" />-->

    <add key="WcfClientUrl.GameBiz.Core" value="http://192.168.0.124:7881/Wcf_GameBiz_Core.svc" />
    <add key="WcfClientUrl.GameBiz.Fund" value="http://192.168.0.124:7881/Wcf_GameBiz_Fund.svc" />
    <add key="WcfClientUrl.GameBiz.Issuse" value="http://192.168.0.124:7881/Wcf_GameBiz_Issuse.svc" />
    <add key="WcfClientUrl.Activity" value="http://192.168.0.124:7881/Wcf_Activity.svc" />
    <add key="WcfClientUrl.External" value="http://192.168.0.124:7881/Wcf_External.svc" />


    <!--生成资金明细缓存时间-->
    <add key="BuildFundDetailTime" value="03:00" />
    <!--资金明细根目录-->
    <add key="FundDetailCacheBasePath" value="F:\Trunk\site.wcf.core\CacheData\FundDetail" />

    <!--普通投注拆票间隔时间-->
    <add key="TimeSpan_SplitTicket" value="2000" />
    <!--单式拆票间隔时间-->
    <add key="TimeSpan_SplitTicket_Single" value="2000" />
    <!--追号订单拆票间隔-->
    <add key="TimeSpan_ChaseOrderSplitTicket" value="2000" />
    <!--拆票最大执行条数-->
    <add key="MaxSplitTicketCount" value="500" />

    <!--数字彩派奖每次执行条数-->
    <add key="PrizePageSize_SZC" value="500" />
    <!--数字彩派奖每次执行最大条数-->
    <add key="PrizeDoMaxCount_SZC" value="1000" />
    <!--数字彩派奖间隔时间-->
    <add key="TimeSpan_Prize_SZC" value="2000" />

    <!--传统足球派奖每次执行条数-->
    <add key="PrizePageSize_CTZQ" value="500" />
    <add key="PrizeDoMaxCount_CTZQ" value="100" />
    <!--传统足球派奖间隔时间-->
    <add key="TimeSpan_Prize_CTZQ" value="60000" />

    <!--北京单场派奖每次执行条数-->
    <add key="PrizePageSize_BJDC" value="500" />
    <add key="PrizeDoMaxCount_BJDC" value="1000" />
    <!--北京单场派奖间隔时间-->
    <add key="TimeSpan_Prize_BJDC" value="60000" />

    <!--竞彩足球派奖每次执行条数-->
    <add key="PrizePageSize_JCZQ" value="500" />
    <add key="PrizeDoMaxCount_JCZQ" value="1000" />
    <!--竞彩足球派奖间隔时间-->
    <add key="TimeSpan_Prize_JCZQ" value="60000" />

    <!--竞彩篮球派奖每次执行条数-->
    <add key="PrizePageSize_JCLQ" value="5000" />
    <add key="PrizeDoMaxCount_JCLQ" value="10000" />
    <!--竞彩篮球派奖间隔时间-->
    <add key="TimeSpan_Prize_JCLQ" value="60000" />

    <!--欧洲杯派奖每次执行条数-->
    <add key="PrizePageSize_OZB" value="500" />
    <add key="PrizeDoMaxCount_OZB" value="1000" />
    <!--欧洲杯派奖间隔时间-->
    <add key="TimeSpan_Prize_OZB" value="60000" />

    <!--世界杯派奖每次执行条数-->
    <add key="PrizePageSize_SJB" value="500" />
    <add key="PrizeDoMaxCount_SJB" value="1000" />
    <!--世界杯派奖间隔时间-->
    <add key="TimeSpan_Prize_SJB" value="60000" />


    <!--加载数字彩中奖规则-->
    <add key="TimeSpan_Load_SZCBonusRule" value="1800000" />
    <!--加载数字彩开奖号-->
    <add key="TimeSpan_Load_SZCWinNumber" value="1800000" />
    <!--加载数字彩奖池-->
    <add key="TimeSpan_Load_SZCBonusPool" value="300000" />
    <!--加载传统足球奖池-->
    <add key="TimeSpan_Load_CTZQBonusPool" value="300000" />
    <!--加载北京单场比赛结果-->
    <add key="TimeSpan_Load_BJDCMatchResult" value="300000" />
    <!--加载竞彩足球比赛结果-->
    <add key="TimeSpan_Load_JCZQMatchResult" value="300000" />
    <!--加载竞彩篮球比赛结果-->
    <add key="TimeSpan_Load_JCLQMatchResult" value="300000" />
    <!--加载未来奖期-->
    <add key="TimeSpan_Load_NextIssuseList" value="600000" />
    <!--加载红包使用规则配置-->
    <add key="TimeSpan_Load_RedBagUseConfig" value="600000" />
    <!--加载系统配置项-->
    <add key="TimeSpan_Load_CoreConfig" value="600000" />

    <!--投注队列最大个数-->
    <add key="Max_BetListCount" value="6" />

    <!--派奖队列最大个数-->
    <add key="Max_PrizeListCount" value="11" />

    <!--早上自动拆票最大队列-->
    <add key="WaitingOrderListCount" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>