<h1 class="playprompt">
    <em>玩法提示：</em>
    由至少6个红球和1个篮球组成，单注奖金<b class="fred">500</b>万元。 
    <a href="javascript:" class="szc_notice ">
        <strong class="sl">示例</strong> 
        <span>选号：01 02 03 04 05 06+01<br />
            开奖：<strong class="red">
                    <b class="slnum">01</b> 
                    <b class="slnum">02</b> 
                    <b class="slnum">03</b> 
                    <b class="slnum">04</b> <b class="slnum">05</b> <b class="slnum">06</b>+<b
                                                                                                                                                                class="blnum">01</b>
                </strong><br />奖金：5000000元。</span> 
    </a>
</h1>
<!--  红球选择  -->
<div class="red_balls redrow">
    <div class="ssq_red">
        <strong>红球</strong> &nbsp;请选择6-20个红球
    </div>
    <div class="szc_num">
        <div class="szc_xuanhao">
            选号</div>
        @*<div class="szc_yilou">
            <cite title="指该号码自上次开出之后到当前期没有出现的次数" val="yl">遗漏</cite>
            <em>
                <a title="指该号码自上次开出之后到当前期没有出现的次数" val="lr" href="#">冷热</b>
                <a title="隐藏" val="hd" href="#">隐藏</b>
            </em>
        </div>*@
    </div>
    <ul class="clearfix ball">
        <li class="numbers"><b>01</b><span></span></li>
        <li class="numbers"><b>02</b><span></span></li>
        <li class="numbers"><b>03</b><span></span></li>
        <li class="numbers"><b>04</b><span></span></li>
        <li class="numbers"><b>05</b><span></span></li>
        <li class="numbers"><b>06</b><span></span></li>
        <li class="numbers"><b>07</b><span></span></li>
        <li class="numbers"><b>08</b><span></span></li>
        <li class="numbers"><b>09</b><span></span></li>
        <li class="numbers"><b>10</b><span></span></li>
        <li class="numbers"><b>11</b><span></span></li>
        <li class="numbers"><b>12</b><span></span></li>
        <li class="numbers"><b>13</b><span></span></li>
        <li class="numbers"><b>14</b><span></span></li>
        <li class="numbers"><b>15</b><span></span></li>
        <li class="numbers"><b>16</b><span></span></li>
        <li class="numbers"><b>17</b><span></span></li>
        <li class="numbers"><b>18</b><span></span></li>
        <li class="numbers"><b>19</b><span></span></li>
        <li class="numbers"><b>20</b><span></span></li>
        <li class="numbers"><b>21</b><span>6</span></li>
        <li class="numbers"><b>22</b><span></span></li>
        <li class="numbers"><b>23</b><span></span></li>
        <li class="numbers"><b>24</b><span></span></li>
        <li class="numbers"><b>25</b><span></span></li>
        <li class="numbers"><b>26</b><span></span></li>
        <li class="numbers"><b>27</b><span></span></li>
        <li class="numbers"><b>28</b><span></span></li>
        <li class="numbers"><b>29</b><span></span></li>
        <li class="numbers"><b>30</b><span></span></li>
        <li class="numbers"><b>31</b><span></span></li>
        <li class="numbers"><b>32</b><span></span></li>
        <li class="numbers"><b>33</b><span></span></li>
    </ul>
    <p class="random_selection">
        <select id="rand_sel_red">
            <option selected="selected" value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
        </select>
        <a t="1" title="连续点击将获取不同的红球" href="javascript:ballBox.rand.red.rand();" class="random_btn red_random_btn">机选红球</a>
        <a title="清空所有已选红球" t="1" href="javascript:ballBox.rand.red.clean();" class="clearbtn">清空</a>
    </p>
</div>
<div class="blue_balls bluerow">
    <div class="ssq_red ssq_blue">
        <strong>蓝球</strong> &nbsp;请选择1-16个蓝球</div>
    <ul class="clearfix ball">
        <li class="numbers"><b>01</b> <span>26</span> </li>
        <li class="numbers"><b>02</b> <span>3</span> </li>
        <li class="numbers"><b>03</b> <span>46</span> </li>
        <li class="numbers"><b>04</b> <span>27</span> </li>
        <li class="numbers"><b>05</b> <span>54</span> </li>
        <li class="numbers"><b>06</b> <span>7</span> </li>
        <li class="numbers"><b>07</b> <span>2</span> </li>
        <li class="numbers"><b>08</b> <span>21</span> </li>
        <li class="numbers"><b>09</b> <span>20</span> </li>
        <li class="numbers"><b>10</b> <span>1</span> </li>
        <li class="numbers"><b>11</b> <span>0</span> </li>
        <li class="numbers"><b>12</b> <span>8</span> </li>
        <li class="numbers"><b>13</b> <span>23</span> </li>
        <li class="numbers"><b>14</b> <span>11</span> </li>
        <li class="numbers"><b>15</b> <span>35</span> </li>
        <li class="numbers"><b>16</b> <span>10</span> </li>
    </ul>
    <p class="random_selection">
        <select id="rand_sel_blue">
            <option selected="selected" value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
        <a t="2" title="连续点击可获取不同的蓝球" href="javascript:ballBox.rand.blue.rand();" class="random_btn blue_random_btn">机选蓝球</a> 
        <a title="清空所有已选蓝球" t="2" href="javascript:ballBox.rand.blue.clean();" class="clearbtn">清空</a>
    </p>
</div>

<!--<div class="game-ballsmain">
        <span class="gray"><b>标准选号：</b>至少选择6个红球和一个篮球，最高奖金<b class="red">1000万</b>元</span>
        <div>
            <div class="ballrow" style="float: left; margin-top: 38px;margin-right:10px;">
                <ul class="balltitle balltitle1">
                    <li class="desc1">选号</li>
                    @*<li hottype="Lose" class="desc1 gray">遗漏 </li>*@
                </ul>
                <div class="clear">
                </div>
            </div>
            <fieldset class="redrow">
                <legend align="center"><b>红球区</b> <em>至少选择6个红球</em></legend>
                <div class="ballrow">
                    <ul class="ball">
                        <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="ballrow">
                    <ul class="ball">
                        <li class="numbers"><b>12</b><b>13</b><b>14</b><b>15</b><b>16</b><b>17</b><b>18</b><b>19</b><b>20</b><b>21</b><b>22</b></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="ballrow">
                    <ul class="ball">
                        <li class="numbers"><b>23</b><b>24</b><b>25</b><b>26</b><b>27</b><b>28</b><b>29</b><b>30</b><b>31</b><b>32</b><b>33</b></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="ballrow">
                    <select id="rand_sel_red">
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                    </select>
                    <input type="button" style="color: #940900; cursor: pointer;" value="机选红球" onclick="ballBox.rand.red.rand();" />
                    <input type="button" value="清" style="cursor: pointer;" onclick="ballBox.rand.red.clean();" />
                </div>
            </fieldset>
            <fieldset class="bluerow">
                <legend align="center"><b>蓝球区</b> <em>至少选择1个蓝球</em></legend>
                <div class="ballrow">
                    <ul class="ball">
                        <li class="numbers"><b>01</b><b>02</b><b>03</b><b>04</b><b>05</b><b>06</b></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="ballrow">
                    <ul class="ball">
                        <li class="numbers"><b>07</b><b>08</b><b>09</b><b>10</b><b>11</b><b>12</b></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="ballrow">
                    <ul class="ball">
                        <li class="numbers"><b>13</b><b>14</b><b>15</b><b>16</b></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="ballrow">
                    <select id="rand_sel_blue">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                    </select>
                    <input type="button" style="color: #185F94; cursor: pointer;" value="机选蓝球" onclick="ballBox.rand.blue.rand();"/>
                    <input type="button" value="清" style="cursor: pointer;" onclick="ballBox.rand.blue.clean();"/>
                </div>
            </fieldset>
            <div class="clear">
            </div>
        </div>
    </div>
    -->
