<div class="game-ballsmain">
    @*<span class="gray"><b>手工录入：</b>至少选择6个红球和一个篮球，最高奖金<b class="red">1000万</b>元</span>*@
    <h1 class="playprompt"><em class="">手工录入：</em>至少选择6个红球和一个篮球，最高奖金<b class="red">1000万</b>元</h1>
    @GameHelper.ImportNumberArea("01,02,03,04,05,06|07#01.02.03.04.05.06|07#01+02+03+04+05+06|07#010203040506|07")
</div>