@{
    ViewBag.Title = "天伦之乐";
    Layout = "../Shared/_HuoDong.cshtml";
}
<style>
    #body
    {
        width: auto;
    }
</style>
<div id="family">
    <div class="family_img top_logo">
    </div>
    <div>
        <div class="family_left">
            <div class="family_box donation_box top10">
                <span class="family_img icon donation"></span>
                <div class="family_title">
                    <span>捐&nbsp;款&nbsp;方&nbsp;式</span><a>更多</a></div>
                <div class="donation_way top20">
                    <ul>
                        <li class="family_img"><a href="http://www.tianlunzhilefund.org/about2.asp?id=309">汇&nbsp;款</a></li>
                        <li class="family_img top10"><a href="http://www.tianlunzhilefund.org/about2.asp?id=308">
                            网&nbsp;上</a></li>
                        <li class="family_img top10"><a href="http://www.tianlunzhilefund.org/about2.asp?id=307">
                            基&nbsp;金&nbsp;会&nbsp;会&nbsp;场</a></li>
                    </ul>
                </div>
            </div>
            <div class="f_home f_home1 top5">
            </div>
            <div class="family_box love_box top5">
                <span class="family_img icon love"></span>
                <div class="family_title">
                    <span>爱心捐款天使名单</span><a>更多</a></div>
                <div class="donation_way top30">
                    <p>
                        爱心天使捐赠名单</p>
                    <ul class="top10">
                        <li>北京益神堂生物科技有限公司 300万元</li>
                        <li>江南影视艺术职业学院 10万元</li>
                        <li>北京益生堂生物科技有限公司</li>
                        <li>广州佛伦斯男装 10万元</li>
                        <li>湖北孝心行信息科技有限公司捐赠50部"贴心宝"服务终端</li>
                    </ul>
                </div>
            </div>
            <div class="family_box relation_box top5">
                <span class="family_img icon relation"></span>
                <div class="family_title">
                    联系方式</div>
                <div class="donation_way top20">
                    <p>
                        版权所有：天伦之乐专项基金</p>
                    <p class="top3">
                        地址：朝阳区东大桥斜街4号楼二层</p>
                    <p class="top3">
                        电话：0 1 0 - 6 5 3 0 8 0 4 5</p>
                </div>
            </div>
        </div>
        <div class="family_right">
            <div class="family_box fund_box top10">
                <span class="family_img icon fund"></span>
                <div class="family_title">
                    <span>天伦之乐专项基金业</span><em>天伦之乐基金隶属于中华人民共和国民政部旗下基金</em></div>
                <div class="fund_way top25">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天伦之乐专项基金是由中国社会福利基金会设立的致力于养老公益事业的公募基金，从社会公益的角度推动中国老年事业的发展</p>
                </div>
            </div>
            <div class="family_box tenet_box top5">
                <span class="family_img icon tenet"></span>
                <div class="family_title">
                    <span>天伦之乐基金的宗旨</span><a href="http://www.tianlunzhilefund.org" target="_blank">基金网站：http://www.tianlunzhilefund.org</a></div>
                <div class="fund_way top25">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;弘扬中华民族敬老、爱老、助老的传统美德，协助政府积极推进中国医疗卫生和老年养生等各项事业的发展，争取海内外关心中国老龄事业的团体、人士的支持和帮助，加强同国际老龄组织、友好机构及人士的联系，促进相互间的合作与交流。为适应我国人口老龄化快速发展的新形势，进一步落实“党政主导、社会参与、全民关怀”的老龄工作方针，推进养生、安居服务组织和团体的一体化、规范化、科学化、社会化、产业化，促进老年养生安居事业的快速发展。实现“老有所养、病有所医、失有所补、弱有所助、安居乐业”的战略目标。</p>
                    <div class="tenet_div">
                        <span>实现</span> <cite class="family_img"></cite><span class="family_img colorspan imgorange">
                            老有所养</span> <span class="family_img colorspan imgred">病有所医</span> <span class="family_img colorspan imgblue">
                                失有所补</span> <span class="family_img colorspan imglime">弱有所助</span> <span class="family_img colorspan imggreen">
                                    安居乐业</span> <cite class="family_img"></cite><span>战略目标</span>
                    </div>
                    <p class="pp">
                        天伦之乐基金，致力于为中国老龄事业做出一点贡献为中国所有的老年人享有天伦之乐奉献出一份爱心</p>
                </div>
            </div>
            <div class="family_box manage_box top5">
                <span class="family_img icon manage"></span>
                <div class="family_title">
                    基金管理委员会</div>
                <div class="manage_way top25">
                    <ul>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0007&id=336">
                            <span class="family_img manage_icon"></span>
                            <h2>
                                荣誉主任</h2>
                            <p>
                                刘光和 中国社会福利基金会会长</p>
                        </a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0007&id=386">
                            <span class="family_img manage_icon"></span>
                            <h2>
                                主 任</h2>
                            <p>
                                缪 力 中国社会福利基金会副理事长兼秘书长</p>
                        </a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0007&id=387">
                            <span class="family_img manage_icon"></span>
                            <h2>
                                执行主任</h2>
                            <p>
                                陈 军 中日韩经济发展协会副会长</p>
                        </a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0007&id=388">
                            <span class="family_img manage_icon"></span>
                            <h2>
                                副主任兼秘书长</h2>
                            <p>
                                张恒伟 中国社会福利基金会监事</p>
                        </a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0007&id=440">
                            <span class="family_img manage_icon"></span>
                            <h2>
                                执行秘书长</h2>
                            <p>
                                彭海仁 联合国世界健康组织公益联盟主席团主席</p>
                        </a></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="family_box leader_box">
                <span class="family_img icon leader"></span>
                <div class="family_title">
                    <span>领导致辞</span><a>更多</a></div>
                <div class="leader_way top25">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过改革开放三十年来的发展，我国人民生活水平和受教育程度有了极大的提高。但是由于地区发展的不平衡和其他原因，社会中还有一些特殊群体，如贫困家庭、孤残儿童、贫困高龄老人等，他们在日常生活、学习、成长和赡养方面还面临着许多依靠自身能力难以克服的困难。他们亟待社会各界的支持和帮助。</p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前，我国正面临严重的人口老龄化趋势，老龄化带来的各种社会问题日益凸显，如何妥善解决老龄人的健康和养老问题，已成为国家和全社会高度关注的焦点。</p>
                </div>
            </div>
            <div class="family_box notice_box">
                <span class="family_img icon notice"></span>
                <div class="family_title">
                    <span>最新公告</span><a>更多</a></div>
                <div class="notice_way top20">
                    <ul>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=431">
                            "感动生命，关爱父母"天伦之乐</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=430">
                            益神堂天伦之乐健康工程区域划分</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=429">
                            天伦之乐健康工程正式启动</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=428">
                            "感动生命，关爱父母"活动申请流程</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=403">
                            北京益神堂生物科技有限公司捐赠30..</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=408">
                            湖北孝心行信息科技有限公司捐赠50..</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=405">
                            广州佛伦斯男装捐助10万元</a></li>
                        <li><a target="_blank" href="http://www.tianlunzhilefund.org/newss.asp?CataID=A0005&id=404">
                            江南影视艺术职业学院捐赠10万元</a></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div>
        </div>
    </div>
</div>
<div class="family">
    @{Html.RenderAction("footer", "activity");}
</div>