<ul>
    <li class="li1"><span></span>&nbsp;合作账户登录的好处</li>
    <li  class="li2">
        <dl>
            <dt>登录简单</dt>
            <dd class="img">
            </dd>
            <dd class="c95">
                可直接使用合作账户直接登录</dd>
            <dd class="c95">
                可使用购彩用户名+登录密码登录</dd>
        </dl>
    </li>
    <li class="li2">
        <dl>
            <dt>隐私安全</dt>
            <dd class="img1">
            </dd>
            <dd class="c95">
                自行设置购彩用户名，保护购彩隐私。</dd>
            <dd class="c95">
                购彩使用实名认证，保护大奖安全。</dd>
        </dl>
    </li>
    <li class="li2">
        <dl>
            <dt>畅快使用</dt>
            <dd class="img2">
            </dd>
            <dd class="c95">
                票样展示彩票邮寄，安全无忧。</dd>
            <dd class="c95">
                购彩停售全国最晚，超乎想像。</dd>
            <dd class="c95">
                中奖提款最快2小时到账，至尊专享。</dd>
        </dl>
    </li>
</ul>
