@{
    var Title = "什么是限号？";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/staticHtml/help/index.html">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;什么是限号？</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "buylottery", name = "ForTheColor" });}
<div class="help_r">
         
         <div class="det_box">
            	<h2>什么是限号？</h2>
                <div class="det_c"><p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;text-indent:24pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span style="font-family:宋体;color:#333333;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-fareast-font-family:宋体;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;">若大多数彩民都集中选同一种彩果，国家彩票发行结构和彩民就会面临巨大风险。为把这种风险控制在一定范围内，部分采种的彩果实行限量销售。遇部分彩果销售注数超过安全线时，彩票销售系统就会禁止销售该彩果，这就是限号。目前网站销售彩种中有限号的彩种有：</span><span lang="EN-US" style="color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;"><span style="font-family:Calibri;">11</span></span><span style="font-family:宋体;color:#333333;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-fareast-font-family:宋体;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;">选</span><span lang="EN-US" style="color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;"><span style="font-family:Calibri;">5</span></span><span style="font-family:宋体;color:#333333;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-fareast-font-family:宋体;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;">、排列三、排列五、</span><span style="font-family:宋体;color:#333333;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-fareast-font-family:宋体;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;">竞彩篮球、竞彩足球。例如排列三玩法</span></p>
@*<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;text-indent:24pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span style="font-family:宋体;color:#333333;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-fareast-font-family:宋体;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;"><img width="771" height="448" border="0" src="h.jpg" alt="" style="width:654px;height:448px;"></span></p>
<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;text-indent:24pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span style="font-family:宋体;color:#333333;mso-ascii-font-family:Calibri;mso-hansi-font-family:Calibri;mso-fareast-font-family:宋体;mso-ascii-theme-font:minor-latin;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;"><img width="726" height="522" border="0" src="h.com/upimages/new/500/20130220160533_3518.jpg" alt="" style="width:652px;height:522px;"></span></p>*@
<p align="left" class="MsoNormal" style="text-align:left;line-height:18pt;text-indent:24pt;margin:11.25pt 0cm;mso-pagination:widow-orphan;"><span lang="EN-US" style="color:#333333;mso-bidi-font-size:10.5pt;mso-bidi-font-family:Tahoma;"><!--?xml:namespace prefix = o ns = "urn:schemas-microsoft-com:office:office" /--><o:p></o:p></span>&nbsp;</p>                </div>
                
               @* <div class="det_a feedback">
                <div>以上内容是否解决了您的问题呢？</div>
                              
                <div>
                <a id="btn_a_yes" class="btn"><span class="feedback_yes">是，已经解决。</span></a> <a class="btn" id="btn_a_no" href="javascript:void(0);"><span class="feedback_no">否，尚未解决。</span></a>
                    <div style="display:none;" class="feedback_form clearfix" id="feed_div">                  
                    <a id="fclose" class="feedback-close" href="javascript:void(0);">关闭</a>     
                    <span style="display:none;" id="feed_detail"> 
	                    <form method="post" name="feed_dtl" id="feed_dtlf">             
		                    <span class="fb-input"><input type="radio" value="1" name="nodtl"> 描述不清晰</span>
		                    <span class="fb-input"><input type="radio" value="2" name="nodtl"> 字太多，不想看</span>
		                    <span class="fb-input"><input type="radio" value="3" name="nodtl"> 太复杂，看不懂</span>
		                    <span class="fb-input"><input type="button" value="提交" name="fsbmt"></span>
		                </form>    
	                </span>
                    <div style="display:none;" class="feedback-suc l" id="feed_result">您的反馈信息已经提交，谢谢您的反馈。</div>
                    </div>
                </div>
                <script type="text/javascript">
                  
                </script>                                           
                </div>
                
                <div class="det_a">
                	<div class="det_a_l">相关问题：</div>
                    <div class="det_a_r">
                    	<ul>
                        	                    	</ul>    
                    </div>
                </div>*@
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






