@{
    var Title = "合买";
    ViewBag.Title = Title + " - 帮助中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.Keywords = "帮助中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@section css{
   @ViewHelpers.css("help.css")
} 
  <div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">玩彩网</a> > </li>
        <li><a href="/staticHtml/help/index.html">&nbsp;帮助中心</a> > </li>
        <li>&nbsp;合买</li>
    </ul>
</div>
<div class="clearfix">
    @{Html.RenderAction("left", "help", new { type = "buylottery", name = "ShoppingService" });}
<div class="help_r">
         

       <div class="list_box">
            	<div class="h_pub_t">
                	<b class="t_l"></b>
                    <div class="t_m"><h2>合买</h2></div>
                    <b class="t_r"></b>
                </div>
                <div class="h_pub_m">
                	<ul>
                    
                            <li><a href="/staticHtml/help/goucai/ShoppingService1.html" id="link151">合买奖金如何分配？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService2.html" id="link151">什么是合买？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService3.html" id="link151">什么是方案保底？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService4.html" id="link151">合买方案如何尽快满员？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService5.html" id="link151">合买提成？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService6.html" id="link151">什么是合买战绩？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService7.html" id="link151">竞技类彩票战绩规则</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService8.html" id="link151">数字类彩票战绩规则</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService9.html" id="link151">什么叫方案置顶？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService10.html" id="link151">方案置顶有哪些规则？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService11.html" id="link151">什么是清保？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService12.html" id="link151">什么是资金冻结</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService13.html" id="link151">什么是网站保底？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService14.html" id="link151">发起方案时没有设置方案保密，发起之后可以修改吗？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService15.html" id="link151">什么是方案保密？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService17.html" id="link151">什么叫方案上传？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService18.html" id="link151">单式上传支持哪些格式？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService19.html" id="link151">如何参与合买？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService20.html" id="link151">发起合买方案是否有相关限制？</a></li>
                            <li><a href="/staticHtml/help/goucai/ShoppingService21.html" id="link151">如何发起合买方案？</a></li>
				            </ul>
                </div>
            </div>


        </div>
         </div>
<div class="clearfix"></div>

 @ViewHelpers.js("help.js")






