@using app.lottery.site.Models;
@{

    Layout = "../Shared/_LayoutFoud.cshtml";
    ViewBag.Title = "返点提取";
    //CurrentUserInfo currentUser = ViewBag.CurrentUser;
}

<div class="center mt10">
    @{Html.RenderAction("menuFoud", "Member");}
     @{Html.RenderAction("toptipFoud", "Member");}
    <div class="new_buy_right">
       
        <div class="betorder_top clearfix">
            <ul>
                 <li ><a href="/member/integraldetail">返点明细</a></li>
                <li ><a href="/member/integralextract">返点提取</a></li>
                <li class="betorder_topSelected"><a href="/member/drawingsrecord">提款记录</a></li>
                <li><a href="/member/integralinto">返点转入</a></li>
                <li><a href="/member/integralintodetail">转入记录</a></li>
            </ul>
        </div>
          <div class="betorder_con clearfix" style="padding: 50px 0">
        @{
            if (ViewBag.IsSuccess)
            {        
            <div class="points-success">
                <i class="suc"></i>
                <div >
                    <h3>
                        提款申请提交成功</h3>
                    <p>
                        最迟到账：@DateTime.Now.AddDays(1).ToString("yyyy年MM月dd日")
                    </p>
                </div>
               
            </div>      
             <p style="padding-left: 396px;">
                    <a href="/member/drawingsrecordfoud" class="blue">查看提款记录</a>
                </p>
            }
            else
            {
            <div class="points-success">
                <i class="err"></i>
                <div >
                    <h3 style="color: #999">申请提款提交失败。</h3>
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div> 
                <p style="padding-left: 349px; color: #666">
                    您可能需要：
                   <a href="@(Request.UrlReferrer == null ? SiteString.root(Request) : Request.UrlReferrer.ToString())" onclick="history.go(-1);return false;" class="blue">返回上一页</a>
                        | <a href="/member/integralextract"  class="blue">继续提款</a>
                </p>       
            }
        }
        </div>
    </div>
</div>
<div class="clearfix">
</div>
