<div style="margin-top: 10px;">
    <div class="info_zl" style="color: #666;font-size: 14px">快速帮助</div>
    <div class="help_con">
        <div class="fl" style=" width: 600px;">
               <ul style="width: 415px; float: left" class="clearfix">
            <li> <a href="/help/payintroduce" class="help" target="_blank">@(SiteString.getHZSiteName(Request))怎么充值?</a></li>
            <li><a href="/help/AccountSecurity" class="help"  target="_blank">在网上购彩怎样保护自己的利益?</a></li>
            <li><a href="/help/drawing" class="help"  target="_blank">怎么充值和提款?</a></li>
            <li><a href="/help/password" class="help"  target="_blank">忘记了密码，该怎么办?</a></li>
        </ul>
        </div>
       
        <div style="border-left: 1px solid #e5e5e5;height: 60px;line-height: 65px;float: left;width: 390px;text-align: center;color: #666">
            特殊情况处理申请
           <a  href="javascript:void(0)" data="@SiteString.kefuUrl" class="link_kefu" title="点击联系在线客服"></a>
        </div>
        
        
    </div>
</div>