<div class="tipmenu">
    <ul>
        <li class="on"><a href="/member/safe" checklg="/member/safe" >账户安全</a></li>
        <li><a href="/member/accountdetail" checklg="/member/accountdetail">账户管理</a></li>
        <li><a href="/member/betorder" checklg="/member/betorder">投注管理</a></li>
        <li><a href="/member/innermail" checklg="/member/innermail">网站服务</a></li>
    </ul>
    <div class="clear">
    </div>
</div>