@using System.ServiceModel.Description
@using app.lottery.site.Models;
@{
    var user = ViewBag.User as app.lottery.site.Models.CurrentUserInfo;
    var requestInfo = ViewBag.MobileRequestInfo as External.Core.Authentication.UserMobileRequestInfo;
    Layout = null;
}

        <div class="info_tt">
            手机修改</div>
        <div class="xgmm_main">
            @{
             if (!user.IsAuthenticationMobile)
            {
                <div class="info_zl_ico">
                    <span class="member-safe member_safe_w safe_maggin"></span>
                    <span class="ml10" style=" color:#ff5c00">未设置手机号码</span>
                </div>
                <div class="info_wxts">
                    <div class="info_wxts_show">
                        <span><em style="color: Red">*</em>1.为保障您的账户安全，请绑定您的常用手机号码。</span> 
                        <span><em style="color: Red">*</em>2.当您忘记密码时，可以通过绑定手机找回密码。 </span>
                        <span><em style="color: Red">*</em>3.当您申请提款时，首先需要绑定手机号码。</span>
                    </div>
                </div>
                @UserHelper.AuthMobile_Submit(requestInfo)
            }
             else
             {
                <div class="info_zl_ico">
                    <span class="member-safe member_safe_y" style="margin-top: 15px; margin-left: 50px;*+margin-left: 50px;*+left:0px !important ;left:0px"></span>
                    <span class="ml10" style=" color:#8ecc33;">已设置手机号码</span>
                </div>
                 <div class="info_wxts">
                    <div class="info_wxts_show">
                        <span> 当前绑定手机：<labal style="color: #7CBC0E;">@SiteString.EncodeMobile(user.MobileInfo.Mobile)</labal></span>
                    </div>
                </div>
              
            }
            }
        </div>
<div class="clearfix">
</div>
