@{
    //var user = ViewBag.User as app.lottery.site.Models.CurrentUserInfo;
}
@UserHelper.js("/My97DatePicker/WdatePicker.js")
<div class="new_buy_top clearfix" style=" margin-top:-10px !important;">
    <div class="zh-center fl clearfix" id="PlaneAccount">
        <a href="/member/integraldetail" target="_blank">推广管理</a>
        <a href="/member/generalizeUser" class="on">推广合作</a>
    </div>
</div>


