@{
    ViewBag.Title = "修改密码 - 用户中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.keywords = "修改密码, 用户中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
}
@UserHelper.css("mycenter.css")
<div class="crumb">
    <ul>
        <li class="a">您当前的位置：</li>
        <li><a href="/">首页</a> > </li>
        <li>修改密码</li>
    </ul>
</div>
<div class="center mt10">
    <div class="new_buy_right">
        <div class="" style="padding: 50px 0px 50px 0px; margin-top:80px;">
            <div class="mt10 pwd-result">
                @{
                    if (ViewBag.IsSuccess)
                    {        
                    <script type="text/javascript">
                        user.logOut(false); //退出登录
                    </script>
                    
                    <div class="xgmm_success">
                    </div>
                    
                    <div class="xgsb_msg">
                        <div class="xgxz mt50">
                            <a href="javascript:void 0" checklg="/member/safe">安全中心</a> | <a href="javascript:void(0)"
                                id="reset_login">重新登录</a>
                        </div>
                    </div>   
                    }
                    else
                    {
                    <div class="xgmm_success xg_error">
                    </div>
                    <div class="xgsb_msg">
                        <div class="mt50" style="color: #ff3d00;">
                            错误提示：@ViewBag.Message</div>
                        <div class="xgxz mt10">
                            <a href="/member/safe">安全中心</a> | <a href="@(Request.UrlReferrer == null ? SiteString.root(Request) : Request.UrlReferrer.ToString())" onclick="history.go(-1);return false;">
                                继续修改</a></div>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<script type="text/javascript">
    $("#reset_login").live("click", function () {
        var g = 0, q = 400;

        user.isLogin(function (islogin) {
            if (!islogin) {
                if (!getVersionbylogin()) {
                    $("#loginLay").addClass("dialogAniCore dialogAnimate5");
                    var timer = setInterval(function () {
                        if (!$("#loginLay").hasClass("dialogAnimate5")) {
                            $("#loginLay").removeClass("dialogAniCore");
                            clearInterval(timer);
                        }
                        $("#loginLay").removeClass("dialogAnimate5");

                    }, 100);
                }
                loginDialog.Show();
                $("#userName").focus();
            }
        });
        return false;
    });
</script>
