@using app.lottery.site.Models;
@{
    ViewBag.Title = "修改密码 - 用户中心 - 体育彩票 | 福利彩票 | 中国体育彩票 - " + SiteString.getHZSiteName(Request);
    ViewBag.keywords = "修改密码, 用户中心, 体育彩票, 福利彩票, 中国体育彩票, " + SiteString.getHZSiteName(Request);
    var user = ViewBag.CurrentUser as CurrentUserInfo;
    Layout = null;
}
<div id="passwordmodify">
        <div class="info_tt">
            修改登录密码</div>
        <div class="xgmm_main">   
            @if (user.LoginInfo.LoginFrom == "LOCAL")
            {
               @*<form onsubmit="return checkForm_password();" action="/member/passwordexcute" method="post">*@
                    <ul class="userinfo_list">
                        <li><span class="sp120"><em style="color: Red">*</em>温馨建议：</span><span>建议使用字母和数字组合、混合大小写、特殊字符（如#）等提高密码强度。</span></li>
                        <li><span class="sp120"><em style="color: Red">*</em>旧密码：</span>
                        <input type="password" id="txt_oldpassword" class="login_input_1 reg_in_text"  maxlength="18" name="OldPassword" /></li>
                        <li class="user_reg_item">
                            <span class="sp120"><em style="color: Red">*</em>新密码：</span>
                            <input type="password"  id="txt_newpassword" class="login_input_1"  maxlength="18" name="NewPassword" />
                            <span id="txt_newpasswordTip" class="onShow"><b></b></span>
                        </li>
                        <li class="user_reg_item"><span class="sp120"><em style="color: Red">*</em>确认新密码：</span>
                            <input type="password" id="txt_newpassword_confirm" class="login_input_1" maxlength="18" />
                            <span id="txt_newpassword_confirmTip" class="onShow"><b></b></span>
                            </li>
                        <li style="margin-top: 22px;"><span class="sp120" style="margin-left: 35px;"></span>
                            <input type="button" class="btn-pwd-submit" value="确&nbsp;&nbsp认"  onclick="checkInput_password()" data-flag="0"/>
                            <input type="button" class="btn-pwd-back" id="btnback" value="返&nbsp;&nbsp回"/>
                        </li>
                        <li><span class="sp120">&nbsp;</span><span class="error-box" id="errbox"><i class="err-icon"></i><span class="msg" id="modifyPwdERR"></span></span> </li>
                    </ul>
                @*</form>*@
            }
            else
            {
                <div class="points-success">
                    <i class="fail"></i>
                    <div class="res-content">
                        <h3>
                            合作登录用户不能修改密码</h3>
                        <p>
                            如需修改密码，请登录您使用的合作登录网站再修改密码。
                        </p>
                        <span class="morelink">您可能需要：
                        @*<a href="@(Request.UrlReferrer == null ? SiteString.root(Request) : Request.UrlReferrer.ToString())" onclick="history.go(-1);return false;">返回上一页</a>*@
                          <a href="/member/safe" target="_blank">安全中心</a>  | <a href="@(SiteString.getHZUrl(user.LoginInfo.LoginFrom))" target="_blank">登录合作网站</a>
                        </span>
                    </div>
                    <div class="clear">
                    </div>
                </div>  
            }
            <div class="clearfix">
            </div>
        </div>
</div>

<div class="new_buy_right" id="passwordcompl" style=" display:none; height:426px;">
    <div class="" style="padding: 50px 0px 50px 0px; margin-top:80px;">
        <div class="mt10 pwd-result">
                <div id="resultSuccess" style=" display:none ">                
                <div class="xgmm_success">
                </div>                    
                <div class="xgsb_msg">
                    <div class="xgxz mt50">
                        <a href="javascript:void 0">安全中心</a> | <a href="javascript:void(0);" id="reset_login">重新登录</a>
                    </div>
                </div> 
                    </div>   
                    <div id="resultflase" style=" display:none ">                             
                <div class="xgmm_success xg_error">
                </div>
                <div class="xgsb_msg">
                    <div class="mt50" style="color: #ff3d00;">
                        错误提示：<span id="err_point" style=" display:block;"></span></div>
                    <div class="xgxz mt10">
                        <a href="/member/safe">安全中心</a> | <a @*href="@(Request.UrlReferrer == null ? SiteString.root(Request) : Request.UrlReferrer.ToString())"*@ href="javascript:void(0)" onclick="Getmodify()">
                            继续修改</a></div>
                </div>  
                </div>            
        </div>
    </div>
</div>


<script type="text/javascript">
        function Getmodify()
        {
            $("#passwordmodify").show();
            $("#passwordcompl").hide();
        }
        $("#reset_login").live("click", function () {
            user.logOut(true);
        });
</script>

