@{
    Layout = "../Shared/_ArtistsLayout.cshtml";
    ViewBag.Title = "创建新模型";
}


<div class="other_con">
    <div class="other_tab clearfix">
        <ul>
            <a href="javascript:void(0)" date-type="my">
                <li class="on">创建新模型</li>
            </a>
        </ul>
    </div>
    <div class="other_box">
        <div class="create_new_model" onclick="window.open('/artists/mymanual')" >
            <dl>
                <dt>自选模型</dt>
                <dd class="img">
                    <a href="javascript:void(0)" class="bg2"></a>
                </dd>
                <dd>通过用户上传投注内容创建的模型，灵活度很高，可以创建任意投注内容的模型。</dd>
                <dd class="dd1">(支持除高频、猜冠军、篮球让分、篮球大小分以外所有彩种)</dd>
            </dl>
        </div>
    </div>
</div>
