<div class="mask_state mask_content">
    <div class="project_cont">
         <dl>
            <dt>温馨提醒：</dt><dd>为保证您账户安全请输入资金密码</dd>
        </dl>
        <dl>
            <dt>资金密码：</dt><dd><input type="password" id="balancepwd" class="balancepwd" /></dd>
        </dl>
    </div>
</div>